/* 
-----------------------------------------
	Template CSS Medium Font Styles
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/	

h1, h2{
	font: normal 175% Tahoma, Geneva, sans-serif;
	color:#000;
	}

h3, h4{
	font: normal 150% Tahoma, Geneva, sans-serif;
	color:#000;
	}

#page-wrapper{
	background: #fff;
	font: normal 150% Tahoma, Geneva, sans-serif;
	width:100%;
	min-width: 900px;
	margin: 0 auto;
	padding: 0;
	}
	
/* 
------------------------------
Main Content
------------------------------
*/	

/*--- Right Nav Start ---*/
.nav_right ul li.not_available      {list-style-type: none; font-weight: bold; color: #900; padding: 0 4px;}
/*--- Right Nav End ---*/

.org_wrapper { width: 100%;}

.landing_container{
	float: left;
	width: 50%;
	}
	
.validate, 
.error_msg  ul       {background: #fff; border: 2px dashed #630111; padding: 10px;}	
.error_msg  ul li    {list-style-type: none;}
.validate h4   		 {font: bold 100% Tahoma, Geneva, sans-serif;}
.validate ul         {background: none; list-style-type: none; padding: 0 15px;}
	
/*--- Landing tables Start ---*/	
table.landing	{ width: 96%; background: #000; margin: 1em; }
table.faq	{ width: 50%; background: #000; margin: 1em; }
table.book_landing	{ width: 96%; background: #000; margin: 1em; }
table.landing, table.faq, table.book_landing .landing th, .faq th, .book_landing th, .landing td, .faq td, .book_landing td  { border:none;  border-collapse:collapse; padding: 4px 8px; }
table.faq li, table.landing li    {clear:both;}

.landing tbody td, .faq tbody td, .book_landing tbody td,
.landing tbody td.toc_num, .faq tbody td.toc_num, .booklanding tbody td.toc_num  {	padding: 0.6em 0.6em; background: #fff; border-bottom: 1px dashed #859298; vertical-align:top; }
.landing tbody td.toc_num, .faq tbody td.toc_num, .book_landing tbody td.toc_num {	text-align: center; font-weight:bold; border-left: 1px solid #859298; }

.landing tbody tr td.indent01, .faq tbody tr td.indent01, .book_landing tbody tr td.indent01    { padding: 8px 0 0 32px; }
.landing tbody tr td.indent02, .faq tbody tr td.indent02, .book_landing tbody tr td.indent02    { padding: 8px 0 0 64px; } 
.landing tbody tr td.indent03, .faq tbody tr td.indent03, .book_landing tbody tr td.indent03  { padding: 8px 0 0 96px; }

table.faq ul li, table.landing ul li, table.book_landing ul li  { display:inline; list-style-type:none; float:left; }
/*--- Landing tables End ---*/

/*--- Forms Start ---*/
table.global_forms {
	background: transparent;
	border: #000 solid 2px;
	padding: 15px;
	width: 100%;
	min-width: 850px;
	}

.input_checkbox {
	background:#f4f4f4;
	font: normal 100% Tahoma, Geneva, sans-serif;
	color:#000;
	width: 20px;
	height: 20px;
	}
/*--- Forms End ---*/

.div_search_info{
	background: #fff url(../../images/bg_info_divider.gif) repeat-y;
	padding: 0 5px 40px 60px;
	}
.div_search_info h3 a, .div_search_info h4 a {
	font-weight: bold;
	text-decoration:underline;
	color:#004059;
	}
.div_search_info h3 a:hover, .div_search_info h4 a:hover {
	text-decoration:none;
	}
.div_search_info h5 a {
	font-size: 200%;
	font-weight: bold;
	text-decoration:underline;
	color:#004059;
	}
.div_search_info h5 a:hover {
	text-decoration:none;
	}
.div_search_info ul li {display: inline; list-style-type: none;}

.list01 {
	border-top: #859298 solid 1px;	
	border-left: #859298 solid 1px;
	border-right: #859298 solid 1px;		
	width: 950px;
	}	
.list01 ul li{
	background: #e4e4e4;
	border-bottom: #859298 dashed 1px;
	margin: 0;
	padding: 6px 10px;
	list-style-type:none;
	}
.list01 ul li a{
	font: normal 100% Tahoma, Geneva, sans-serif;
	color:#000;
	text-decoration:none;
	}
.list01 ul li a:hover{
	text-decoration:underline;
	}

/*--- Start Treelist ---*/
div.treelist 		{margin: 0; padding: 15px 15px;}
div.treelist h2 	{font: bold 100% Tahoma, Geneva, sans-serif;}
div.treelist h3, 
div.treelist h4,
div.treelist h5     {font: normal 100% Tahoma, Geneva, sans-serif;}
	
div.treelist                 {margin: 20px 0 0 0; padding: 0;}
div.treelist ul              {padding: 0 0 0 25px;} 
div.treelist li              {list-style-type: none; padding: 4px 0;}
div.treelist ul li a {
	font: normal 100% Tahoma, Geneva, sans-serif;
	color: #000;
	text-decoration:underline;
	}
div.treelist ul li a:hover {
	text-decoration:none;
	}
/*--- End Treelist ---*/
	
.content_container{
	background: transparent;
	margin: 0;
	padding: 15px;
	}
	
.content_container .page_branding       {background: url(../../images/bg_branding_white.jpg) 0 0 no-repeat; width: 901px; height: 320px; margin: 20px auto;}
.content_container .page_branding h2    {display: none;}
	
.topmenu {background:#292929; height:100%; padding: 0 1px;}
.topmenu h3 { color:#000; }
.topmenu h4 {color:#000; font-size: 125%;}

.border_divider03 .bot_signup {
		background: #00aee3;	
		font: bold 100% Tahoma, Geneva, sans-serif;
		cursor:pointer;
		border: 1px solid #000;
		padding: 5px;
		color:#000;
		}
/*.border_divider03 input[type="submit"] {
		background: #00aee3;	
		font: bold 100% Tahoma, Geneva, sans-serif;
		cursor:pointer;
		border: 1px solid #000;
		padding: 5px;
		color:#000;
		}	*/
		
.breadcrumbs_search_container { background: #fff; padding: 10px 0 0 0; }
		
.breadcrumbs_container {
	letter-spacing: 0;
	margin: 0;
	padding: 15px 15px;
	}
.breadcrumbs_container a {
	padding: 0 5px 0 0;
	font-weight:normal;
	text-decoration:underline;	
	color:#004059;
	}	
.breadcrumbs_container a:hover {
	text-decoration:none;
	}	
.breadcrumbs_container ul li {
	background: none;
	padding: 0 5px 0 0;
	font-weight:bold;
	color:#004059;
	margin: 0;
	display: inline;		
	}
.breadcrumbs_container li {float: left;}
	
.search_container { clear:both; float:right; width: 290px; padding: 10px 0 0 10px; }
.search_container .text_search {
	background: #e9eaeb;
	font: normal 100% Tahoma, Geneva, sans-serif;
	float:left;
	margin-right: 2px;
	padding: 3px;
	color:#000;
	width:275px;	
	}
/*.search_container input[type="text" class="input_text"]{
	background: #e9eaeb;
	font: normal 100% Tahoma, Geneva, sans-serif;
	float:left;
	margin-right: 2px;
	padding: 3px;
	color:#000;
	width:275px;	
	}*/
	
.border-landing{
	background: #fff;
	border: #000 solid 2px;
	height: 100%;
	}
	
.border-div{
	background: transparent;
	border: #000 solid 2px;
	height: 100%;
	}	
	.border_divider01     {float:left; vertical-align:top; width:40%; padding: 6px 12px; }	
	.border_divider01 ol  {padding: 10px 25px;}
	
	.border_divider02     {float:left; vertical-align:top; width:25%; padding: 6px 12px; }
	.border_divider02 ul  {padding: 10px 25px; list-style-type:none;}
	.border_divider02 p   {padding: 0 ; margin: 0 15px;}
	
	.border_divider03     {float:left; vertical-align:top; width:25%; padding: 6px 12px; }
	.border_divider03 ul  {padding: 10px 25px; list-style-type:none;}	
	
/*--- Start Link Styles---*/
.link_01 a {
	text-decoration:none;
	color:#004059;
	}	
.link_01 a:hover {
	text-decoration:underline;
	}
	
.link_02 a {
	text-decoration:underline;
	color:#004059;
	}	
.link_02 a:hover {
	text-decoration:none;
	}
/*--- End Link Styles---*/



/* 
------------------------------
Faceted search
------------------------------
*/

.faceted_search_container .search_filter_container            {border: 1px solid #000; float: left; width: 30% !important;}
.faceted_search_container .search_filter_container h3         {font-size: 100%; font-weight: bold; color: #900;}

.faceted_search_container .search_filter_container a          {color: #004059; text-decoration: underline;}
.faceted_search_container .search_filter_container a:hover    {text-decoration: none;}

.faceted_search_container .search_filter_container .search_filter_selection_container .search_filter_level_container span.input_button input {
	background: #004059; border: 1px solid #0b6e95; color:#fff; margin: 0; padding: 0 5px; cursor: pointer;}

.faceted_search_container .search_filter_container .search_filter_control          {background: #eaeaea; border-bottom: 1px dashed #859298; margin: 0; padding: 5px 0;}
.faceted_search_container .search_filter_container .search_filter_control ul       {margin: 0; padding: 0;}
.faceted_search_container .search_filter_container .search_filter_control ul li    {list-style-type: none; display: inline; float: left; margin: 5px 2px; padding: 2px 0;}
.faceted_search_container .search_filter_container .search_filter_control ul li a  {
	background: #004059; border: 1px solid #0b6e95; padding: 5px 10px; color: #fff; text-decoration: none; float: left;}
.faceted_search_container .search_filter_container .search_filter_control span.button input {
	background: #004059; border: 1px solid #0b6e95; color: #fff; text-decoration: none; margin: 0; padding: 5px 10px; cursor: pointer;}

.faceted_search_container .search_results_container    {border: 1px solid #000; float: left; margin: 0 10px; width: 65% !important;}

.faceted_search_container .search_results_container .search_results_content_container .ebook_list {
	background: transparent; border: 1px solid #e6e4e4; padding: 0 10px 5px 10px; position: relative;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list a          {color: #004059; text-decoration: underline;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list a:hover    {text-decoration: none;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list h4         {margin-right: 30px;}

.faceted_search_container .search_results_container .search_results_content_container .journal_list    {background: transparent; border: 1px solid #e6e4e4; padding: 0 10px 5px 10px;}
.faceted_search_container .search_results_container .search_results_content_container .journal_list a          {color: #004059; text-decoration: underline;}
.faceted_search_container .search_results_container .search_results_content_container .journal_list a:hover    {text-decoration: none;}

.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf {
	background: transparent url(../../images/icons_img.png) -985px -26px no-repeat; width: 225px; height: 16px; float: left;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf a {padding: 0 0 0 18px;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf_disabled {
	background: transparent url(../../images/icons_img.png) -985px -45px no-repeat; width: 225px; height: 16px; float: left;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf_disabled a {
	padding: 0 0 0 18px; color: #87888a; text-decoration: none;}
	
.faceted_search_container .search_results_container .search_results_content_container .other_journal_links ul       {margin: 10px 0; padding: 0;}
.faceted_search_container .search_results_container .search_results_content_container .other_journal_links ul li    {display: inline; margin: 5px 0; padding: 0 2px; float: left;}
.faceted_search_container .search_results_container .search_results_content_container .other_journal_links ul li a {
	background: #004059; border: 1px solid #0b6e95; padding: 2px 5px; color: #fff; text-decoration: none; float: left;}
	
.faceted_search_container .search_results_container .search_results_control            {background: #eaeaea; border-bottom: 1px dashed #859298; margin: 0; padding: 5px 0; height: 100%;}
.faceted_search_container .search_results_container .search_results_control ul         {margin: 0; padding: 0; float: left;}
.faceted_search_container .search_results_container .search_results_control ul li      {list-style-type: none; display: inline; margin: 5px 0;}
	
	
	

/* 
------------------------------
Footer
------------------------------
*/

.footer { 
	font: normal 90% Tahoma, Geneva, sans-serif;
	color:#000;
	margin: 12px 0; 
	padding: 0; 
	}
.footer a{
	color:#004059;
	text-decoration:underline;	
	}
.footer a:hover{
	text-decoration:none;
	}
	
	
/*--- CSS Sprite Links and Icons Start ---*/

.arrow_05 dl ul      {margin: 0; padding: 0;}
.arrow_05 dl ul li   {display:inline;}
.arrow_05 dl ul li a, .arrow_05 dl ul li a:hover {
	background: transparent url(../../images/icons_img.png) -558px 2px no-repeat;
	padding: 0 12px;
	float:left;
	color:#004059;
	text-decoration: underline;
	}

/*--- CSS Sprite Links and Icons End ---*/