/* 
-----------------------------------------
	CSS IE Hack
	Added by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/

blockquote#indent {
padding-top:10px;
width: 40%;
text-align: right;
margin-left: 200px;
}

blockquote#indent p {
text-align: justify;
margin-right: 0px;
} 



