#uploadStatus {
	background-color:		#F9F7ED;
	padding:				10px 15px;
	width:					420px;
}

#uploadStatus .progress {
	background:				white url(../images/uploader/progress-bar/progress.gif) no-repeat;
	background-position:	+50% 0;
	margin-right:			0.5em;
}

#uploadStatus .progress-text {
	font-size:				0.9em;
	font-weight:			bold;
}

#uploadList {
	list-style:				none;
	width:					450px;
	margin:					0;
}

#uploadList li.file {
	border-bottom:			1px solid #eee;
	background:				url(../images/uploader/file.png) no-repeat 4px 4px;
}

#uploadList li.file.file-uploading {
	background-image:		url(../images/uploader/uploading.png);
	background-color:		#D9DDE9;
}

#uploadList li.file.file-success {
	background-image:		url(../images/uploader/success.png);
}

#uploadList li.file.file-failed {
	background-image:		url(../images/uploader/failed.png);
}

#uploadList li.file .file-name {
	font-size:				1.2em;
	margin-left:			44px;
	display:				block;
	clear:					left;
	line-height:			40px;
	height:					40px;
	font-weight:			bold;
}

#uploadList li.file .file-size {
	font-size:				0.9em;
	line-height:			18px;
	float:					right;
	margin-top:				2px;
	margin-right:			6px;
}

#uploadList li.file .file-info {
	display:				block;
	margin-left:			44px;
	font-size:				0.9em;
	line-height:			20px;
	clear:					both;
}

#uploadList li.file .file-remove {
	clear:					right;
	float:					right;
	line-height:			18px;
	margin-right:			6px;
}