/* 
------------------------------------------------------------
	Stahl Online - Chapter Chunks Style Sheet
------------------------------------------------------------
*/

body { width: 100%; color: #333; }

.legacy_content_container {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #CCCCCC;
	width: 95%;
	margin: 20px auto;
	font-size: 14px;
	padding: 10px;
}

.legacy_content_container .toc-sec_chapter-toc, .legacy_content_container .toc-sec_toc-sec, br  { display: none }

.legacy_content_container ul { list-style-type: disc; margin-left: 25px;  }

.logo { margin-top: 30px; }

.logo img { width: 180px; }


/*------------------
title-info styles
--------------------*/

h1.title-info { margin: 0; }

h2.title-info-subtitle { margin: 10px 0 5px 0; font-size: 24.5px;  }

.edition { margin: 5px 0; }

.author { margin: 5px 0; font-weight: bold;  }


/*------------------
dedication styles
--------------------*/


/*------------------
preface styles
--------------------*/

h2.preface {
	border-bottom: 1px solid #CCC; font-size: 15px; 
	padding-bottom: 5px; margin-top: 0;	
}

.preface h3.sec1 { color: #333; }


/*------------------
half title styles
--------------------*/

h1.half-title { margin: 0; font-weight: normal; font-size: 170%; padding-bottom: 10px; }

h2.half-title-subtitle { font-weight: bold; font-size: 110%; margin: 0 0 20px 0; }


/*------------------
toc styles
--------------------*/

h2.toc, .toc-item { border-bottom: 1px solid #e9e9e9; padding: 10px 0px 15px 0px; margin-top: 0; font-size: 1em; }

.toc-chapter_label { padding: 3px 0; }

.toc-chapter_label a { color: #333; }


/*------------------
content styles
--------------------*/

h2.chapter {font-weight: bold; margin: 0; font-size: 17.5px}

h2.chapter .title { color: #583f9a; }

h3 {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 21px;
	width: 100%;
	margin: 40px auto;
	text-align: center;
}
 
h4 { padding: 0; font-weight: bold; }

a {color: #583f9a}

a:hover, a:focus {color: #583f9a; text-decoration: none;}

.bold, .fig .label { font-weight: bold; }

p {
	margin: 0 0 5px 0;
	padding: 5px 0 5px 0;
	font-size: 1em;
}

.fig {
	width: 100%; font-size: 13px; margin: 20px auto; 
}

.fig img { 
	padding: 5px;
	min-width: 1px;
	max-width: 570px;
	width: auto\9; /* IE7-8 need help adjusting responsive images */
	height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretched */
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
	border: 1px solid #CCC; 
	margin: 10px auto;
	position: relative; display: block; 
}


/*------------------
frontmatter styles
--------------------*/

.frontmatter p { padding: 0; }

h2.frontmatter { font-size: 21px; font-weight: bolder; margin-top: 0; }

h2.frontmatter .title { color: #333; }

h4.sec2 { padding-top: 10px; margin: 0;  }

h5.sec3 { font-size: 14px; margin: 0; } 

#c02598-0-40, #c02598-0-41, #c02598-0-43, #c02598-0-45, #c02598-0-48, #c02598-0-49, #c02598-0-50, #c02598-0-51,
#c02598-0-64, #c02598-0-65, #c02598-0-66, #c02598-0-67, #c02598-0-68 { color: #333; margin-top: 20px; }

h3.sec1 { font-weight: bold; font-size: 13px; color: #583f9a; text-align: left !important; margin: 0; }

.italic { font-style: italic; } 

/*------------------
index styles
--------------------*/

h2.index { font-size: 110%; font-weight: bold; margin: 0 0 10px 0;  }

.index-list > div { margin-left: 20px; padding: 3px 0 3px 15px; background: url(../images/bullet.jpg) 0 10px no-repeat; }

.index-list > div > div { margin-left: 40px; padding: 3px 0 3px 30px; background: url(../images/bullet.jpg) 0 10px no-repeat; }

/*------------------
references/suggested reading styles
--------------------*/

h2.references {
	border-bottom: 1px solid #CCC; font-size: 15px; 
	padding-bottom: 5px; margin-top: 0;	
}

h3.ref-sec1 { 
	font-size: 14px;  
	text-transform: uppercase;
	font-weight: bolder;
	width: 100%;
	margin: 20px auto;
	text-align: left;
}

.citation { padding: 5px 0 }
