/* 
----------------------------------------
CBO Production Users - General
CSS document
Modified Date: 11-May-2009
Modified By: Cito Galang
Additional CSS: Jeff Nuqui
Poperties: 436 lines, 6.13 KB
----------------------------------------
*/

/* 
------------------------------
html styles
------------------------------
*/

body {
background: #FFFFFF;
color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 70%;
margin: 0;
padding: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
margin: 0;
padding: 0;
}

table {
font-size: 1em;
}

td {
vertical-align: top;
}

form {
margin: 0;
padding: 0;
}

img {
border: 1;
}

/* 
------------------------------
standard link styles
------------------------------
*/

a {
color: #003399;
text-decoration: underline;
}

a:hover {
text-decoration: none;
}

/* 
------------------------------
tools
------------------------------
*/

input, textarea, select {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
margin: 0;
padding: 0;
}

/*** input classes ***/

input.button {
color: #000000;
cursor: pointer;
background: #FFFFFF;
font-size: 0.93em;
}

input.login_field {
width: 140px;
}

input.register_field {
width: 180px;
}

textarea.register {
width: 180px;
}

textarea.message {
width: 350px;
}

/*
------------------------------
strip and welcome
------------------------------
*/

#strip {
font-size: 0.93em;
margin: 20px 0 10px 0;
padding: 0 10px 0 10px;
}

#strip h1 {
display: none;
}

#strip img {
display: block;
voice-family: "\"}\""; 
voice-family: inherit;
display: inline;
}

html>body #strip img {
display: inline;
}

/*** welcome div ***/

#welcome {
background: #E4F1FF;
float: right;
margin: 0;
padding: 0;
width: 192px;
}

td#left #welcome {
float: none;
font-size: 0.93em;
}

#welcome h2 {
background: #6699CC;
border-bottom: 1px dashed #A5BBD1;
color: #FFFFFF;
font-size: 1.1em;
font-weight: 700;
margin: 0;
padding: 4px 5px 4px 5px;
}

#welcome ul li {
border-bottom: 1px dashed #A5BBD1;
display: block;
padding: 4px 5px 4px 5px;
width: 172px;
\width: 182px;
w\idth: 172px;
}

#welcome ul li a:link, #welcome ul li a:visited {
text-decoration: underline;
}

#welcome ul li a:hover {
text-decoration: none;
}

#welcome ul li form input {
margin: 2px 0 5px 0;
}

#welcome ul li form input.button {
margin: 0;
padding: 0 3px;
vertical-align: bottom;
}

#welcome ul li p.alert {
color: #FF0000;
}

/* 
--------------------------------------
crumb trail
--------------------------------------
*/

#location {
clear: none;
color: #666;
margin: 10px 192px 15px 0;
padding: 0 10px 0 5px;
}

#location a {
text-decoration: none;
}

#location a:hover {
text-decoration: underline;
}

/* 
--------------------------------------
navigation
--------------------------------------
*/

#navigation {
color: #6699CC;
font-size: 1em;
margin: 0 10px 10px 12px;
padding: 0;
white-space: wrap;
}

#navigation ul {
white-space: wrap;
}

#navigation ul li {
display: inline;
}

#navigation ul li a {
color: #003366;
font-weight: 700;
text-decoration: none;
}

#navigation ul li a:hover {
color: #6699CC;
}

/* 
------------------------------
structural css
------------------------------
*/

table#content {
width: 100%;
margin: 0;
}

td#left {
width: 182px;
padding: 0 0 0 10px;
}

td#centre {
vertical-align: top;
padding: 0 10px 0 10px;
}

/* 
--------------------------------------
left panel link styles
--------------------------------------
*/

td#left a {
text-decoration: none;
color: #000000;
}

/* 
--------------------------------------
centre styles
--------------------------------------
*/

td#centre h1 {
background: #6699CC;
clear: right;
color: #FFFFFF;
font-size: 1.1em;
font-weight: 700;
margin: 0 0 5px 0;
padding: 4px 5px;
}


td#centre h2 {
background: #6699CC;
color: #FFFFFF;
font-size: 1em;
font-weight: 700;
margin: 25px 0 5px 0;
padding: 4px 5px 4px 5px;
}

td#centre h3 {
font-size: 1em;
font-weight: normal;
margin: 0 0 5px 0;
padding: 0;
}

td#centre h4 {
font-size: 1em;
font-weight: normal;
margin: 0 0 3px 0;
padding: 0;
}

td#centre h5 {
font-size: 1em;
font-weight: normal;
margin: 0;
padding: 0;
}

td#centre p {
margin: 0 0 10px 0;
padding: 0;
}

td#centre span.strong {
font-weight: 700;
}

td#centre ul {
margin: 0;
padding: 0;
}

td#centre li {
margin: 0 0 2px 0;
padding: 0;
}

/*
------------------------------
footer
------------------------------
*/

#footer {
color: #666666;
font-size: 0.93em;
border-top: solid 1px #CCCCCC;
margin: 10px 0 0 0;
padding: 10px 0 10px 10px;
}

#footer ul li {
display: inline;
}

#footer ul li a {
color: #666666;
}

/*
------------------------------
centre main div - registered
------------------------------
*/

td#centre #registered {
margin: 0;
padding: 0;
}

td#centre #registered h4 {
color: #6699CC;
font-weight: 700;
margin: 0;
}

td#centre #registered table {
margin: 0;
width: 100%;
}

td#centre #registered table td {
padding: 0 10px 10px 5px;
vertical-align: middle;
}

td#centre #registered table td.title {
font-weight: 700;
}

td#centre #registered table td.fields {
width: 99%;
}

td#centre #registered table tr.shaded td {
background: #E4F1FF;
border-top: 1px solid #FFFFFF;
color: #003366;
padding: 5px 10px 5px 5px;
vertical-align: middle;
}

td#centre #registered table tr th {
background: #E4F1FF;
border-top: 1px solid #FFFFFF;
color: #003366;
padding: 5px 10px 5px 5px;
vertical-align: middle;
text-align: left;
font-weight: normal;
}

td#centre #registered table tr.border td {
border-top: 2px solid #E4F1FF;
padding: 10px 10px 10px 5px;
}

td#centre #registered table tr.border td table.jsf_table {
margin: 0;
width: 100%;
}

td#centre #registered table tr.border td table.jsf_table tr td {
border-top: 0;
padding: 0;
}

td#centre #registered table.terms td {
padding: 0px 3px 10px 5px;
}

td#centre #registered table.terms td.check {
vertical-align: top;
}

td#centre #registered table.terms tr.border td {
padding: 10px 3px 10px 5px;
}

td#centre #registered table.registered_buttons td {
border-top: 1px #6699CC dotted;
padding: 5px 0 0 0;
}

td#centre #registered table.registered_buttons td.next {
padding: 5px 0 10px 0;
}

.twentyfive {
padding: 3px 5px 3px 5px !important;
width: 25% !important;
border-top: 2px solid #E4F1FF;
}

.fifty {
padding: 3px 5px 3px 5px !important;
width: 50% !important;
border-top: 2px solid #E4F1FF;
}


.twentysix {
padding: 3px 5px 3px 5px !important;
width: 25% !important;

}

.fiftyone {
padding: 3px 5px 3px 5px !important;
width: 50% !important;

}

/* removed css for blockquote here - PID 71011 */


/*
------------------------------
page loading
------------------------------
*/

#loading {
margin: 0;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
font-weight: bold;
color: #333333;
}
#loading img {
margin: 5px 0px 0px 0px;
padding: 0px;
}

/* 
----------------------------------------
End of CSS document
----------------------------------------
*/