/* 
----------------------------------------
CBO Production Users - CBO Abstract
CSS document
Modified Date: 06-July-2005
Modified By: Cito Galang
Poperties: 375 lines, 5.22 KB
----------------------------------------
*/

/* 
------------------------------
html styles
------------------------------
*/

body {
background: #FFFFFF;
color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 70%;
margin: 20px 10px 20px 10px;
padding: 0;
}

/*
------------------------------
strip div
------------------------------
*/

#strip {
margin: 0 0 -20px 0;
white-space: nowrap;
}

#strip h1 {
display: none;
}

#strip #close {
float: right;
margin: 10px 0 0 0;
white-space: nowrap;
}

#strip #close a {
font-weight: 700;
color: #6699CC;
}

/* 
------------------------------
abstract div
------------------------------
*/

.abstract {
margin: 40px 0 40px 0;
}

.abstract h4 {
color: #003366;
font-size: 1.1em;
margin: 0 0 10px 0;
}

.abstract h5 {
font-size: 1em;
font-weight: normal;
margin: 0 0 3px 0;
}

.abstract h6 {
font-size: 0.93em;
font-weight: normal;
margin: 0 0 3px 0;
}

.abstract p {
margin: 0 5px 10px 0;
padding: 0;
}

.abstract p.alert {
color: #FF0000;
font-size: 1.1em;
}

.abstract a {
color: #003399;
text-decoration: underline;
}

.abstract a:hover {
text-decoration: none;
}

/* tools */

input, select {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
margin: 0;
padding: 0;
}

input.button {
color: #000000;
cursor: pointer;
background: #FFFFFF;
font-size: 0.93em;
}

/* links */

.abstract .links{
margin: 0 0 20px 0;
padding: 0;
}

.abstract .links ul {
margin: 20px 0 0 0;
padding: 0;
}

.abstract .links li {
border-top: 2px solid #E4F1FF;
border-bottom: 2px solid #E4F1FF;
color: #6699CC;
display: inline;
font-size: 0.93em;
margin: 0;
padding: 5px;
}

.abstract .links li a {
color: #6699CC;
font-weight: 700;
}

/* 
------------------------------
fulltext div
------------------------------
*/

.fulltext {
margin: 0;
}

.fulltext h2 {
font-size: 1.1em;
} 

.fulltext h3 {
font-size: 1em;
}

.fulltext h2.ArtTtl {
font-size: 1.5em;
color: #336699;
}

.fulltext h2.BkDet {
color: #336699;
font-size: 110%;
}

.fulltext h3.BkDet {
color: #336699;
}

.fulltext h4 {
font-size: 1em;
font-style: italic;
}
            
.fulltext p {}

.fulltext p.Dates {
white-space: nowrap;
margin-top:0px;
margin-bottom:0px;
}

.fulltext p.BkDet {
margin-left: 2em;
text-indent: -2em;
}

.fulltext span {}

.fulltext span.nowrap {
white-space: nowrap;
}

.fulltext span.Head {
font-weight: bold;
margin-right: 0.333em;
}

.fulltext span.Ttl {
font-weight: bold;
margin-right: 0.333em
}
 
.fulltext a:link, .fulltext a:visited {
color: #0000FF;
}

.fulltext td {}

.fulltext td h1 {
font-size: 1.5em;
}
		  
.fulltext td h2 {
font-size: 1.3em;
}
		  
.fulltext td h3 {
font-size: 1.1em;
}

.fulltext td h4 {
font-size: 1.1em;
}

.fulltext table.AHead {
width: 100%;
}

.fulltext table.AHead tr td.NavList {
background-color: #DDDDFF;
color: blue;
width: 30%;
}

.fulltext table.AHead tr td.NavList ul {
margin-right: 0.5em;
margin-bottom: 0.5em;
margin-left: 2em;
}

.fulltext table.AHead tr td.NavList ul li {
font-size: 0.93em;
margin-bottom: 0.3em;
text-transform: uppercase;
}

.fulltext table.AutGrp {
width: 100%;
}

.fulltext table tr td.LnkLst {
background-color: #DDDDFF;
color: blue;
padding-right: 1em;
text-align: right;
}

.fulltext table.Eqn {
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
}

.fulltext table.Eqn tr td {
text-align: left;
vertical-align: center;
}

.fulltext table.Eqn tr td img {
margin-left: 2em;
vertical-align:center;
}

.fulltext table.Eqn tr td.EqnNum {
text-align: right;
}

.fulltext table.Fig tr td {
padding: 5px;
}

.fulltext table.Fig tr td a img {
border: none;
}

.fulltext table.Tbl {
width: 100%;
}

.fulltext table.Tbl tr td.Head {
font-weight: bold;
}

.fulltext div.AutBiog {
border: 3px double gray;
padding-right: 1em;
padding-left: 1em;
}

.fulltext div.HangDuoPara p.first {
margin-bottom: 0em;
margin-left: 2em;
text-indent: -2em;
}

.fulltext div.HangDuoPara p.second {
margin-top: 0em;
margin-left: 2em;
}

.fulltext div.AbsDetPara {font-style: roman}

.fulltext div.FtrLst {
background-color: #DDDDFF;
border: 3px double gray;
margin-right: 1em;
margin-left: 1em;
}

.fulltext div.FmlMath {font-style: italic}
.fulltext div.FmlPara {font-style: roman}

.fulltext div.Tbl p.Ttl {
font-weight: bold;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.fulltext div.Tbl p.Lgd {
margin-top: 0.5em;
margin-bottom: 0.5em;
} 

.fulltext div.Tbl div.Awk {
text-align: center;
}

/* 
------------------------------
validate div
------------------------------
*/

.validate {
background: #E4F1FF;
color: #FF0000;
margin: 10px 0 10px 0;
padding: 10px 10px 0 10px;
}

.validate p {
margin: 0;
padding: 0 0 10px 0;
}

/* 
------------------------------
top div
------------------------------
*/

.top {
font-size: 0.93em;
float: right;
display: inline;
padding: 0 2px 0 5px; 
}

.top a {
color: #003399;
text-decoration: underline;
}

.top a:hover {
text-decoration: none;
}

/* 
------------------------------
.table-footnote (added by mfernandez 06-March-2006)
------------------------------
*/

/*p.table-footnote {
font-family: verdana,arial,sans-serif;
font-size: 70%;
}*/
div.table-footnote p {padding:0; margin:0; border:0}

/* 
------------------------------
.Tble (added by mfernandez 06-March-2006)
------------------------------
*/

table.Tble thead tr {
border-bottom: solid black; 
background-color :#eeeeee; 
font-weight: bold; 
text-align: center;
}

table.Tble thead tr td {
vertical-align: bottom; 
border-bottom: solid black 1px;
}

table.Tble {
width: 90%; 
border-top: solid black; 
border-bottom: solid black;
}

table.Tble tr td.Head {
font-weight: bold;
}

table.Tble tbody td {
border: 0;
}

/* 
------------------------------
(added by mfernandez 09-March-2006)
------------------------------
*/


span.attrib {
text-align: right;
}

li p {
margin: 0;
}

dl {
font-family: verdana,arial,sans-serif;
font-size: 10pt; 
text-indent: 2em;
}

dt {
font-weight:bold;
}

ul.simple {
list-style:none; 
text-indent: -2em;
}

td.list-number {
white-space:nowrap; 
vertical-align:top;
 text-align:right;
 padding-right: 1em;
}

table.numberedList {
margin-left: 1em;
margin-top: 1em;
margin-bottom:1em;
}

/* new after 15 March release*/

h1.Ahead {font-size:13pt; text-transform:uppercase}

h1.Ahead em {text-transform:none}

div.books {font-weight:bold}

table.Tble {width: 90%; border-top:solid black; border-bottom: solid black; margin: 5px}

table.Fig {margin-top:20px}

p.attrib {text-align:right; margin:0}

/* added by AL 6 April 2006 (also uc to NavList ul li above)*/


/*div.statement { padding-left: 1em }*/

div.statement p span.theorem {font-style: italic}

div.statement p span.theorem em {font-style: none}

td.NavList * img {border: none}

table.AHead tr td.NavList ul li em {text-transform:none}

/*2006-04-13*/
div.Tbl {margin-top:20px}

/*2006-06-12*/
table.defList th, table.defList tr td {vertical-align:top}

span.speaker {font-variant: small-caps}

h2.app {font-size:90%; text-transform:uppercase}

/*2006-06-21*/

div.boxed-text {border: solid 1px; margin: 1em; padding-left:1em; padding-right:1em}
div.boxed-text p table.Eqn {margin-top: 0; margin-bottom: 0}
/*div.boxed-text {border: solid 1px; margin: 1em; padding:1em}*/

li * ul {margin: 0; padding: 0; border: 0}

/*2006-06-28*/
div.Tbl p.Thn {margin-top: 0em}

table.Fig * p.attrib {text-align:left; margin:0}

/*2006-07-17*/
p.speech {margin-left: 1em}

/*2006-07-25 table.numberedList see above; boxed text changes, see above */
/*08-22 book review details in sub-article*/
h4.BkDet {font-style: normal; font-weight:normal}
h4.BkDet  span.BkDet {font-weight: bold}
p.subarticle-title {font-weight:bold; margin: 0; padding: 0; border: 0}
p.subarticle-authors { margin: 0; padding: 0; border: 0;}
p.subarticle-aff {margin: 0; padding: 0; border: 0}
span.contrib {font-weight: bold}
p.subarticle-authors span.contrib {font-weight:normal}
/*2006-10-19 reverse out italic in italic style*/
em i {font-style:normal}
i em {font-style:normal}

div.fig-group {border: solid gray 1px; margin: 1em; padding: 1em }

/*style moved from html*/
div.AppGrpTtl {font-weight:bold }
span.source, span.etal {font-style:italic }
span.DefTtl, .TermHead, .DefHead, span.term, span.StatementTtl, span.chapter, span.AbstractTtl {font-weight:bold}


table.numberedList tr td p {padding:0px; margin:0px; border:0;}
table.numberedList tr td table.numberedList {padding:0px; margin:0px; border:0px;}

/*added 14/12/06*/
h2.SubTtl {font-size: 100%}
h2.SubTtl {color: #336699}

blockquote table.numberedList {margin-left: -1em}
div.table-footnote  {padding-top:10px;}

/* added 17/04/07*/
.source em {font-style:normal};
/* 
/*27-06-07*/
.array {margin-top:1em; margin-bottom:1em;}

/*20-8-07*/
table.links {margin-top:5px;  }

/* for xslt2 version */
div.LstTtl {font-weight:bold;}
div.speech {margin-left: 1em; margin-top: 1em;}
div.speech2 {margin-left: 5em}
div.theorem {font-style: italic}
span.link {
color: #003399;
text-decoration: underline;
cursor: pointer;
}
/*div.aff {padding-top:1em;}*/
.catchline (padding:0px;}
span.StatementTtl {font-weight:bold; font-style:normal;}
div.FtrLst p.label { margin:0px; }
div.FtrLst p { margin-top:0px; }
span.term {white-space:nowrap;}
table.defList {margin-top:1em; margin-bottom:1em;}




----------------------------------------
End of CSS document
----------------------------------------
*/