/* 
--------------------------------------------
CBO Production Users - Content
CSS document
Modified Date: 11-May-2009
Modified By: Cito Galang
Additional CSS: Jeff Nuqui
Poperties: 553 lines, 9.14 KB

Updated by: John Ryan Acoba
            User Interface Designer
			Year 2011
--------------------------------------------
*/

/* 
------------------------------
centre style classes
------------------------------
*/

td#centre p.top {
background: #FFFFFF;
font-size: 0.93em;
margin: 5px 0 0 0;
padding: 5px 3px 3px 0;
}

td#centre p.note {
font-size: 0.93em;
margin: 0;
}

td#centre p.alert {
color: #FF0000;
font-size: 1.1em;
}

td#centre ul#editor {
margin: 0 0 10px 0;
}

/*
------------------------------
centre divs - Browse eBooks
------------------------------
*/

td#centre #atoz {
margin: 0;
padding: 0;
}

td#centre #atoz ul {
background: #E4F1FF;
margin: 0;
padding: 5px;
}

td#centre #atoz ul li {
display: inline;
list-style-type: none;
margin: 0 5px 0 0;
padding: 0;
}

td#centre #atoz ul li a {
color: #003366;
font-weight: 700;
margin: 0;
padding: 0;
text-decoration: none;
}

td#centre #atoz ul li a:hover {
text-decoration: underline;
}

td#centre #alphalist {
clear: left;
margin: 0;
padding: 2px 0 10px 0;
}

/* Dimensions the browse box to allow 100% table for PC IE \*/
*html td#centre #alphalist {
height: 1%;
}
/* End hide from IE5-mac */

td#centre #alphalist h2 {
background: #E4F1FF;
color: #003366;
margin: 15px 0 -1px 0;
}

td#centre #alphalist table {
margin: 0;
width: 100%;
}

td#centre #alphalist table td {
border-top: 2px solid #E4F1FF;
padding: 0 0 0 5px;
vertical-align: middle;
}

td#centre #alphalist table td.ebook {
width: 99%;
}

td#centre #alphalist table tr td h3 {
margin: 0;
padding: 5px 0 5px 0;
}

td#centre #alphalist table tr td h3 a {
text-decoration: none;
}

td#centre #alphalist table tr td h3 a:hover {
text-decoration: underline;
}

/*
------------------------------
centre body and floated panel div
------------------------------
*/

td#centre #body {
margin: 0 192px 0 0;
padding: 0;
}

/* Hides from IE5-mac \*/
*html td#centre #body {
height: 1%;
margin: 0 190px 0 0;
}
/* End hide from IE5-mac */

td#centre #floated_col {
float: right;
margin: 10px 0 0 0;
width: 182px;
}

#floated_col p.jacket img {
border: 1px solid #000;
}

/*
------------------------------
centre available_chapters div
------------------------------
*/

td#centre #available_chapters {
margin: 0 0 20px 0;
clear: left;
padding: 0 0 0 0;
}

/* Dimensions the browse box to allow 100% table for PC IE \*/
*html td#centre #available_chapters {
height: 1%;
}
/* End hide from IE5-mac */

td#centre #available_chapters h2 {
margin: 0;
padding: 4px 0 4px 5px;
}

td#centre #available_chapters h2.editors {
border-top: 1px solid #FFFFFF;
font-weight: normal;
}

/* tables */

td#centre #available_chapters table {
margin: 0;
width: 100%;
}

td#centre #available_chapters table td {
margin: 0;
padding: 5px;
}

td#centre #available_chapters table td.fields {
width: 99%;
}

td#centre #available_chapters table td.inputs {
padding: 5px 10px 5px 10px;
text-align: center;
}

td#centre #available_chapters table td.icon {
padding: 7px 0 0 2px;
width: 14px;
}

td#centre #available_chapters table tr.shaded td {
background: #E4F1FF;
border-top: 1px solid #FFFFFF;
}

td#centre #available_chapters table tr.shaded td {
background: #E4F1FF;
border-top: 1px solid #FFFFFF;
}

td#centre #available_chapters table.basket_buttons td {
border-top: 1px #6699CC dotted;
padding: 5px 0 0 0;
text-align: right;
}

td#centre #available_chapters table td h5 {
margin: 5px 0 0 0;
}

/*
------------------------------
centre divs - Issue page
------------------------------
*/

td#centre #toc  {
clear: left;
margin: 0 0 20px 0;
padding: 0 0 0 0;
}

/* Dimensions the browse box to allow 100% table for PC IE \*/
*html td#centre #toc {
height: 1%;
}
/* End hide from IE5-mac */

td#centre #toc h2 {
margin: 0;
padding: 4px 0 4px 5px;
}

td#centre #toc h2.editors {
border-top: 1px solid #FFFFFF;
font-weight: normal;
}

/* tables */

td#centre #toc table {
width: 100%;
}

td#centre #toc table th, td#centre #toc table td {
border-bottom: 2px solid #E4F1FF;
padding: 5px;
}

td#centre #toc table td.icon {
padding: 7px 0 0 0;
width: 11px;
}

td#centre #toc table td.article {
font-weight: 700;
width: 99%;
}

td#centre #toc table td.save {
width: 40px;
text-align: center;
}

td#centre #toc table td.basket {
width: 40px;
text-align: center;
}

td#centre #toc table td.inputs {
padding: 5px 10px;
text-align: center;
}

td#centre #toc table td.check {
color: #6699CC;
font-size: 0.93em;
font-weight: 700;
text-align: right;
}

td#centre #toc table td.subject a {
font-weight: 700;
}

td#centre #toc table tr.shaded td {
background: #E4F1FF;
border-top: 1px solid #FFFFFF;
color: #003366;
vertical-align: middle;
}

td#centre #toc table tr.shaded td.icon {
padding: 2px 0px 2px 4px;
}

td#centre #toc table tr.shaded2 td {
background: #E4F1FF;
border: none;
color: #003366;
vertical-align: middle;
}

td#centre #toc table tr.selectall td {
border: none;
vertical-align: middle;
}

td#centre #toc table tr.selectall_top td {
vertical-align: middle;
}

td#centre #toc table tr.alert td {
background: #E4F1FF;
color: #6699CC;
font-weight: 700;
vertical-align: middle;
}

td#centre #toc table tr th {
background: #E4F1FF;
border-top: 1px solid #FFFFFF;
color: #003366;
padding: 5px 10px 5px 5px;
vertical-align: middle;
text-align: left;
font-weight: normal;
}

td#centre #toc table tr th span.chapterDescription {
font-weight: 700;
width: 99%;
}

td#centre #toc table tr td.firstColumn {
width: 40%;
}

td#centre #toc table tr td.nextColumn {
width: 20%;
}

/* table classes */

td#centre #toc table.basket_buttons td {
border: none;
border-top: 1px #6699CC dotted;
padding: 5px 0 0 0;
text-align: right;
}

td#centre #toc table.basket_buttons td.sortby {
text-align: left;
}

td#centre #toc table.registered_buttons td {
border: none;
padding: 5px 0 0 0;
}

/* table styles */

td#centre #toc table h2 {
background: none;
color: #003366;
padding: 10px 0 0px 0px;
}

td#centre #toc table td ul {
margin: 7px 0 0 0;
}

td#centre #toc table td ul li {
color: #6699CC;
display: inline;
font-size: 0.93em;
margin: 0 5px 0 0;
}

td#centre #toc table td ul li a {
color: #6699CC;
font-weight: 700;
}

td#centre #toc table tr.selectall td ul {
margin: 0;
}

td#centre #toc table select {
vertical-align: middle;
}

/*
------------------------------
centre divs - Search results
------------------------------
*/

td#centre #searchresults {
clear: right;
margin: 0;
padding: 0;
}

td#centre #searchresults h2 {
margin: 0;
padding: 4px 0 4px 5px;
}

/* tables */

td#centre #searchresults table {
margin: 0;
width: 100%;
}

td#centre #searchresults table td {
border-bottom: 2px solid #E4F1FF;
padding: 5px;
}

td#centre #searchresults table td.icon {
padding: 7px 0 0 0;
width: 11px;
}

td#centre #searchresults table td.article {
font-weight: 700;
width: 99%;
}

td#centre #searchresults table td.inputs {
text-align: center;
}

td#centre #searchresults table td.check {
color: #6699CC;
font-size: 0.93em;
font-weight: 700;
text-align: right;
}

td#centre #searchresults table tr.shaded td {
background: #E4F1FF;
border: none;
border-bottom: 1px solid #FFFFFF;
color: #003366;
vertical-align: middle;
}

td#centre #searchresults table tr th {
background: #E4F1FF;
border: none;
border-bottom: 1px solid #FFFFFF;
color: #003366;
padding: 5px;
text-align: left;
font-weight: normal;
}

td#centre #searchresults table tr.selectall td {
border: none;
vertical-align: middle;
}

td#centre #searchresults table tr.selectall_top td {
vertical-align: middle;
}

/* table classes */

td#centre #searchresults table.search_navigation {
margin: 5px 0;
}

td#centre #searchresults table.search_navigation td {
border-bottom: none;
border-top: 1px #6699CC dotted;
color: #6699CC;
font-size: 0.93em;
font-weight: 700;
padding: 5px 0 2px 0;
vertical-align: middle;
}

td#centre #searchresults table.search_navigation td.goto1 {
text-align: right;
width: 99%;
}

td#centre #searchresults table.search_navigation td.goto2 {
padding: 5px 5px 2px 0;
}

td#centre #searchresults table.search_navigation select {
margin: 0 10px 0 5px;
vertical-align: middle;
}

td#centre #searchresults table.search_navigation td a {
color: #6699CC;
}

td#centre #searchresults table.basket_buttons td {
border: none;
border-top: 1px #6699CC dotted;
padding: 5px 0 0 0;
text-align: right;
}

td#centre #searchresults table.basket_buttons td.top {
padding: 5px 0 5px 0;
}

/* table styles */

td#centre #searchresults table td ul {
margin: 7px 0 0 0;
}

td#centre #searchresults table td ul li {
color: #6699CC;
display: inline;
font-size: 0.93em;
margin: 0 5px 0 0;
}

td#centre #searchresults table td ul li a {
color: #6699CC;
font-weight: 700;
}

td#centre #searchresults table tr.selectall td ul {
margin: 0;
}

td#centre #searchresults table tr.selectall_top td ul {
margin: 0;
}

/*
------------------------------
centre divs - Advanced search
------------------------------
*/

td#centre #advanced_search {
margin: 0;
padding: 0;
}

td#centre #advanced_search table {
margin: 0;
width: 100%;
}

#advanced_search table td {
padding: 0 10px 10px 5px;
vertical-align: middle;
}

#advanced_search table td.fields {
width: 99%;
}

#advanced_search table tr.border td {
border-top: 2px solid #E4F1FF;
padding: 10px 10px 10px 5px;
}

#advanced_search table.search_buttons td {
border-top: 1px #6699CC dotted;
padding: 5px 0 0 0;
}





/* 
----------------------------------------
Browse eBooks
----------------------------------------
*/
#browse_ebooks {

}
#browse_ebooks #browse_contents {margin: 0 5px; padding: 0;}

#jacket_covers {margin: 0; padding: 0; float: right;}

#browse_ebooks #ebooks_list table {
	width: 100%;
	clear: both;
}
#browse_ebooks h3#chapter_title {
	margin: 0px 0px 10px 0px;
	padding: 7px 5px 7px 5px;
	background: #F1F1F1;
	font-size: 12px;
}
#browse_ebooks #ebooks_metadata {
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#browse_ebooks #ebooks_list table th.header_sort {
margin: 0px 200px 0px 0px;
padding: 10px 5px 5px 5px;
background: #E4F1FF;
text-align: left;
vertical-align: top;
}

#browse_ebooks #ebooks_list table th {
margin: 0;
padding: 5px 5px 5px 5px;
background: #F1F1F1;
text-align: left;
vertical-align: middle;
}

#browse_ebooks #ebooks_list table th a {
text-decoration: none !important;
color: #003366;
}
#browse_ebooks #ebooks_list table th a:hover {
color: #6699CC;
}

#browse_ebooks #ebooks_list table tr#required_fields {
background: #E4F1FF;
}

#status_pagination {
	padding: 5px 0px 0px 0px !important;
	margin: 0px;
	border-bottom: solid 1px #6699CC;
	width: 100%;
	height: 20px;
}
#status_pagination li {
	float: left;
	padding: 0px 20px 0px 0px !important;
	margin: 0px 20px 0px 0px !important;
	border-right: solid 1px #000;
}
#status_pagination li.totalcount {
	font-weight: bold;
	color: #F00;
}
#status_pagination li.nextprev {
	padding: 2px 0px 0px 0px !important;
	border: none;
}
#status_pagination li.download_summary {
	float: right;
	padding: 0px !important;
	margin: 0px !important;
	border: 0;
}


#part_chapter {
border-left: solid 50px #F1F1F1;
}

#part_chapter2 {
border-left: solid 100px #F1F1F1;
}

#part_chapter3 {
border-left: solid 150px #F1F1F1;
}

#part_chapter4 {
border-left: solid 200px #F1F1F1;
}
#part_chapter4 {
border-left: solid 250px #F1F1F1;
}

#browse_ebooks #ebooks_list tr#even {
background: #f1f1f1;
}

#browse_ebooks #ebooks_list td {
margin: 0;
padding: 5px 5px 5px 5px;
text-align: left;
vertical-align: top;
/*border-bottom: solid 1px #e2e2e2;*/
}

#browse_ebooks #ebooks_list table input {
margin: 0;
padding: 0;
font-weight: normal;
}

#browse_ebooks #ebooks_list #atoz {
margin: 0;
padding: 0;
}

#browse_ebooks #ebooks_list table #atoz ul {
margin: 0;
padding: 0;
}

#browse_ebooks #ebooks_list table #atoz ul li {
display: inline;
list-style-type: none;
margin: 0 5px 0 0;
padding: 0;
}

#browse_ebooks #ebooks_list table tr td.firstColumn {
width: 40%;
}

#browse_ebooks #ebooks_list table tr td.nextColumn {
width: 20%;
}

#button_divider {
margin: 5px 0px 5px 0px;
padding: 5px 5px 5px 5px;
border-top: 1px #6699CC dotted;
}



#backtotop {
margin: 5px 0px 5px 0px;
padding: 10px 5px 10px 5px;
background: #F3F9FF;border-bottom: solid 1px #E4F1FF;
text-align: right;
vertical-align: top;
clear: both;
}
#backtotop a {
font-weight: bold;
text-decoration: none;
}
#backtotop a:hover {
color: #6699CC;
text-decoration: none;
}


#browse_tabs {
padding: 10px 5px 3px 5px;
margin: 0px 0px 10px 0px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
background: #E4F1FF;
border-bottom: solid 1px #6699CC;
}

#browse_tabs li {
display: inline;
margin: 0px 0px 0px 5px;
}

#browse_tabs li a {
text-decoration: none;
position: relative;
padding: 3px 7px;
margin: 0px 3px 0px 0px;
color: #003366;
font-weight: bold;
}

#browse_tabs li a:visited {
color: #003366;
}

#browse_tabs li a:hover {
text-decoration: none;
background: #6699CC;
color: #FFFFFF;
}

#browse_tabs li a.selected { /*selected main tab style */
position: relative;
background: #FFFFFF;
color: #333333;
border-top: solid 1px #6699CC;
border-right: solid 1px #6699CC;
border-bottom: solid 1px #FFFFFF;
border-left: solid 1px #6699CC;
}



ul#keywords_list {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
list-style: none;
}
ul#keywords_list li {
margin: 0px 0px 0px 0px;
padding: 2px 0px 2px 0px;
}
ul#keywords_list li.indent_text {
margin: 0px 0px 0px 0px;
padding: 2px 0px 2px 30px;
}

#browse_ebooks #ebooks_list table tr td.two {
width: 2% !important;
}

#browse_ebooks #ebooks_list table tr td.ten, #browse_ebooks #ebooks_list table tr th#ten {
	width: 150px !important;
}

#browse_ebooks #ebooks_list table tr td.sixtyfive {

}

#browse_ebooks #ebooks_list table tr td.twentyfive, #browse_ebooks #ebooks_list table tr th#twentyfive {
	border-top: none;
	width: 200px !important;
}

#browse_ebooks #ebooks_list table tr td.checkall, #browse_ebooks #ebooks_list table tr th.checkall {
	width: 15px !important;
}

ul#keywords_list_column {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
list-style: none;
width: 20%;
float: left;
}
ul#keywords_list_column li {
}
ul#keywords_list_column li blockquote {
margin: 0px 0px 0px 0px;
padding: 5px 5px 5px 20px;
}

ul#keywords_list_column li div {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 20px;
}


/* 
----------------------------------------
End of CSS document
----------------------------------------
*/