/*Styles for epub2 - USED AS A SUMMY CSS FOR CBO HTML*/
/*
 ORDER OF STYLES
 body etc.
 headings h1-h6 parts, chapters, sections
 abstract
 PRELIMS
 title page
 imprints page
 dedication
 series
 toc
 list of contributors
 glossary
 MAIN TEXT
 chapter authors
 subtitle
 footnotes
 inlines
 BLOCKS
 paragraphs, attrib
 speech
 lists
 figures
equations
array
boxes
quotes
def list
questions and answers
figures
tables
SPECIALISED CONTENT
case histories
dictionaries
plays
case report (ILR)
ENDMATTER
references
index
links
svg
Unicode images
PRESCRIBER'S GUIDES
 */


body
{	
    padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
}
table
{	
    padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}
/* COVERPAGE */
.cover
{
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    max-width:100%;
    max-height:100%;
}

/* HEADINGS */	
h1 .italic, h2 .italic, h3 .italic, h4 .italic, h5 .italic{
    font-weight:bold;
}
/* PARTS */
h3, h4, h5, h6{
    text-align:left;
}
h1, h2, h3.chapter, h3.part2, h4.chapter, h3.appendix {
    text-align:center;
}

h2 span.label, h2 span.label, h3 span.label, h4 span.label, h5 span.label, h6 span.label{
    font-size:90%;
    font-weight:bold;
}
/* CHAPTERS  */
h2, h3.chapter, h3.appendix, h4.chapter
{
	margin-bottom : 6%;
	margin-top : 10%;
    border-bottom: 1px solid black;
}
h3.chapter,h3.appendix, h3.part2, h4.chapter{
    font-size:150%;
}
h5.sub-chapter, h4.sub-chapter, h3.sub-chapter{
    text-align:center;
    font-size:120%;
    margin-top:5%;
    border-bottom: 1px solid black;
}
h2.part,h2.appendix-group, h2.part1, h3.part2
{
	font-weight : bold;
	margin-bottom : 10%;
	margin-top:20%;
	font-size:180%;
}
h3.part2{
    border-bottom: 1px solid black;   
}
.copyright-line{
    font-size:90%;
    margin-left:1em;
    margin-top:1em;
}
/* SECTIONS  */

.sec1, h3.ref-sec, h4.ref-sec, h3.dictionary-entry
{
	margin-top : 5%;
	margin-bottom : 2%;
}
h5.sec1,h4.sec1, h5.ref-sec1{
    font-size:130%;
}
h6.ref-sec2, h6.sec2, h5.sec2, h4.sec2{
    font-size:110%;
}
h5.sec3, h6.sec3{
   font-size:105%; 
}
.sec2, .ref-sec1, .ref-sec2, .ref-sec3, .sec3,.sec4, .sec5, .sec6, .sec7
{
	margin-top : 3%;
	margin-bottom : 1%;
}
h5.sec4, h6.sec4{
    font-style:italic;
    font-size:110%;
}
h5.sec4 span.italic, h6.sec4 span.italic{
    font-style:normal;
}

.abstract{
    padding:5%;
    font-size:95%;
}

/*  PRELIMS  */
/*div.half-title .heading
{
	margin-bottom : 1%;
	font-weight : normal;
	font-style : normal;
}*/
/* TITLE PAGE */
div.title-info, .imprints, .title-page{
    text-align:center;
}
h1.title-info, .title-page .title
{
	font-weight : bold;
	margin-top : 10%;
	padding-bottom:2em;
	text-indent : 0;
}
h2.title-info-subtitle, .title-page .subtitle 
{
	margin-top:5%;
}
.half-title .subtitle
{
	font-size:90%;
	font-weight:normal;
	margin-top:5%;
}
div.title-info .author, .title-page .author{
    font-size:110%;
    margin:5%;
}
div.title-info .address, .title-page .address{
    font-style:italic;
    margin-top:0;
    padding-top:0;
}
.logo
{
	margin-top : 10%;
}
/*AUTHORS*/
/*.bio, .title-page
{
   margin-bottom:5%;
}*/
.address 
{
    padding-bottom:5%;
}
/* IMPRINTS PAGE */
.imprints-line, .disclaimer
{
   padding-top:0px; 
   padding-bottom: 0px;
}
.imprints-list
{
    padding-top:2%;
}
/* DEDICATION*/
.dedication
{
   padding:3%;
   font-style:italic;
   text-align:center;
}

/*SERIES*/
.series-name{
    font-size:120%;
    font-weight:bold;
}
.series-book{
    margin-top:1em;
}
.series-books .title{
    font-weight:bold;
}
/*TOC*/

div.toc-chapter_label, div.toc-part_label
{

	text-indent : 0;
	text-align:left;
}
div.toc-sec_toc-chapter_label
{
	text-indent : 2%;
	text-align:left;
}
div.toc-sec_toc-sec_label
{
     text-indent : 4%;
     text-align:left;
}
div.toc-chapter_label span.label, div.toc-sec_toc-chapter_label span.label
{
    padding-right:20px;
}
div.toc-chapter, div.toc-part
{
    text-indent : 0;
    text-align:left;
}
div.toc-authors
{
	text-indent : 4%;
	text-align:left;
}
div.toc-part_label, div.toc-part
{
     font-weight:bold;
     text-align:left;
}
div.toc-part_label, div.toc-part
{
    margin-top:1em;
    text-align:left;
}
div.toc-item, .toc-appendix_label, div.toc-group, div.toc-appendix, div.toc-sec_toc-appendix
{
    font-style:italic;
    text-align:left;
}
div.toc-sec_toc-chapter
{
	text-indent : 4%;
	text-align:left;
}
div.toc-sec_toc-sec
{
    text-indent : 6%;
    text-align:left;
}
.toc-feature-item .attrib
{
	text-align : left;
	text-indent:0;
	font-weight:normal;
}
.toc-sim-p{
    text-indent:4%;
}
/*EXTERNAL-TOC*/
.toc-external_prelims1, .toc-external_endmatter1{
    font-style:italic;
}
.toc-external_prelims2, .toc-external_endmatter2{
    font-style:italic;
    text-indent:2%
}
.toc-external_part2{
    font-weight:bold;
}
.toc-external_sec2{
    text-indent:2%;
}
.toc-external_sec3{
    text-indent:4%;
}
.toc-external_sec4{
    text-indent:6%;
}

/*FOREWORD*/
div.fwd-author, .case-sec div.author
{
	margin-top : 5%;
	margin-bottom : 0.5%;
	text-align : right;
	font-weight:    normal;
}
div.fwd-address, .fwd-date
{
	text-align : right;
	font-style:italic;
}
/*LIST OF CONTRIBUTORS*/
/*body div div.author{*/
/*kindle ignores nested styles*/
div.author{
    text-align:center;
    padding-bottom:3%;
}
div.contrib{
    padding-bottom:3%;
}
div.contributors div.author-group div.contrib div.bio span.name{
    font-weight:bold;
}
div.contributors div.author-group div.contrib{
    text-align:left;
    margin:3%;
    margin-bottom:1em;
}
div.contributors{
    font-weight:normal;
}
span.contrib-name{
    font-weight:bold;
}
/*GLOSSARY*/
div.glossary dl.def-list dt{
    font-weight:bold;
}
/* MAIN TEXT*/
/*CHAPTER AUTHOR*/
div.author-group
{
	margin-top : 5%;
	margin-bottom : 5%;
}
/*chapter author affiliation*/
.chapter div.author-group .bio, .chapter div.author-group .address
{
	margin-top : 0em;
	margin-bottom : 2%;
}
span.subtitle{
    padding-left:0.5em;
    /*font-weight:normal;*/
}
/* FOOTNOTES*/
body div.fn-group{
     /*border-top:solid 1px;*/
     margin-top:5%;
     padding-top:0.5%;
}
div.fn-group div.fn-group{
        border-top:none;
}
.fn
{
        text-indent:5%;
        font-weight:normal;
}

div.fn-group p
{
	margin-top : 5%;
	margin-bottom : 5%;
	padding-top : .01em;
	padding-bottom : .01em;
}

.fn-group .label{
    font-weight:bold;
}
.fn-group .title{
    text-align:left;
}
/*inlines*/
/*.ref-sec .citation .author .name, .series-books .citation .author .name, .bold, .ref-sec .citation .volume
{
     font-weight:bold;
}*/

.bold
{
     font-weight:bold;
}
.bolditalic
{
     font-weight:bold;
     font-style:italic;
}

.catalog-data .title, .italic, .book-title, .journal-title
{
     font-style:italic;
     font-weight:normal;
}

.small {
    font-size:80%;
}
.strike{
    text-decoration:line-through;
}
.underline
{
	text-decoration: underline;
}

.inline-mime
{
     line-height:normal;
}
.inline-mime img
{
     height:1em;
     vertical-align:text-bottom;
}
.icon img
{
     height:2em;
     vertical-align:middle;
}
.marginal-number 
{
     font-size:90%;
     margin-left:0.4em;
     margin-right:0.4em;
}
/*  BLOCK ELEMENTS */
p
{
        text-indent:3%;
        padding-top:2%;
}
p.noindent{
    text-indent:0;
}
.attrib
{
	text-align : right;
	margin-right : 1%;
	margin-top : 0em;
	margin-bottom : 0em;
}
/*SPEECH*/
.speaker{
    /*text-transform:uppercase;*/
    font-size:90%;
}
.speech{
    margin:0;
    padding:0;
}
/*LISTS*/
ul.simple, ul.number {
    list-style:none;
}
ul.number li p.noindent{
     margin-left: 2%;
    text-indent: -5%;  
}
.followon{   
        padding-top:0; 
        text-indent:0;
        padding-left:2%        
}
/*.def-list .title, .author-group .title 
{
    font-weight:bold;
}*/
.title 
{
    font-weight:bold;
}

.simple-list div.li{
    padding-left:5%;
}
 .number-list div.li{
  padding-left:10%;
    text-indent:-5%;
}

.number-list div.li ul.bullet li, .number-list div.li .number-list li, .number-list div.li ol.number li{
    text-indent:0;
}
/*.list-item .p, .list-item .p .list
{
	margin-top : 1%;
	margin-bottom : 1%;
	padding-top : .1%;
	padding-bottom : .1%;
}*/
/*td .noindent .list .list-item,  td .noindent .list
{
	margin-top : .0em;
	padding-top : 0;
}*/
.list
{
    margin-left: 1.5%;
	text-indent : -4.5em;
	margin-top : 3%;
	margin-bottom : 3%;
	padding-left:1%;
}
td .list, td ul, td ol{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

/* FIGURES */
.fig
{
	margin-top : 1%;
	margin-bottom : 4%;
	page-break-inside: avoid;
}
.caption .title{
    font-weight:bold;
}


/* EQUATIONS*/
.disp-formula
{
	margin-top : 2%;
	margin-bottom : 2%;
    text-align : center;

}
dd.label{
    text-align:right;
}
/* ARRAY*/
.array
{
	margin-top : 2%;
	margin-bottom : 2%;
}
/* BOXES*/
div.box
{
	border: 1px solid black;
	margin-left:4%;
	margin-top : 3%;
	margin-bottom : 3%;
	padding: 5%;
	font-size:90%;
}
div.box
{
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.boxed-text .title{
    font-weight:bold;
}

/* EXTRACTS/DISPLAYITEMS */
blockquote.disp-quote, blockquote.verse-group
{
	text-indent : 0em;
	margin:5%;
}
div.disp-quote_title 
{
    font-weight:bold;
}
div.poetry{
    text-indent:-2em;
    margin-left:2em;
}
/*DEF LIST*/
table.def-list tr td .noindent
{
     padding-top: 0px;
     padding-bottom: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
}
span.label
{
     padding-right:1%;
}
dl.def-list { 
border:none;
}

dl.def-list dt
{
	margin: 0;
	/*padding: 1em;*/
	border: none;

}

.sub-def-list{
    padding-left:1em;
}
.sub-def{
    padding-left:4em;
}
dl.def-list dd
{
	margin-left: 8%;
	padding-bottom: 0.5em;
}
dt.term-head, dd.def-head{
 font-weight:bold;   
}

/*dd p, dd p.noindent{
    margin:0;
    padding:0;  
}*/
dd p, dt p{
    margin-top:0; 
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    text-indent:0;
}
/*QUESTIONS AND ANSWERS*/
.answer-link{
    text-align:right;
    font-size:90%;
}
.answer-option{
    margin-left:2em;
}

/*FIGURES*/
div.fig span.label, div.table-wrap span.label
{
     font-weight:bold;
     padding-right:2%;
}
/*to override bold above for mobi*/
div.table-wrap, div.fig
{
      font-weight:normal;
}
div.caption 
{
margin-bottom:1em;
margin-left:5%;
}
div.caption p{
    margin-top:0;
    padding-top:0;
}
/*.fig .mime
{
    padding:1%;
}*/
.fig{
    text-align:left;
}
img{
    max-width:100%;
}
/*LINGUISTICS*/

.linguistics, .linguistics-item{
    padding:0;
    margin:0;
}
table.linguistics{
    border:none;
    vertical-align:top;
}
td{
    vertical-align:top;
}
/*TABLES*/
/*RULES, HEADER AND FOOTER*/
.table-wrap
{
	margin-top : 3%;
	margin-bottom : 3%;
	text-indent : 4%;
	max-width:100%;
}
.table-wrap .title{
    font-style:italic;
}
.table-wrap img
{
	margin-top : 2%;
	max-width:100%
}
/*tgroup*/
/*use hr in epub2 as kindle won't display the borders*/
/*table.Tbl{
    border-top:solid 1px;
    border-bottom:solid 1px;
}*/
table.Tbl thead{
    font-weight:bold;
}
/*TABLE FOOTER*/
div.table-wrap-foot
{
	margin-top : 1%;
	margin-left:5%;
	text-indent : 4%;
}
div.table-wrap-foot p{
    text-indent:0;
}
div.table-wrap-foot div.fn-group{
font-size:90%;
text-indent:3em;
    border-top:none;
    margin-top:0;
    padding-top:0;
}
.table-wrap-foot_attrib, .fig .attrib
{
	text-align : left;
	text-indent:5%;
	font-weight:normal;
}

/*CALS TABLES*/
table tbody tr td, table tbody tr th{
    vertical-align:top;
}
thead tr th{
    text-align:left;
    text-indent:0;
}
th{
    font-weight:bold;
    background-color:#eeeeee;
}
td, th{
    padding:0.5em;
    margin:0.5em;
    border:none;
}
td p,  th p{
    text-indent:0;
    padding-top:0;
    margin:0;
    padding-left:0;
}
/*CALS table rules and alignment*/
.border-bottom{
    border-bottom: solid 1px black;
}
.border-right{
    border-right: solid 1px black;
}
.center{
    text-align:center;
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}
.top{
    vertical-align:top;
}
.bottom{
    vertical-align:bottom;
}
/*SPECIALISED CONTENT*/
/*case histories*/
div.case-sec
{
    margin: 1em 0 0 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}
/*DICTIONARY*/
.dictionary-entry .author{
    text-align:right;
}
/*PLAYS*/
span.character{
    text-transform:uppercase;
    padding-right:1em;
}
div.play-line{
    padding-left:4em;
}
div.part-line{
    margin-left:10em;
}
.playtext{
    padding:0.5em;
}
span.line-number{
    padding-left:5em;
    font-size:90%;
}
diV.named-content{
    font-weight:bold;
    padding:2em;
}
div.stage-direction, span.stage-direction{
    font-style:italic;
}
div.stage-direction{
    text-align:right;
}
/*div.stage-direction span.character{
    font-variant:normal;
}*/
dic.collation-notes div.title, div.commentary-notes div.title{
    font-weight: bold;
}
div.commentary-note span.line-number, div.collation-note span.line-number{
    padding-right:2em;
    padding-left:0em;
    font-weight:bold;
}
div.collation-note span.label, div.commentary-note span.label{
    font-weight:bold;
}
/*CASE REPORT (ILR)*/
.keyword{
    font-weight:bold;
}
.kwd-group{
    padding:1em;
}
.case-name, alt-case-name{
    font-size:105%;
    text-transform:uppercase;
    padding:1em;
}
.judges, .court, stage-name, case-number{
    padding:1em;
} 
.casehead{
    text-align:center;
    padding:1em;
}
.casehead .fn-group{
    text-align:justify;
}

/*ENDMATTER*/
div.citation
{
    margin-left: 2%;
    text-indent: -3%;
    padding-top:1%;
    margin-top:1%;
}
/*INDEX*/
.index-list{
margin-top:1em;
}
.index0
{
    text-indent:2em;
    padding:0;
}
.index01
{
    margin-top: 2em;
    text-indent:2em;
 
}
.index1
{
     text-indent:3em;
    padding:0;
}
.index2
{
    text-indent:4em;
    padding:0;
}
.index3
{
    text-indent:5em;
    padding:0;
}

.index4
{
    display:inline;
}
.see-also, .see-under, .see-also1, .see-under1
{
     text-indent:3em;
    padding:0;
}
.see-also2, .see-under2
{
     text-indent:4em;
    padding:0;
}
.see-also3, .see-under3
{
     text-indent:5em;
    padding:0;
}
/* LINKS */
a
{
	color: blue;
	text-decoration: none;
}
a:active
{
	color: blue;
	text-decoration: none;
}
a:visited
{
    color: blue;
	text-decoration: none;
}
a:hover
{
    color: #993300;
	text-decoration: underline;
}
a.nounder
{
     text-decoration: none;
}
svg
{
	height: 100%;
	width: 100%;
}


.unicode-img img{
    height:0.8em
}


sup .unicode-img img{
    height:0.4em
}

td p .unicode-img img{
    height:auto;
}


.icon{
    padding-right:1em;
}


/*PRESCRIBER'S GUIDE*/
.drug {
    padding: 0 200px 0 200px;
}


.drugheading {
    font-family:arial, helvetica, sans-serif;
    font-size:150%;
    font-weight:bold;
    text-align:right;
}


.therapeutics {
    background:#E4F1FF;
    padding: 0 10px 0 10px;
}


.sideEffects {
    background:#faeada;
    padding: 0 10px 0 10px;
}


.dosing {
    background:#ede5fd;
    padding: 0 10px 0 10px;
}


.specialPopulations {
    background:#fff7be;
    padding: 0 10px 0 10px;
}


.pharmacology {
    background-color:#e4fbec;
    padding: 0 10px 0 10px;
}


/* add margin to top to replace line space previously there as space below list*/
.readingheading {
    padding: 0 10px 0 10px;
    font-family:arial, helvetica, sans-serif;   
    font-size:90%;
    font-weight:bold;
    margin-top:20px;
}


.suggestedreading {    
    padding: 0 10px 0 10px;
    font-family:arial, helvetica, sans-serif;   
    font-size:90%;
}

/* add margin to top to replace line space previously there as space below list*/
.topicheading {
    font-family:arial, helvetica, sans-serif;
    background:#6699CC;
    color:white;
    font-size:130%;
    font-weight:bold;
    text-align:center;
    margin-top:20px;
}

/* add padding to top to replace line space previously there as space below list*/
.sectionheading {
    font-family:arial, helvetica, sans-serif;   
    font-weight:bold;
    font-size:100%;
    padding-top:20px;
}
.Chead {
    font-family:arial, helvetica, sans-serif;   
    font-weight:bold;
    font-size:80%;
    padding-top:20px;
}



