/* 
-----------------------------------------
	Template CSS
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/

.clear_bottom {clear:both; padding-bottom: 6px;}

.scroll_container{
	background: transparent url(../images/icons_img.png) 0 -160px no-repeat;
	padding: 18px 0 0 0;
	width: 901px;
	height: 175px;
	}
	
/*--- CSS Sprite Links and Icons Start ---*/
.icons_img.breadcrumbs_divider        {background-position: 0 -472px; width: 901px; height: 5px; float:left;}
.icons_img.bot_signup                 {background-position: -278px -32px; width: 136px; height: 26px; float:left; margin: 0 50px;}
/*--- CSS Sprite Links and Icons End ---*/

.titlebanner_topsearch{
	background: #fff url(../images/icons_img.png) -640px -98px no-repeat;
	width: 241px;
	height: 24px;
	}
	
.breadcrumbs_container ul             {margin: 0; padding: 0 0 10px 0;}


.searchWord { 
	background: #99ccff;	
	padding: 0 3px;	
	border-radius: 5px;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	behavior: url(border-radius.htc);
	}
	
.boxBody_faceted .left_content ul.leftmenu_form li a    { float: none; width: auto;}
	
.boxBody div p.title_container    {background:#fafafa; position: relative; margin: 0 20px; padding: 20px 10px;}
	
.boxBody div p.title_container span.chapter_nav a    {margin: 0 2px; padding: 6px 12px; float: left; font-size: 200%; color: #fff; text-decoration: none; background: #016690; border: 1px solid #000;}
	
	

/* 
------------------------------
Faceted Search
------------------------------
*/	

.boxBody_faceted {
		font-size: 90%;
		min-height:350px; !important
		}
		
.boxBody_faceted .left_content ul             {margin: 10px 5px;}

.boxBody_faceted .right_content .journal_list .journal_preview ul li         {list-style-type: none; display: inline; background: #bfcfd6; color: #000; border: 1px solid #87949a; margin: 0 1px; padding: 2px 4px;}


