/* 
-----------------------------------------
	Template CSS
	Modified by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/

.scroll_container{
	background: transparent url(../images/icons_img.png) 0 -160px no-repeat;
	padding: 18px 0 0 0;
	width: 901px;
	height: 157px;
	}

.makeMeScrollable {
	width:100%;
	height: 150px;
	position: relative;
	}
	
	.makeMeScrollable div.scrollableArea {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	}

div.scrollingHotSpotLeft {
	min-width: 75px;
	width: 6%;
	height: 70%;
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	cursor: url(../images/cursor_arrow_left.gif), w-resize;
	}

div.scrollingHotSpotLeftVisible {
	background-image: url(../images/cursor_arrow_left.gif);				
	background-color: #fff;
	background-repeat: no-repeat;
	float: left;
	opacity: 0.35; 
	-moz-opacity: 0.35; 
	filter: alpha(opacity = 35); 
	zoom: 1; 
	}

div.scrollingHotSpotRight {
	min-width: 75px;
	width: 6%;
	height: 70%;
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: url(../images/cursor_arrow_right.gif), e-resize;
	}

div.scrollingHotSpotRightVisible {
	background-image: url(../images/cursor_arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
	}

div.scrollWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	}

div.scrollableArea {
	position: relative;
	width: auto;
	height: 100%;
	}
	





