/* 
-----------------------------------------
	Template CSS
	by: John Ryan Acoba
    Jr. GUI Designer
-----------------------------------------
*/

.clear {clear:both;}
.clear_list {clear:both; padding-bottom: 80px;}
.clear_bottom {clear:both; padding-bottom: 10px;}
.clear_01 {clear:both; padding-bottom: 5px;}

img { border:0; }
.refEntry {clear:both;}
.refIcon {clear:both; display: block;}

p { padding-bottom:6px; }
.fl {float:left;}
.fr {float:right;}
	
* {
	margin: 0;
	padding: 0;
	}

body {
	background: #fff;
	font: normal 0.7em Tahoma, Geneva, sans-serif;
	color:#000;	
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	}

#page-wrapper{
	padding: 0;
	margin: 0 auto;
	width: 901px;
	}
	
#top_container{
	background: #fff url(../images/bg_topline.jpg) repeat-x;
	height:100%;
	}
	
#print_header{ display:none; }
	
#footer_container{
	background: #859298 url(../images/bg_footerline.jpg) repeat-x;
	height:46px;
	}
	
ul#normal_list, ol#normal_list {
	display: block;
    padding: 0 0 1.5em 20px;
    margin: 0 0 0 0;
	list-style: disc;

}

ul#normal_list li, ol#normal_list li {
	display: list-item;
    margin: 0 0 0 0;
} 

ul#normal_list ul, ol#normal_list ol, ol#normal_list ul, ul#normal_list ol {
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
}
	
	
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	
ol {
	margin: 0;
	padding: 0 0 0 20px;
	}

li {
	margin: 0;
	padding: 0;
	}
	
a, a:active {
	color: #000;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}
	
h1{
	font: bold 1.0em Tahoma, Geneva, sans-serif;
	color:#02668e;	
	}
	
h2{
	font: bold 1.2em Tahoma, Geneva, sans-serif;
	color:#004059;	
	}
	
h3{
	font: normal 1.3em Tahoma, Geneva, sans-serif;
	}
	
h4{
	font: bold 125% Tahoma, Geneva, sans-serif;
	padding: 2px 25px 0 0;
	}
	
h5{
	font: bold 1.1em Tahoma, Geneva, sans-serif;
	clear:left;
	color:#4c5356;	
	}
	
h6{
	font: bold 1.0em Tahoma, Geneva, sans-serif;
	padding-bottom:12px;
	color:#fff;	
	}
	
	/*** Form Style Start ***/
	.label_01{
		font: bold 1.2em Tahoma, Geneva, sans-serif;
		}
	.label_02{
		font: bold 1.0em Tahoma, Geneva, sans-serif;
		}
	.input_01{
		background:#fafafa;
		margin-bottom:10px;
		font: normal 1.1em Tahoma, Geneva, sans-serif;
		color:#000;
		width: 150px;
		padding:3px;
		border: 1px solid #265795;
		}
		.register_field, .title_field{
			background:#fafafa;
			margin-left:10px;
			margin-bottom:10px;
			font: normal 1.1em Tahoma, Geneva, sans-serif;
			color:#000;
			width: 250px;
			padding:3px;
			border: 1px solid #265795;
			}
	.select_01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		border:1px solid #265795; 
		background:#fff;
		padding: 1px;	
		margin: 0;
		}
	.select_02, .options{
		background:#fafafa;
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		border:1px solid #265795; 
		background:#fff;
		padding:1px;	
		margin:0 0 10px 0;
		}
		select#countries, select#state, select#country, select#type, select#county{
			background:#fafafa;
			font: normal 1.2em Tahoma, Geneva, sans-serif;
			border:1px solid #265795; 
			background:#fff;
			padding:1px;	
			margin:0 0 10px 10px;
			}
	.checkbox01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		background:#fff;	
		margin:0;
		}
	.register_buttons{
		float:right;
		}
	.border { border-top: #000 1px dotted; padding-bottom:20px; }
	input.button {		
		background: #026e97;
		font-size: 1.0em;
		padding:2px;
		color: #fff;
		cursor: pointer;		
		}
	input.button_disabled {		
		background:#999;
		font-size: 1.0em;
		padding:2px;
		color:#666;
		cursor: pointer;
		}
	
/* 
------------------------------
Header Content
------------------------------
*/	

#header_container{
	background:url(../images/bg_header.jpg) no-repeat;
	height:160px;
	}
	
#org_container{
	background: #04587a url(../images/bg_org.jpg) bottom no-repeat;
	margin:13px 10px 0 0;
	float:right;
	width:348px;
	height:85px;
	}
	#org_content {
		padding: 0;
		margin: 8px 8px 0 8px;
		}	
	#org_content p {
		font: normal 1.0em Tahoma, Geneva, sans-serif;
		color: #fff;
		}		
	#org_content img {
		border:none;
		margin: 0 auto;
		}
	#org_content a {
		font: bold 1.0em Tahoma, Geneva, sans-serif;
		color: #fff;
		text-decoration: underline;
		}	
	#org_content a:hover {
		text-decoration: none;
		}

#search_container{
	float:right;
	margin: 136px 10px 0 0;
	}
	
#cup_logo{
	width:130px;
	height:37px;
	position:absolute;
	cursor:hand;
	top: 0;
	left: 0;
	}
		
#cbo_logo{
	width:390px;
	height:40px;
	position:absolute;
	cursor:hand;
	top: 65px;
	left: 18px;
	}
	
	/*** Login Start ***/	
	#login_container{
		color:#013950;
		float:right;
		padding:8px 10px 0 0;
		}
		
	#page_container {
	position: relative;
	margin:0 auto;
	width: 901px;
	top:-1px;
	}
		
	#toppanel {
		position: absolute;
		width: 901px;
		left: 0px;
		z-index: 25;
		}
	
	/*
	#logintoggle {
		background:url(../images/toggle.png) no-repeat left top;
		position:absolute;
		top:0px;
		right:0px;
		width:67px;
		height:32px;
		text-indent:-9999px;
		border:0;
		}
	#logintoggle.up { 
		background:url(../images/toggle.png) no-repeat right top; 
		}
	#top-login {
		height:60px;
		width:366px;
		float:right;
		position:relative;
		}
	#top-login .loginbox {
		position:absolute;
		top:0px;
		left:0px;
		background:url(../images/bg_login.png) no-repeat;
		width:262px;
		height:130px;
		padding:5px 0 0 40px;
		}
		/*display:none;*/
		
	/*#top-login .box {
		width:195px;
		background:transparent;
		border:0;
		margin-left:5px;
		}*/
	
#button_homepage{
	padding: 40px 0 0 20px;
	height:100px;
	}
	
.text_search{
	background: #fff url(../images/icon_search.jpg) no-repeat right;
	margin-right:5px;
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	color:#014e6c;
	width: 180px;
	padding:3px;
	border: 1px solid #02668e;
	}
	
.bot_search:link, a.bot_search:active, a.bot_search:visited {
	display:block;
	float:left;
	width: 56px;
	height:16px;
	background:url(../images/bot_search.gif) no-repeat;
	}
a.bot_search:hover{
	background-position:0px -16px;
	}
	
.bot_searching:link, a.bot_searching:active, a.bot_searching:visited, a.bot_searching:hover {
	display:block;
	float:left;
	width: 88px;
	height:16px;
	background:url(../images/bot_searching.jpg) no-repeat;
	}
.bot_searching_disabled{
	display:block;
	float:left;
	width: 88px;
	height:16px;
	cursor:none;
	background:url(../images/bot_searching.jpg) no-repeat;
	background-position:0px -16px;
	}
	
.bot_clear:link, a.bot_clear:active, a.bot_clear:visited, a.bot_clear:hover {
	display:block;
	float:left;
	width: 88px;
	height:16px;
	background:url(../images/bot_clear.jpg) no-repeat;
	}
.bot_clear_disabled{
	display:block;
	float:left;
	width: 88px;
	height:16px;
	cursor:none;
	background:url(../images/bot_clear.jpg) no-repeat;
	background-position:0px -16px;
	}
	
.bot_fewerchoices:link, a.bot_fewerchoices:active, a.bot_fewerchoices:visited, a.bot_fewerchoices:hover {
	display:block;
	float:left;
	width: 88px;
	height:16px;
	background:url(../images/bot_fewerchoices.jpg) no-repeat;
	}
.bot_fewerchoices_disabled{
	display:block;
	float:left;
	width: 88px;
	height:16px;
	cursor:none;
	background:url(../images/bot_fewerchoices.jpg) no-repeat;
	background-position:0px -16px;
	}
	
.bot_morechoices:link, a.bot_morechoices:active, a.bot_morechoices:visited, a.bot_morechoices:hover {
	display:block;
	float:left;
	width: 88px;
	height:16px;
	background:url(../images/bot_morechoices.jpg) no-repeat;
	}
.bot_morechoices_disabled{
	display:block;
	float:left;
	width: 88px;
	height:16px;
	cursor:none;
	background:url(../images/bot_morechoices.jpg) no-repeat;
	background-position:0px -16px;
	}
	
.bot_search_again:link, a.bot_search_again:active, a.bot_search_again:visited {
	display:block;
	width: 88px;
	height:16px;
	background:url(../images/bot_search_again.jpg) no-repeat;
	}
a.bot_search_again:hover{
	background-position:0px -16px;
	}
	
.bot_contact:link, a.bot_contact:active, a.bot_contact:visited {
	display:block;
	float:left;
	margin-bottom:6px;
	width: 176px;
	height:16px;
	background:url(../images/bot_contact.jpg) no-repeat;
	}
a.bot_contact:hover{
	background-position:0px -16px;
	}
	
.bot_recommend:link, a.bot_recommend:active, a.bot_recommend:visited {
	display:block;
	float:left;
	margin-bottom:6px;
	width: 176px;
	height:16px;
	background:url(../images/bot_recommend.jpg) no-repeat;
	}
a.bot_recommend:hover{
	background-position:0px -16px;
	}
	
.bot_signup:link, a.bot_signup:active, a.bot_signup:visited, a.bot_signup:hover {
	display:block;
	float:left;
	margin: 15px 0 0 0;
	width: 139px;
	height: 28px;
	background:url(../images/bot_signup.jpg) no-repeat;
	}

	/*** Topmenu Start ***/	
	#nav{
		width: 345px;
		height: 32px;
		background:url(../images/topmenu.jpg) no-repeat top left;
		float:left;
		margin:128px 0 0 0;		
		padding:0;
		position: relative;		
	}
	#nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0px;
	}
	#nav li, #nav a {
		height: 32px;		
		display: block;
	}	
	#nav_home {left: 0px;  width: 64px; }
	#nav_about {left: 64px;  width: 66px; }
	#nav_faq {left: 130px;  width: 54px; }
	#nav_help {left: 184px;  width: 56px; }
	#nav_forlibrarians {left: 240px;  width: 105px; }
	
	
	#nav_home a:hover {background: transparent url(../images/topmenu.jpg) -0px  -32px  no-repeat;}
	#nav_about a:hover {background: transparent url(../images/topmenu.jpg) -64px  -32px  no-repeat;}
	#nav_faq a:hover {background: transparent url(../images/topmenu.jpg) -130px  -32px  no-repeat;}
	#nav_help a:hover {background: transparent url(../images/topmenu.jpg) -184px  -32px  no-repeat;}
	#nav_forlibrarians a:hover {background: transparent url(../images/topmenu.jpg) -240px  -32px  no-repeat;}
	
	#nav_home_current {background: transparent url(../images/topmenu.jpg) -0px  -32px  no-repeat;}
	#nav_about_current {background: transparent url(../images/topmenu.jpg) -64px  -32px  no-repeat;}
	#nav_faq_current {background: transparent url(../images/topmenu.jpg) -130px  -32px  no-repeat;}
	#nav_help_current {background: transparent url(../images/topmenu.jpg) -184px  -32px  no-repeat;}
	#nav_forlibrarians_current {background: transparent url(../images/topmenu.jpg) -240px  -32px  no-repeat;}
	
	#nav_admin_container{
		float:left; 
		margin-left:453px;
		}
	.nav_admin:link, a.nav_admin:active, a.nav_admin:visited {
		display:block;
		float:left;
		width: 182px;
		height:32px;
		background:url(../images/topmenu_admin.jpg) no-repeat;
		}
	a.nav_admin:hover{
		background-position:0px -32px;
		}
	.nav_admin_current{
		background:url(../images/topmenu_admin.jpg) no-repeat;
		background-position:0px -32px;
		display:block;
		float:left;
		width: 182px;
		height:32px;
		}
	/*** Topmenu End ***/
	
	/*** Topmenu Account Admin Start ***/	
	#nav_admin{
		width: 503px;
		height: 32px;
		background:url(../images/topmenu_account.jpg) no-repeat top left;
		float:left;
		margin:128px 0 0 0;		
		padding:0;
		position: relative;		
	}
	#nav_admin li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0px;
	}
	#nav_admin li, #nav_admin a {
		height: 32px;		
		display: block;
	}	
	#nav_home {left: 0px;  width: 64px; }
	#nav_about {left: 64px;  width: 66px; }
	#nav_faq {left: 130px;  width: 54px; }
	#nav_help {left: 184px;  width: 56px; }
	#nav_forlibrarians {left: 240px;  width: 105px; }
	#nav_account {left: 345px;  width: 158px; }
	
	#nav_home a:hover {background: transparent url(../images/topmenu.jpg) -0px  -32px  no-repeat;}
	#nav_about a:hover {background: transparent url(../images/topmenu.jpg) -64px  -32px  no-repeat;}
	#nav_faq a:hover {background: transparent url(../images/topmenu.jpg) -130px  -32px  no-repeat;}
	#nav_help a:hover {background: transparent url(../images/topmenu.jpg) -184px  -32px  no-repeat;}
	#nav_forlibrarians a:hover {background: transparent url(../images/topmenu.jpg) -240px  -32px  no-repeat;}
	#nav_account a:hover {background: transparent url(../images/topmenu_account.jpg) -345px  -32px  no-repeat;}
	
	#nav_admin_home_current {background: transparent url(../images/topmenu.jpg) -0px  -32px  no-repeat;}
	#nav_admin_about_current {background: transparent url(../images/topmenu.jpg) -64px  -32px  no-repeat;}
	#nav_admin_faq_current {background: transparent url(../images/topmenu.jpg) -130px  -32px  no-repeat;}
	#nav_admin_help_current {background: transparent url(../images/topmenu.jpg) -184px  -32px  no-repeat;}
	#nav_admin_forlibrarians_current {background: transparent url(../images/topmenu.jpg) -240px  -32px  no-repeat;}
	#nav_admin_account_current {background: transparent url(../images/topmenu_account.jpg) -345px  -32px  no-repeat;}
	/*** Topmenu Account Admin End ***/
	

/* 
------------------------------
Main Content
------------------------------
*/
	
#main_container{
	margin:0 auto;
	padding:16px 0;
	}
	
.validate{
	background:#02729a;	
	border-bottom: 2px dotted #2a97b8;
	border-left: 2px solid #2a97b8;
	border-right: 2px solid #2a97b8;
	border-top: 2px solid #2a97b8;
	padding: 8px;
	color:#fff;
	}
	
#content_wrapper01{
	background:#f4f4f4;
	}

#content_wrapper02{
	background:#fff;
	margin:18px 0 0 0;
	padding:25px 0 0 10px;
	}
	
#content_wrapper03{
	margin:0 8px 0 0;
	float:right;
	}
	
#content_wrapper04{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 22px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper05{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 0;
	padding:12px 12px;
	}
	
#content_wrapper06{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 2px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper07{
	background:#fafafa;
	margin: 2px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper08{
	padding:8px 0 25px 0;
	}
	
#content_wrapper09{
	margin:0 0 0 10px;
	clear:both;
	float:left;
	}
	
#content_wrapper10{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 0;
	padding:1px 10px;
	}
	
#content_wrapper11{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 22px 0 0 0;
	padding:1px 12px;
	}
	
#banner_signup{
	background:url(../images/signup.jpg) no-repeat;
	margin:15px;
	width:160px;
	height:160px;
	}
	
#banner_container{
	background:url(../images/bg_banner01.jpg) repeat-y;
	float:left;
	margin:15px 0 0 0;
	width:901px;
	}
#banner_series_container{
	background:url(../images/bg_banner02.jpg) repeat-y;
	float:left;
	margin:15px 0 0 0;
	width:901px;
	}
	
#banner_bottom{
	background:url(../images/bg_banner_bottom.jpg) no-repeat;
	float:left;
	width:901px;
	height:22px;
	}
	#banner_wrapper01{
		float:left;
		padding:10px 10px 0 50px;
		width:240px;
		}
	#banner_wrapper02{
		float:left;
		padding:10px 10px 0 30px;
		width:270px;
		}
	#banner_wrapper03{
		float:left;
		padding:10px 0 0 50px;
		width:200px;
		}
	#banner_wrapper04{
		float:left;
		padding:10px 30px 0 30px;
		width:45%;
		}
	#banner_wrapper05{
		float:left;
		padding:10px 30px 0 30px;
		width:40%;
		}
		
#alphalist_container{
	background:url(../images/bg_alphalist.jpg) no-repeat;
	padding:0 0 0 12px;
	width:391px;
	height:50px;
	}
	
#border01_container{
	background:url(../images/bg_border01.jpg) repeat-x;
	padding:8px 0 0 6px;
	height:25px;
	}	
#border02_container{
	background:url(../images/bg_border01.jpg) repeat-x;
	padding: 6px 4px 0px 4px;
	}
	#border_divider01{
		float:left;
		vertical-align:top;
		padding-left:4px;
		}
	#border_divider02{
		float:left;
		vertical-align:top;
		padding-left:8px;
		}
	#border_divider03{
		float:right;
		padding:0 6px 0 0;
		}
	#border_divider04{
		width:100%;
		}
	#border_divider05{
		float:left;
		width:250px;
		margin: 0 0 25px 6px;
		padding: 0;
		}
	
		
	#link_books_container{
		margin-left:215px;
		}
		
	.list_divider01{
		float:left;
		width:100%;
		}
		
	.icon_access_on{
		background:url(../images/icon_access_on.jpg) no-repeat;
		float:left;
		height:20px;
		width:21px;
		}
		
	.icon_free_on{
		background:url(../images/icon_free_on.jpg) no-repeat;
		float:left;
		height:20px;
		width:21px;
		}
		
	.div_search_info{
		background:url(../images/bg_info_divider.jpg) repeat-y;
		padding-left:40px;
		}
		
	.div_book_info{
		vertical-align:top;
		}
	
	/*** Alphalist Start ***/	
	#alphalist01 ul li {color:#999; font-size: 100%; list-style:none; display:inline; padding:3px; height:22px; line-height:24px; margin:0 6px;}
	#alphalist01 ul li a {color: #fff; font-weight: bold;}
	#alphalist01 ul li a:hover {color: #03668f; background:#01b3e9; text-decoration:none;}
	
	#alphalist02 { padding: 0 0 0 20px;}
	#alphalist02 ul li {color:#999; font-size: 121%; list-style:none; display:inline; margin:0 1.3em 0 0;}
	#alphalist02 ul li a {color: #02668e; font-weight: bold;}
	#alphalist02 ul li a:hover {color:#fff; background:#01b3e9; text-decoration:none;}
	/*** Alphalist End ***/
	
	/*** Tab Start ***/
	#tabMenu {margin:0; padding:0; list-style:none;}
	#tabMenu li {float:left; height:33px; width:140px; cursor:pointer; cursor:hand;}
	
	li.tableofcontents {background:url(../images/tab_tableofcontents.jpg) no-repeat 0 -33px;}
	li.chapter_extract {background:url(../images/tab_chapter_extract.jpg) no-repeat 0 -33px;}	
	li.bookdesc {background:url(../images/tab_bookdesc.jpg) no-repeat 0 -33px;}
	li.toc_chapterpage {background:url(../images/tab_toc_chapterpage.jpg) no-repeat 0 -33px;}
	li.reference {background:url(../images/tab_reference.jpg) no-repeat 0 -33px;}
	
	li.mouseover {background-position:0 0;}
	li.mouseout {background-position:0 -33px;}
	li.selected {background-position:0 0;}
	
	.border_container {width:901px}
	.boxTop {background:url(../images/bg_border_top.jpg) no-repeat; height:33px; clear:both;}
	*html .boxTop {margin-bottom:-2px;}
	.boxBody {
		background: #fff url(../images/bg_table.jpg) repeat-y;
		padding:0 0 10px 0;
		min-height:350px; !important
		}
		
	/*.boxBottom {background:url(../images/bg_border_bottom.jpg) no-repeat; height:13px;}*/
	.boxBottom {background:#87949a; height:13px;}
	
	.boxBody div {display:none;}
	.boxBody div.show {display:block;}
	.boxBody #tabbing a {display:block;}
	
	.boxBody div ul {margin: 0 18px; padding:25px 0 0 0; width:850px; }	
	*html .boxBody div ul {margin-left:10px; padding-left:15px;}
	.boxBody div li {border-bottom:1px solid #b0c0c7; padding:4px 0;}
	.boxBody div ul li.last {border-bottom:none;}
	
	.boxBody div p {margin: 0 18px; padding:15px 0 0 0; width:850px;}
	.boxBody div #indent_level_01 {padding-left:10px; width:840px;}
	.boxBody div #indent_level_02 {padding-left:20px; width:830px;}
	.boxBody div #indent_level_03 {padding-left:30px; width:820px;}
	
	.boxBody div .text_indent_lev01 { padding: 8px 0 8px 15px;}
	.boxBody div .text_indent_lev02 { padding: 8px 0 8px 30px;}
		
	.boxBody div table {margin: 0 18px; padding:25px 0 0 0; width:850px; }
	.boxBody div td {border-bottom:1px solid #b0c0c7; padding:8px 0;}
	.boxBody div td.toc_number { font-weight:bold; border-bottom:1px solid #b0c0c7; padding:0 1px;}
	.boxBody div td a {
		font: bold 115% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#02668e;
		}
	.boxBody div td a:hover {
		background:none;
		text-decoration:underline;
		}
	
	.boxBody div td a.toc_pdf {
		background:url(../images/pdf_icon_on.jpg) -4px no-repeat;
		padding:0 0 0 15px;
		font: normal 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#02668e;
		}
	.boxBody div td a.toc_pdf:hover {
		text-decoration:underline;
		}
		
	.boxBody div td a.toc_links {
		font: normal 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#02668e;
		}
	.boxBody div td a.toc_links:hover {
		background:none;
		text-decoration:underline;
		}
		
	.boxBody div .disabled_link {
		font: normal 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#859298;
		}
		
	.boxBody div .toc_pdf_disabled {
		background:url(../images/pdf_icon_off.jpg) -4px no-repeat;
		padding:0 0 0 15px;
		font: normal 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#859298;
		}
	
	
	.boxBody div ul.right_tabmenu { margin: 0 18px; padding:25px 0 0 0; width:210px; float:right; list-style:url(../images/arrow02.gif) inside; }
	.boxBody div .right_tabmenu li {
		border-bottom:1px dotted #b0c0c7; 
		padding:4px 0;		
		}
	.boxBody div .right_tabmenu li a {
		font: bold 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#02668e;
		}
	.boxBody div .right_tabmenu li a:hover {
		background:none;
		text-decoration:underline;
		}
	.boxBody div .title_container{
		background:#fafafa;
		padding: 4px 6px;
		}
		
	.boxBody div .extractImage{
		padding-left:100px;
		}
		
	
	.txt_googlescholar{
		background:url(../images/txt_googlescholar.gif) no-repeat;
		float:left;
		width:81px;
		height:11px;
		}
	.txt_googlebooks{
		background:url(../images/txt_googlebooks.gif) no-repeat;
		float:left;
		width:74px;
		height:11px;
		}
	.txt_crossref{
		background:url(../images/txt_crossref.gif) no-repeat;
		float:left;
		width:43px;
		height:11px;
		}
	.txt_open_url{
		background:url(../images/txt_open_url.gif) no-repeat;
		float:left;
		width:58px;
		height:11px;
		}
		
	/*** Tab End ***/

	
	/*** Title Start ***/
	h1#titlepage_heading {
		font-size: 200%;
		font-weight: normal;
		color: #004059;
		padding: 0px 0px 10px 0px;
		}
	
/*	.titlepage_welcome{
		background:url(../images/titlepage_welcome.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_series{
		background:url(../images/titlepage_series.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_search_result{
		background:url(../images/titlepage_search_results.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_about{
		background:url(../images/titlepage_about.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_faq{
		background:url(../images/titlepage_faq.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_help{
		background:url(../images/titlepage_help.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_allseries{
		background:url(../images/titlepage_allseries.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_advancedsearch{
		background:url(../images/titlepage_advancedsearch.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_subject{
		background:url(../images/titlepage_subject.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_forlibrarians{
		background:url(../images/titlepage_forlibrarians.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_registration{
		background:url(../images/titlepage_registration.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_change_reg{
		background:url(../images/titlepage_change_reg.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_contacts{
		background:url(../images/titlepage_contacts.jpg) no-repeat;
		width:100%;
		height:25px;
		}*/
		
		
	
	.titlebanner_homepage{
		background:url(../images/title_banner_homepage.jpg) no-repeat;
		height:42px;
		}	
	.titlebanner_series{
		background:url(../images/title_banner_seriespage.jpg) no-repeat;
		height:42px;
		}
	.titlebanner_topsearch{
		background:url(../images/title_banner_topsearch.jpg) no-repeat;
		height:24px;
		}
	/*** Title End ***/	
	
	/*** Arrow Links Start ***/	
	#links .arrow_link01 .arrow_link02 li{
		list-style: none;
		margin: 0;		
		}	
	
	#bullet01 ul li {
		background:url(../images/bullet01.gif) 2px 6px no-repeat;		
		padding: 0 0 0 15px;
		}	
		#bullet01 ul li a {
			font-weight: normal;
			color:#004059;
			}
			
	#arrow01 ul li {
		background: url(../images/arrow08.gif) left 4px no-repeat;
		padding: 0 0 0 15px;
		float:right;
		}	
		#arrow01 ul li a {
			font-weight: normal;
			color:#004059;
			}
		#arrow01{ padding-bottom:10px;}
	
	#arrow02 ul li {
		background:url(../images/arrow02.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		}	
		#arrow02 ul li a {
			font-weight: normal;
			color:#004059;
			}
			
	#arrow03 ul li {
		background:url(../images/arrow05.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		float:right;
		}	
		#arrow03 ul li a {
			font-weight: normal;
			color:#004059;
			}
			
	#arrow04 ul li {
		background:url(../images/arrow03.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		float:right;
		}	
		#arrow04 ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#arrow05 ul li {
		background:url(../images/arrow05.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		}		
	#arrow05 ul li a {
		font-weight: bold;
		color:#02668e;
	}	
	
	#icon_pdf_on ul li {
		background:url(../images/pdf_icon_on.jpg) 1px no-repeat;		
		padding: 0 0 0 22px;
		float:left;
		}	
		#icon_pdf_on ul li a {
			font-weight: normal;
			color:#02668e;
			}			
	#icon_pdf_off ul li {
		background:url(../images/pdf_icon_off.jpg) 1px no-repeat;
		color:#ccc;
		padding: 0 0 0 22px;
		float:left;
		}
		
	#icon_view_extract ul li {
		background:url(../images/icon_view_extract.gif) 1px no-repeat;
		padding: 0 0 0 18px;
		float:left;
		}
		#icon_view_extract ul li a {
			font-weight: normal;
			color:#02668e;
			}
	#icon_view_extract_off ul li {
		background:url(../images/icon_view_extract.gif) 1px no-repeat;
		color:#ccc;
		padding: 0 0 0 18px;
		float:left;
		}
			
	#icon_rss ul li {
		background:url(../images/icon_rss.gif) 1px no-repeat;		
		padding: 0 0 0 22px;
		float:right;
		}	
		#icon_rss ul li a {
			font-weight: normal;
			color:#02668e;
			}
	#icon_rss_off ul li a {
		background:url(../images/icon_rss_off.gif) 1px no-repeat;
		color:#ccc;
		padding: 0 0 0 22px;
		float:right;
		text-decoration:none;
		}
			
	#icon_recommend ul li {
		background:url(../images/icon_recommend.gif) 1px no-repeat;
		font-size: 1.0em;
		padding: 0 0 0 18px;
		float:right;
		}	
		#icon_recommend ul li a {
			font-weight: normal;
			color:#02668e;
			}
			
	#icon_print ul li {
		background:url(../images/icon_print.gif) 1px no-repeat;
		font-size: 1.0em;
		padding: 0 0 0 28px;
		float:right;
		}	
		#icon_print ul li a {
			font-weight: normal;
			color:#02668e;
			}
			
	#icon_enlarge ul li {
		background:url(../images/icon_enlarge.gif) 1px no-repeat;		
		padding: 0 0 0 16px;
		float:left;
		}
		#icon_enlarge { width:100px; padding: 0 10px; vertical-align:top;}
		#icon_enlarge ul li a {
			font-weight: bold;
			color:#02668e;
			}	
			
	#icon_access{
		background:url(../images/icon_access_on.jpg) 1px no-repeat;
		padding:5px 0 5px 25px;
		font: bold 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		width:125px;
		float:left;
		color:#859298;
		}
	#icon_free{
		background:url(../images/icon_free_on.jpg) 1px no-repeat;
		padding:5px 0 5px 25px;
		font: bold 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		float:left;
		width:75px;
		color:#859298;
		}

	#breadcrumbs {
		background:url(../images/bg_line01.jpg) top no-repeat;
		margin: 0;
		padding: 4px 0 30px 0;		
		}
	
	#breadcrumbs a {
		font-weight: normal;
		color:#02668e;
		}
	
	#breadcrumbs a:hover {
		text-decoration:underline;
		}
	
	#breadcrumbs ul li {
		background:url(../images/arrow04.gif) right 2px no-repeat;
		color:#02668e;
		margin: 0;
		padding: 0 14px 0 0;		
		display: inline;		
		}
	
	#breadcrumbs ul li.last {
		background: none;
		font-weight:bold;
		}		
		
	/*** Treelist Start ***/
		
	.treeview, .treeview ul {
		padding: 0;
		margin: 0;
		list-style: none;
		}
	
	.treeview ul {
		margin: 4px;
		}
	
	.treeview .hitarea {
		background: url(../images/tree/treeview-default.gif) -64px -25px no-repeat;
		height: 16px;
		width: 16px;
		margin-left: -16px;
		float: left;
		cursor: pointer;
		}
	
	* html .hitarea {
		display: inline;
		float:none;
		}
	
	.treeview li {
		margin: 0;
		padding: 3px 0 3px 16px;
		}
	
	.treeview a.selected {
		text-decoration:underline;
		}
	
	.treeview .hover { text-decoration:underline; cursor: pointer; }
	
	.treeview li { background: url(../images/tree/treeview-default-line.gif) 0 0 no-repeat; }
	.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
	
	.treeview .expandable-hitarea { background-position: -80px -3px; }
	
	.treeview li.last { background-position: 0 -1766px; }
	.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/tree/treeview-default.gif); }  
	.treeview li.lastCollapsable { background-position: 0 -111px }
	.treeview li.lastExpandable { background-position: -32px -67px }
	
	.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; } 
	
	.filetree li { padding: 3px 0 2px 16px; }
	.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
	.filetree span.folder { background: url(../images/tree/folder.gif) 0 0 no-repeat; }
	.filetree li.expandable span.folder { background: url(../images/tree/folder-closed.gif) 0 0 no-repeat; }
	.filetree span.file { background: url(../images/tree/file.gif) 0 0 no-repeat; }	
	
	/*** Arrow Links End ***/	
	
	/*** Links Start ***/	
	.link01:link, a.link01:active, a.link01:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #434f57;
		text-decoration:underline;
		}
	a.link01:hover{	
		text-decoration: none;
		}	
		
	.link02, .link02:link, a.link02:active, a.link02:visited{
		font: normal 90% Tahoma, Geneva, sans-serif;
		color: #02668e;
		text-decoration: none;
		}
	a.link02:hover{
		color:#fff;
		background:#01b3e9;
		}	
	
	.link03:link, a.link03:active, a.link03:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link03:hover{
		text-decoration:underline;
		}
	.link03_current{	
		font: bold 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}	
	.link04:link, a.link04:active, a.link04:visited{
		font: bold 1.2em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link04:hover{
		color:#fff;
		background:#01b3e9;
		}
		
	.link05:link, a.link05:active, a.link05:visited{
		font: bold 1.2em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration:underline;
		}
	a.link05:hover{
		text-decoration:none;
		}
		
	.link06:link, a.link06:active, a.link06:visited{
		font: normal 115% Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration:underline;
		}
	a.link06:hover{
		text-decoration:none;
		}
		
	.link07:link, a.link07:active, a.link07:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link07:hover{	
		text-decoration:underline;
		}
		
	.link08:link, a.link08:active, a.link08:visited{
		font: bold 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link08:hover{	
		text-decoration:underline;
		}
		
	.link09:link, a.link09:active, a.link09:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link09:hover{	
		text-decoration:underline;
		}
		
	.link10:link, a.link10:active, a.link10:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #fff;
		text-decoration: none;
		}
	a.link10:hover{	
		text-decoration:underline;
		}
		
	.link11:link, a.link11:active, a.link11:visited{
		font: normal 115% Tahoma, Geneva, sans-serif;		
		color: #02668e;		
		text-decoration:none;
		}
	a.link11:hover{
		text-decoration:underline;
		}
	/*** Links End ***/
		
	
	
/* 
------------------------------
Footer Content
------------------------------
*/	

#footer_wrapper{	
	padding-top:10px;
	width:901px;
	margin:0 auto;
	}	
	
#footer_menuwrapper{
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	color:#434f57;
	}
	
.cup_logo01{
	background:url(../images/cup_logo01.jpg) no-repeat;
	float:right;
	width: 141px;
	height:30px;
	}
	
.bot_crossref:link, a.bot_crossref:active, a.bot_crossref:visited {
	display:block;
	margin-right:5px;
	float:left;
	width: 85px;
	height:31px;
	background:url(../images/icon_crossref.jpg) no-repeat;
	}
a.bot_crossref:hover{
	background-position:0px -31px;
	}
	
.bot_acap_enabled:link, a.bot_acap_enabled:active, a.bot_acap_enabled:visited {
	display:block;
	float:left;
	width: 35px;
	height:31px;
	background:url(../images/icon_acap_enabled.jpg) no-repeat;
	}
a.bot_acap_enabled:hover{
	background-position:0px -31px;
	}
	
/* 
------------------------------
Navigation
------------------------------
*/
.searchWord { 
	background: #99ccff;	
	padding: 0 3px;	
	border-radius: 5px;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	}
	
	/*-- Leftmenu Start --*/
	.menu {
		background: #fafafa url(../images/bg_leftmenu_top.jpg) top repeat-x;
		padding: 10px;
		border: solid 1px #87949a;
		width: 180px;
		float: right;
		}
	.menu h2 {
		color:#000;
		padding: 0 0 10px 0;
		}
	.menu ul {
		margin: 0px 0px 10px 0px;
		}
	.menu ul li {		
		background: url(../images/arrow06.gif) 0px 5px no-repeat;		
		padding: 3px 16px;
		margin: 0;
		list-style:none;
		}
	
	.text_01, .text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a:hover {
		color: #000;
		}
	/*-- Leftmenu End --*/
	

/* CSS form input button Start */
a.button, span.button{	
	display:-moz-inline-box;
	display:inline-block;
	cursor:pointer;
	border:none;
    font-size:0;
    line-height:0;
	
	background-position:0 0;
	background-repeat:no-repeat;
	height:27px;
	text-decoration:none;
	color:#fff;
	font-style:normal;
	margin:0 6px 0px 0;
	padding:0 10px 0 0;	
	vertical-align:middle;	
	
    padding-top:-2px;
	_position:relative;
	_width:10px;	
	_overflow-y:hidden;
	}

a.button, span.button, del.button,
a.button span, span.button button, span.button input{
    background-image:url(../images/btn_form.gif);
    _background-image:url(../images/btn_form.gif);
	}

a.button span, span.button button, span.button input{	
	white-space:nowrap;
	cursor:pointer;
    color:#fff;
	display:-moz-inline-box;
	display:inline-block;
	line-height:1;
    letter-spacing:0 !important;
    font-family: Tahoma, Geneva, sans-serif !important;
    font-size:11px !important;
    font-style:normal;
    background-color:transparent;
	background-position:100% 0;
	background-repeat:no-repeat;
	height:27px;
	padding:0 12px 0 2px;
	margin:0 -10px 0 10px;
	border:none;
	vertical-align:text-top;
	zoom:1;
	_position:relative;
    _padding-left:0px;
	_padding-right:12px;
	_margin-right:-10px;	
	_display:block;
	_top:0;
	_right:-5px;
	}

span.button button{
   line-height:2.5;/*Opera need this*/
	}

html.safari a.button span, 
html.safari del.button span{
  line-height:1.3;
	}

html.safari span.button button{
  line-height:2.6;
	}

html.safari a.button:focus,
html.safari span.button button:focus{
    outline:none;
	}

span.button button, span.button input{
	padding-top:0px;
	line-height:2.5;/*Opera need this*/
	}
/* CSS form input button End */



/* CSS right menu Start */
#rightmenu_wrapper{
	vertical-align:top;
	}
	
.rightmenu{	
	float: right;
	margin: 0;
	padding: 0;
	width: 198px;
	border: solid 1px #000;
	}

.rightmenu a.menuitem{
	background: url(../images/bg_rightmenu.gif) repeat-x bottom left;
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	color: #fff;
	display: block;
	position: relative; 
	width: auto;
	padding: 6px 0;
	padding-left: 10px;
	text-decoration: none;
	}
.rightmenu a.menuitem:visited{
	color: #fff;
	}	
.rightmenu .menuitem:active{
	color: #000;
	}
.rightmenu a.menuitem:hover {
	background: url(../images/bg_righthover.gif);
	color: #000;
	}

.rightmenu a.menuitem .statusicon{ 
	position: absolute;
	left: 4px;
	border: none;
	}

.rightmenu div.submenu{ 
	background: #fff;
	}

.rightmenu div.submenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.rightmenu div.submenu ul li{
	border:0;
	}

.rightmenu div.submenu ul li a{
	display: block;
	background: #fff;
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	border-bottom: #b0c0c7 1px dotted;
	text-decoration: none;
	padding: 4px 0 4px 10px;
	}

.rightmenu div.submenu ul li a:hover, .rightmenu div.submenu ul li a:active{
	text-decoration:underline;
	}	
	
.icon_delicious{
	background:url(../images/icon_delicious.gif) 0 3px no-repeat;
	padding: 0 0 0 20px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
.icon_connotea{
	background:url(../images/icon_connotea.gif) 0 3px no-repeat;
	padding: 0 0 0 20px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
.icon_bibsonomy{
	background:url(../images/icon_bibsonomy.gif) 0 3px no-repeat;
	padding: 0 0 0 20px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
.icon_digg{
	background:url(../images/icon_digg.gif) 0 3px no-repeat;
	padding: 0 0 0 20px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
.icon_reddit{
	background:url(../images/icon_reddit.gif) 0 3px no-repeat;
	padding: 0 0 0 20px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
.icon_facebook{
	background:url(../images/icon_facebook.gif) 0 3px no-repeat;
	padding: 0 0 0 20px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
.icon_addthis{
	background:url(../images/icon_addthis.gif) 0 3px no-repeat;
	padding: 0 0 0 20px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-decoration:none;
	}
/* CSS right menu End */



