/* 
-----------------------------------------
	CSS Widget
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/


.ebooks_widget_container { 
	background: #1fa1c8 url(../images/bg_widgets.gif) bottom repeat-x; 
	border: 3px solid #02668e; 
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	width: 350px; 
	padding: 0 10px;
	}	
.ebooks_widget_container ul             {margin: 0 0 40px 0; padding: 0;}
.ebooks_widget_container ul li          {list-style-type: none; display: block;}
.ebooks_widget_container ul li input    {font: normal 0.7em Tahoma, Geneva, sans-serif; background: #bdefff; border: 1px solid #036890; width: 95%; margin: 2px 0; padding: 4px 5px;}
.ebooks_widget_container ul li.button_search a, 
.ebooks_widget_container ul li.button_search a:hover  {text-decoration: none; background: transparent; float:right; margin: 2px 5px 0 0;}

