/* 
-----------------------------------------
	Template CSS Contrast Styles
	by: John Ryan Acoba
    Jr. GUI Designer
-----------------------------------------
*/	

h1{
	font: normal 175% Tahoma, Geneva, sans-serif;
	color:#fff;
	}
	
h2{
	font: normal 175% Tahoma, Geneva, sans-serif;
	color:#fff;
	}

h3{
	font: normal 150% Tahoma, Geneva, sans-serif;
	color:#fff;
	}

#page-wrapper{
	background: #fff;
	font: normal 200% Tahoma, Geneva, sans-serif;
	width:100%;
	min-width: 900px;
	margin: 0 auto;
	padding: 0;
	}
	
.content_container{
	background: #000;
	color: #fff;
	margin: 0;
	padding: 15px;
	}
	
.topmenu {background:#004059; height:100%;}

.border_divider03 input[type="submit"] {
		background: #00aee3;	
		font: bold 75% Tahoma, Geneva, sans-serif;
		cursor:pointer;
		border: 1px solid #000;
		padding: 5px;
		color:#000;
		}	
		
.breadcrumbs {
	background: #000;
	letter-spacing: 0;
	margin: 0;
	padding: 15px 15px;
	}
.breadcrumbs a {
	background:url(../../images/arrow07.gif) right no-repeat;
	padding: 0 18px 0 0;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
	}	
.breadcrumbs a:hover {
	text-decoration:underline;
	}	
.breadcrumbs ul li {
	background: none;
	padding: 0 5px 0 0;
	font-weight:bold;
	color:#fff;
	margin: 0;
	display: inline;		
	}
		
.search_container { float:right; width: 400px; }
.search_container input[type="text"]{
	background: #e9eaeb;
	font: normal 100% Tahoma, Geneva, sans-serif;
	float:left;
	margin-right: 2px;
	padding: 3px;
	color:#000;
	width:385px;	
	}
	
.border-div{
	border: #ccc solid 2px;
	height: 100%;
	}	
	.border_divider01 { float:left; vertical-align:top; width:40%; padding: 6px 12px; }
	.border_divider01 ol {padding: 10px 25px;}
	
	.border_divider02 { float:left; vertical-align:top; width:25%; padding: 6px 12px; }
	.border_divider02 ul {padding: 10px 25px; list-style-type:none;}
	
	.border_divider03 { float:left; vertical-align:top; width:25%; padding: 6px 12px; }
	.border_divider03 ul {padding: 10px 25px; list-style-type:none;}
	
	
/*--- Start Link Styles---*/	
.link_01 a {
	text-decoration:underline;
	color:#fff;
	}	
.link_01 a:hover {
	text-decoration:none;
	}
	
.link_02 a {
	text-decoration:underline;
	color:#fff;
	}	
.link_02 a:hover {
	text-decoration:none;
	}
	
.bullet_01 a {
	background:url(../../images/bullet02.gif) 0 8px no-repeat;
	padding: 0 0 0 15px;
	text-decoration:underline;
	color:#fff;
	}
.bullet_01 a:hover {
	text-decoration:none;
	}
	
.arrow_01 a {
	background:url(../../images/arrow04.gif) left no-repeat;
	color:#fff;
	text-decoration:underline;
	padding: 0 0 0 16px;	
	}
.arrow_01 a:hover {
	text-decoration:none;
	}
	
.arrow_03 a {
	background:url(../../images/arrow05.gif) 0 5px no-repeat;
	padding: 0 0 0 15px;	
	text-decoration:underline;
	color:#fff;
	}
.arrow_03 a:hover {
	text-decoration:none;
	}
/*--- End Link Styles---*/	
	

/* 
------------------------------
Footer
------------------------------
*/

.footer { 
	font: normal 90% Tahoma, Geneva, sans-serif;
	color:#fff;
	margin: 12px 0; 
	padding: 0; 
	}
.footer a{
	color:#fff;
	text-decoration:underline;	
	}
.footer a:hover{
	text-decoration:none;
	}