/* 
-----------------------------------------
	Template CSS Main
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/


/* 
------------------------------
Reset
------------------------------
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, dl, dt, dd, ol, ul, li, form, label, caption, table, th, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
/* 
------------------------------
Global
------------------------------
*/	
* {
	margin: 0;
	padding: 0;
	}
	
@charset "utf-8";
	
body {
	background: #fff;
	font: normal 0.8em Tahoma, Geneva, sans-serif;
	color:#000;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	}
	
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}
.clear_bottom {clear:both; padding-bottom: 10px;}
.clear_landing {clear:both; padding-bottom: 125px;}

table tr td span.hide ,
table.global_forms tr td span.hide   {display: none;}

p { padding:10px 0;}

ol { padding: 0 25px; }

div.hide_titlepage h2,
div.hide_titlepage h3 {position: absolute; left: -4000px;}
	
/* 
------------------------------
Header
------------------------------
*/	

.header{
	background: url(../images/bg_top.jpg) repeat-x;
	margin:0; 
	padding: 0; 
	}

.header_container {
	height: 100%;
	margin:0; 
	padding: 0; 
	}	
	
.topheader_divider {margin:0; padding:0; height:100%;}

	/*--- Start Accessibility Menu---*/	
	.topheader_divider .access_menu ul                          {position: absolute; right: 2px; top: 0;}	
	.topheader_divider .access_menu ul li                       {display: inline; list-style-type: none;}	
	.topheader_divider .access_menu ul li img                   {border: 0;}
	.topheader_divider .access_menu .current_view img           {border-bottom: #fff 2px solid; border-left: #fff 2px solid; border-right: #fff 2px solid;}	
	/*--- End Accessibility Menu---*/	
		
	.cup_logo img           {border: 0; width:119px; height:34px; float: left;}
	
	.org_container {background: #630111; color:#fff; border: #000 solid 1px; float:right; margin: 0; padding: 0;}
	.org_container img { float:left; border:none; padding: 0 6px 0 0;}

.middleheader_divider { margin: 5px 0; padding:0; height: 100%;}
.middleheader_divider h1 a, .middleheader_divider h1 a:hover {
	font: normal 175% Tahoma, Geneva, sans-serif;
	color:#fff;
	text-decoration:none;
	float:left; 
	margin: 15px 15px;
	}

.orgname_container{
	padding: 0 15px 5px 0;
	font-weight:bold;
	color: #fff !important; 
	float:right;
	}

.search_container input[type="submit"] {
	background: #004059;	
	font: normal 100% Tahoma, Geneva, sans-serif;
	float:right;
	margin-right: 6px;
	cursor:pointer;
	border: 1px solid #0b6e95;
	padding: 3px;
	color:#fff;
	}

	/*--- Start Top Menu---*/
	.topmenu li {
		font: normal 115% Tahoma, Geneva, sans-serif;
		float:left;
		padding: 6px 0;
		margin: 0;
		display:inline;
		}
	.topmenu li a {
		padding: 6px 8px;
		text-decoration:none;
		color:#fff;
		}
	.topmenu li a:hover {		
		background: #fff;
		color: #000;
		}
	.topmenu li.top_current{
		font: normal 125% Tahoma, Geneva, sans-serif;
		padding: 6px 8px;
		background: #fff;
		color: #000;
		}
		
	.topmenu li h3 {
		font: normal 100% Tahoma, Geneva, sans-serif;
		padding: 6px 0;
		margin: 0;
		display:inline;
		}
	.topmenu li h3 a {
		padding: 6px 8px;
		text-decoration:none;
		color:#fff;
		}
	.topmenu li h3 a:hover {		
		background: #fff;
		color: #000;
		}
	/*--- End Top Menu---*/

/* 
------------------------------
Main Content
------------------------------
*/	

.icon_access ul li   {list-style-type: none; display: inline;}
.icon_access_on img  {position: absolute; left: 25px; float:left; width: 30px; height: 30px; margin: 4px 0;}

.icon_access_faceted img  {position: absolute; top: 5px; right: 10px; width: 30px; height: 30px; margin: 4px 0;}

.titlepage_hidden    {position: absolute; left: -4000px;}
.onlineHidden        {display: none;}

/*--- Right Nav Start ---*/
.nav_right            {float:right; border: 2px solid #000;}
.nav_right ul li      {list-style-type: none;}
.nav_right ul.link_02 li            {display: block; clear: both;}
div.nav_right p                     {color: #fff; font-weight:bold; background: #292929; padding: 5px; margin: 0;}

.nav_right_bar              {padding: 0; margin: 0; background: #292929;}
.nav_right_bar li           {list-style: none; margin: 0; padding: 0;}
.nav_right_bar li a         {display: block; margin: 0; padding: 5px; text-decoration: none; width: 100%; color: #fff; border-bottom: dashed #000 1px; width: 15em;}
.nav_right_bar li a:hover   {border-color: #000; color: #000; background: #fff;}
/*--- Right Nav End ---*/

/*--- Start Link Styles---*/
table.global_forms h2       {font-size: 100%; font-weight: bold; padding: 10px 0 0 0;}
table.global_forms ul       {margin: 0 15px; padding: 0;}
table.global_forms ul li    {list-style-type: none;}

.link_03 a {	
	text-decoration:underline;
	color:#fff;
	}	
.link_03 a:hover {
	text-decoration:none;
	}
/*--- End Link Styles---*/

div.hide {display:none;}
div.show {display:block;}
div.show ul { padding: 5px 15px; list-style-type:none; }

.border-landing p          { padding: 5px 15px; clear:both; }
.border-landing dl         { padding: 5px 15px; clear:both; }
.border-landing dl ul li   { display: inline; float:left; }
.border-landing dt         { padding: 5px 0 5px 30px; clear:both; }
.border-landing dd         { padding: 5px 0 5px 60px; clear:both; }
.border-landing img        { border: none; margin-left: 150px; }
.border-landing h1         { padding: 5px 15px; }

.border-landing .help_topics ul li    {list-style-type: none; clear:both;}
.border-landing .nav_right ul li      {list-style-type: none;}

.border-landing div.title_container                       {margin: 0 10px; padding: 12px 10px;}
.border-landing div.title_container span.extract_nav      {float: left;}
.border-landing div.title_container .chapter_nav ul       {margin: 0; padding: 0; float: right;}
.border-landing div.title_container .chapter_nav ul li    {list-style-type: none; display: inline;}
.border-landing div.title_container .chapter_nav ul li a  {padding: 5px 12px; font-size: 115%; color: #fff; text-decoration: none; background: #004059; border: 1px solid #0b6e95; margin: 0 2px; float: left;}

.ul_content ul li{
	margin: 0 15px;
	}	
	
.landing_container .search_info ul {
	margin: 15px 0;
	list-style-type: none;
	}
.landing_container .search_info li h1 {
	font: normal 150% Tahoma, Geneva, sans-serif;	
	}
.landing_container .search_info li h2 a {
	font: normal 75% Tahoma, Geneva, sans-serif;	
	text-decoration: underline;
	}
.landing_container .search_info li h2 a:hover {
	text-decoration: none;
	}
/*--- Forms Start ---*/	
table.global_forms td {
	padding: 5px 5px;
	}
table.global_forms label {
	font-weight: bold;
	}
table.global_forms hr {
	color:#000;
	margin: 5px 0 10px 0;
	}

select {
	background:#f4f4f4;
	font: normal 100% Tahoma, Geneva, sans-serif;
	padding:1px;	
	}
.select_sort_by {width: 80px;}
	
textarea {
	background:#f4f4f4;
	font: normal 100% Tahoma, Geneva, sans-serif;
	width: 90%;
	padding:1px;	
	}
	
.input_buttons {
	background: #004059;	
	font: normal 100% Tahoma, Geneva, sans-serif;
	cursor:pointer;
	border: 1px solid #0b6e95;
	padding: 2px;
	color:#fff;
	}
		
.input_text {
	background:#f4f4f4;
	font: normal 100% Tahoma, Geneva, sans-serif;
	color:#000;
	padding: 1px;
	}
	
.bar_container {
	border-bottom: #859298 dashed 1px;
	padding: 8px 0; 
	}
.bar_container label {
	font-weight:bold;
	padding: 0 0 0 12px;
	}	
/*--- Forms End ---*/

.border_divider04      {float:left; vertical-align:top; width:45%; padding: 6px 12px;}
.border_divider04 ul   {padding: 10px 25px; list-style-type:none;}
.border_divider05      {float:left; vertical-align:top; width:45%; padding: 6px 12px;}
.border_divider05 ul   {padding: 10px 25px; list-style-type:none;}

.rss_container         {padding: 40px 0 0 0;}
.rss_container ul li   {display: inline; list-style-type: none;}

/*--- Page anchor Start ---*/
.nav_anchor {float:left; margin: 2px; border: 1px solid #000;}
div.nav_anchor p {color: #fff; font-weight:bold; background: #004059; padding: 5px; margin: 0;}

.nav_anchor_bar {padding: 0; margin: 0; background: #004059;}
.nav_anchor_bar li {list-style: none; margin: 0; padding: 0;}
.nav_anchor_bar li a {display: block; margin: 0; padding: 0.4em; border-left: 0.5em solid #00aee3; text-decoration: none; width: 100%; color: #fff; border-top: dashed #000 1px; width: 12em;}
.nav_anchor_bar li a:hover {border-color: #000; color: #000; background: #00aee3;}

.nav_anchor_sub {padding: 0; margin: 0; }
.nav_anchor_sub li {list-style: none; margin: 0; padding: 0 15px; }
.nav_anchor_sub li a {display: block; margin: 0; text-decoration: none; color: #fff; border: none; }
.nav_anchor_sub li a:hover { background: none; color: #fff; text-decoration: underline; }
/*--- Page anchor End ---*/
	
/*--- Alphalist Start ---*/
.alphalist01{
	background: #004059;
	border: #000 solid 1px;	
	width:400px;
	height:100%;
	}
.alphalist01 ul {
	float:left;
	list-style-type:none;
	overflow:hidden;		
	padding: 0 0 0 8px;
	margin: 0;
	}
.alphalist01 li {
	float:left;
	font: normal 100% Tahoma, Geneva, sans-serif;		
	text-align:center;
	text-decoration:none;
	color:#fff;
	display:block;
	width:28px;
	margin:0 1px 1px 0;
	}
.alphalist01 li a {
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
	color:#fff;
	display:block;
	width:28px;
	margin:0 1px 1px 0;
	}
.alphalist01 li a:hover {
	text-decoration:none;
	}
	
.alphalist02 ul {
	background: #004059;
	border: #000 solid 1px;	
	width: 950px;
	float:left;
	overflow:hidden;		
	padding: 0;
	margin: 2px;
	}
.alphalist02 li {
	float:left;
	font: normal 100% Tahoma, Geneva, sans-serif;		
	text-align:center;
	text-decoration:none;
	color:#fff;
	display:inline;
	padding: 0 10px;
	}
.alphalist02 li a {
	font-weight: bold;		
	text-decoration:underline;
	color:#fff;
	}
.alphalist02 li a:hover {
	text-decoration:none;
	}
/*--- Alphalist End ---*/



/* 
------------------------------
Faceted search
------------------------------
*/

.faceted_search_container    {margin: 0; padding: 0;}

.faceted_search_container .search_filter_container h3,
.faceted_search_container .search_filter_container h4    {font-size: 100%; font-weight: bold;}

.faceted_search_container .search_filter_container .did_you_mean_container       {margin: 5px 10px;}
.faceted_search_container .search_filter_container .did_you_mean_container h3    {font-size: 100%; font-weight: bold; color: #900; padding: 0 0 10px 0;}
.faceted_search_container .search_filter_container .did_you_mean_container h4    {font-size: 100%; font-weight: bold; color: #900;}
.faceted_search_container .search_filter_container .did_you_mean_container .search_related_container          {margin: 10px 0; padding: 0;}
.faceted_search_container .search_filter_container .did_you_mean_container .search_related_container ul       {margin: 0; padding: 0;}
.faceted_search_container .search_filter_container .did_you_mean_container .search_related_container ul li    {list-style-type: none; padding: 2px 0;}

.faceted_search_container .search_filter_container .search_filter_selection_container          {margin: 0 10px;}
.faceted_search_container .search_filter_container .search_filter_selection_container ul       {margin: 10px 0; padding: 0;}
.faceted_search_container .search_filter_container .search_filter_selection_container ul li    {list-style-type: none; padding: 2px 0;}

.faceted_search_container .search_filter_container .search_filter_selection_container .search_filter_level_container ul li    {margin: 0; padding: 5px 0;}
.faceted_search_container .search_filter_container .search_filter_selection_container .search_filter_level_container a {
	background: #004059; border: 1px solid #0b6e95; padding: 2px 5px; color: #fff; text-decoration: none;}

.faceted_search_container .search_results_container label                   {font-weight: bold; padding: 0 0 0 10px;}
.faceted_search_container .search_results_container .input_text input       {background: #d1d1d1; width: 0; margin: 0; padding: 2px;}
.faceted_search_container .search_results_container .input_select select    {background: #d1d1d1; margin: 0; padding: 2px;}
.faceted_search_container .search_results_container .input_button input {
	background: #004059; border: 1px solid #0b6e95; color:#fff; padding: 2px; cursor: pointer;}
.faceted_search_container .search_results_container .input_button a {
	background: #004059; border: 1px solid #0b6e95; color:#fff; text-decoration: none; padding: 3px 5px;}

.faceted_search_container .search_results_container .search_results_control ul li label                  {font-weight: bold; padding: 0 0 0 10px;}
.faceted_search_container .search_results_container .search_results_control ul li.input_text input       {background: #d1d1d1; width: 0; margin: 0; padding: 2px;}
.faceted_search_container .search_results_container .search_results_control ul li.input_select select    {background: #d1d1d1; margin: 0; padding: 2px;}
.faceted_search_container .search_results_container .search_results_control ul li.input_button input {
	background: #004059; border: 1px solid #0b6e95; color:#fff; padding: 2px; cursor: pointer;}
.faceted_search_container .search_results_container .search_results_control ul li.input_button a {
	background: #004059; border: 1px solid #0b6e95; color:#fff; text-decoration: none; padding: 3px 5px;}
	
.faceted_search_container .search_results_container .search_results_content_container   {margin: 10px 5px; padding: 0;}
.faceted_search_container .search_results_container .search_results_content_container h3   {display: none;}
.faceted_search_container .search_results_container .search_results_content_container .goto_container ul         {margin: 5px 0; padding: 0; float: right;}
.faceted_search_container .search_results_container .search_results_content_container .goto_container ul li      {list-style-type: noen; display: inline;}
.faceted_search_container .search_results_container .search_results_content_container .goto_container a          {color: #004059; text-decoration: underline;}
.faceted_search_container .search_results_container .search_results_content_container .goto_container a:hover    {text-decoration: none;}

.faceted_search_container .search_results_container .search_results_content_container .ebook_list h4         {font-size: 115%; font-weight: bold;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list h5         {font-size: 100%; font-weight: bold; float: left;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list ul         {margin: 10px 0; padding: 0;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list ul li      {list-style-type: none;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list p          {margin: 10px 0; padding: 0;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .search_results_info ul    {width: 50%; float: left;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container ul          {margin: 10px 0; padding: 0;}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container ul li       {display: inline; float: left;}

.faceted_search_container .search_results_container .search_results_content_container .journal_list h4         {font-size: 115%; font-weight: bold;}
.faceted_search_container .search_results_container .search_results_content_container .journal_list h5         {font-size: 100%; font-weight: bold;}
.faceted_search_container .search_results_container .search_results_content_container .journal_list ul         {margin: 10px 0; padding: 0;}
.faceted_search_container .search_results_container .search_results_content_container .journal_list ul li      {list-style-type: none;}
.faceted_search_container .search_results_container .search_results_content_container .journal_list p          {margin: 10px 0; padding: 0;}




	

/* 
------------------------------
Footer
------------------------------
*/
	
.footer_container{
	background: #859298 url(../images/bg_footer.jpg) repeat-x;
	padding: 10px 12px 0 12px;
	margin:0 auto;
	height:36px;
	}
.footer_container img                      {border: 1px solid #004059; margin: 0 1px; float: left;}
.footer_container img:hover                {border: 1px solid #fff;}	
.footer_container .cup_logo_footer img     {border: none; width: 141px; height:30px; float:right;}

.footer span {position: absolute; left: -4000px;}	
	
/*--- CSS Sprite Links and Icons Start ---*/

.icons_img {
	background: transparent url(../images/icons_img.png) 0 0 no-repeat;
	}	
	
.icons_img.book_type              {background-position: 0 -28px; width: 55px; height: 21px; float: left; margin: 0 2px 0 0;}
.icons_img.subscription_access    {background-position: -60px -28px; width: 162px; height: 21px; float: left; margin: 0 2px 0 0;}
.icons_img.purchased_access       {background-position: -227px -28px; width: 148px; height: 21px; float: left; margin: 0 2px 0 0;}
.icons_img.journal_type           {background-position: -380px -28px; width: 72px; height: 21px; float: left; margin: 0 2px 0 0;}

.icons_img.bullet_01                {background-position: -5px 2px; width: 12px; height: 12px; float:left;}
.icons_img.arrow_01                 {background-position: -58px 1px; width: 14px; height: 14px; float:left;}
.icons_img.arrow_02                 {background-position: -39px -1px; width: 14px; height: 14px; float:left;}
.icons_img.arrow_03                 {background-position: -18px 2px; width: 18px; height: 12px; float:left;}
.icons_img.arrow_04                 {background-position: -91px -1px; width: 10px; height: 12px; float:left;}
.icons_img.breadcrumbs              {background-position: -76px 0; width: 14px; height: 14px; float:left;}

.icons_img.enlarge                  {background-position: -108px -2px; width: 16px; height: 14px; float:left;}
.icon_enlarge ul                    {list-style-type: none;}
.icon_enlarge ul li img             {background: none; padding: 0; border: none;}

.icons_img.pdf_on                   {background-position: -129px -4px; width: 20px; height: 17px; float: left; margin: 0 0 0 5px;}
.icons_img.pdf_off                  {background-position: -154px -4px; width: 20px; height: 17px; float: left; margin: 0 0 0 5px;}
.icons_img.rss_on                   {background-position: -181px -2px; width: 17px; height: 15px; float: left;}
.icons_img.rss_off                  {background-position: -203px -2px; width: 17px; height: 15px; float: left;}
.icons_img.pdf_off_highlight        {background-position: -494px -27px; width: 26px; height: 14px; float: left; margin: 0 0 0 5px;}
.icons_img.pdf_on_highlight         {background-position: -462px -27px; width: 26px; height: 14px; float: left; margin: 0 0 0 5px;}
.icons_img.highlight_text           {background-position: -527px -27px; width: 16px; height: 17px; float: left; margin: 0 4px;}

.icons_img.delicious                {background-position: -225px -5px; width: 20px; height: 20px; float:left; margin: 0 4px;}
.icons_img.connotea                 {background-position: -253px -5px; width: 20px; height: 20px; float:left; margin: 0 4px;}
.icons_img.bibsonomy                {background-position: -281px -5px; width: 20px; height: 20px; float:left; margin: 0 4px;}
.icons_img.digg                     {background-position: -309px -5px; width: 20px; height: 20px; float:left; margin: 0 4px;}
.icons_img.reddit                   {background-position: -337px -5px; width: 20px; height: 20px; float:left; margin: 0 4px;}
.icons_img.facebook                 {background-position: -365px -5px; width: 20px; height: 20px; float:left; margin: 0 4px;}
.icons_img.addthis                  {background-position: -393px -5px; width: 20px; height: 20px; float:left; margin: 0 4px;}

.icons_img.recommend                {background-position: -421px -4px; width: 16px; height: 18px; float:left; margin: 0 4px;}
.icons_img.print                    {background-position: -442px -4px; width: 16px; height: 18px; float:left; margin: 0 4px;}
.icons_img.download_icon            {background-position: -468px -4px; width: 22px; height: 18px; float:left; margin: 0 4px 0 0;}
.icons_img.download_excel                    {background-position: -495px -6px; width: 17px; height: 15px; float:left; margin: 0 4px 0 0;}
.icons_img.download_csv                      {background-position: -517px -6px; width: 17px; height: 15px; float:left; margin: 0 4px 0 0;}
.icons_img.download_excel_disabled           {background-position: -983px -6px; width: 17px; height: 15px; float:left; margin: 0 4px 0 0;}
.icons_img.download_csv_disabled             {background-position: -961px -6px; width: 17px; height: 15px; float:left; margin: 0 4px 0 0;}

/*--- CSS Sprite Links and Icons End ---*/



