
/*errors*/

label.error { 
color: #f00;
display: block;
font-weight: bold;
font-family: arial;
font-size: 12px;
font-style: italic;
margin: 0;
padding: 0;
}

div.errorContainer {
display: block;
}

div.errorContainer label.error {
display: inline;
width: 40%;
padding-left: 5px;
}	

input.error, select.error, textarea.error {
border: 1px dotted #f00;
background-color: #faa;

}