/* 
-----------------------------------------
	Template CSS IE Hack
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/


/* 
------------------------------
Body Content
------------------------------
*/	

/*--- Form style start ---*/	
.page_container .page_wrapper table tr td.button input {
	background: #ebac79; border: 1px solid #c8775a; font-size: 115%; color: #fff; margin: 0 2px 0 0; padding: 2px 5px; cursor: pointer;}
	
.page_container .page_wrapper table tr td.button input, 
.mainpage_container .page_wrapper table tr td.button input {
	background: #ebac79; border: 1px solid #c8775a; font-size: 115%; color: #fff; margin: 0; padding: 2px; cursor: pointer;}
/*--- Form style end ---*/

.mainpage_container .page_wrapper .book_info_container h3 a     {font-size: 90%; font-weight: normal; color: #bf4804; text-decoration: none; display: block;}

.mainpage_container .page_wrapper .book_description_container .book_description_tabmenu ul                      {margin: 0; padding: 0; position: relative; top: 1px; float: left;}

.mainpage_container .page_wrapper .book_description_container .book_description_content {background: #e0ddce; border: 1px solid #aab0a4; padding: 2px 5px 5px 5px;}