/* 
-----------------------------------------
	Template CSS
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/


/* 
------------------------------
Reset
------------------------------
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, dl, dt, dd, ol, ul, li, form, label, caption, table, th, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
/* 
------------------------------
Global
------------------------------
*/	
* {
	margin: 0;
	padding: 0;
	}

body {
	background: #fffdf6;
	font: normal 0.7em Tahoma, Geneva, sans-serif;
	color:#000;	
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	}

#page-wrapper{
	padding: 0;
	margin: 0 auto;
	width: 901px;
	}
	
#top_container{
	background: transparent url(../images/bg_repeat_x.png) 0 -215px repeat-x;
	height: 100%;
	}
	
#print_header{ display:none; }
	
ul {list-style-type: none; margin: 0; padding: 0;}	
ol {margin: 0; padding: 0 0 0 20px;}
li {margin: 0; padding: 0;}
	
a, a:active   {color: #004059; text-decoration: none;}
a:hover       {text-decoration: underline;}
	
table, tr, td {vertical-align: top;}
	
h1  {font: bold 1.0em Tahoma, Geneva, sans-serif; color:#02668e;}	
h2  {font: bold 1.2em Tahoma, Geneva, sans-serif;}	
h3  {font: normal 1.3em Tahoma, Geneva, sans-serif;}	
h4  {font: bold 125% Tahoma, Geneva, sans-serif; padding: 2px 25px 0 0;}	
h5  {font: bold 1.1em Tahoma, Geneva, sans-serif; clear:left; color:#4c5356;}	
h6  {font: bold 1.0em Tahoma, Geneva, sans-serif; padding-bottom:12px; color:#fff;}

ul.normal_list, ol#normal_list {
	display: block;
    padding: 0 0 1.5em 20px;
    margin: 0 0 0 0;
	list-style: disc;
	}

ul.normal_list li, ol#normal_list li {
	display: list-item;
    margin: 0 0 0 0;
	} 

ul.normal_list ul, ol#normal_list ol, ol#normal_list ul, ul.normal_list ol {
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
	}	

.clear {clear:both;}
.clear_list {clear:both; padding-bottom: 80px;}
.clear_bottom {clear:both; padding-bottom: 12px;}
.clear_landing {clear:both; padding-bottom: 6px;}
.clear_01 {clear:both; padding-bottom: 5px;}

img { border:0; }

p { padding-bottom:6px; }
.fl {float:left;}
.fr {float:right;}
.va-top {vertical-align:top;}
.va-bottom {vertical-align:bottom; padding-bottom: 2px;}
.class_inline ul li {display: inline;}

.img_loader {width: 208px; height: 13px;}

	
	/*** Form Style Start ***/
	.label_01{
		font: bold 1.2em Tahoma, Geneva, sans-serif;
		}
	.label_02{
		font: bold 1.0em Tahoma, Geneva, sans-serif;
		}
	.input_01{
		background:#f4f4f4;
		margin-bottom:10px;
		font: normal 1.1em Tahoma, Geneva, sans-serif;
		color:#000;
		width: 150px;
		padding:3px;
		}
		.register_field, .title_field{
			background:#f4f4f4;
			margin-left:10px;
			margin-bottom:10px;
			font: normal 1.1em Tahoma, Geneva, sans-serif;
			color:#000;
			width: 250px;
			padding:3px;
			}
	.select_01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		background:#fff;
		padding: 1px;	
		margin: 0;
		}
	.select_02, .options{
		background:#f4f4f4;
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		padding:1px;	
		margin:0 0 10px 0;
		}
		select#countries, select#state, select#country, select#type, select#county{
			background:#f4f4f4;
			font: normal 1.2em Tahoma, Geneva, sans-serif;
			padding:1px;	
			margin:0 0 10px 10px;
			}
	.checkbox01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		background:#fff;	
		margin:0;
		}
	.register_buttons{
		float:right;
		}
	.border { border-top: #000 1px dotted; padding-bottom:20px; }
	input.button {		
		background: #026e97;
		font-size: 1.0em;
		padding:2px;
		color: #fff;
		cursor: pointer;		
		}
	input.button_disabled {		
		background:#999;
		font-size: 1.0em;
		padding:2px;
		color:#666;
		cursor: pointer;
		}
	
/* 
------------------------------
Header Content
------------------------------
*/	

#header_container{
	background: transparent url(../images/header_img.png) 0 0 no-repeat;
	width: 901px;
	height: 160px;
	float: left;
	}
	
#org_container{
	background: #3f3f3f no-repeat;
	margin:13px 10px 0 0;
	float:right;
	width:280px;
	height:85px;
	}
	#org_content {
		padding: 0;
		margin: 8px 8px 0 8px;
		}	
	#org_content p {
		font: normal 1.0em Tahoma, Geneva, sans-serif;
		color: #fff;
		}		
	#org_content img {
		border:none;
		margin: 0 auto;
		}
	#org_content a {
		font: bold 1.0em Tahoma, Geneva, sans-serif;
		color: #fff;
		text-decoration: underline;
		}	
	#org_content a:hover {
		text-decoration: none;
		}

#search_container{
	position: relative;
	top: 137px;
	right: 10px;
	float:right;
	}
#search_container ul {
	float: right;
	}
		
#cup_logo{
	width:130px;
	height:37px;
	position:absolute;
	cursor:hand;
	top: 0;
	left: 0;
	}
		
#cbo_logo{
	width:575px;
	height:40px;
	position:absolute;
	cursor:hand;
	top: 60px;
	left: 15px;
	}
	
	/*** Login Start ***/	
	#login_container{
		color:#000;
		float:right;
		padding:8px 10px 0 0;
		}
		
	#page_container {
	position: relative;
	margin:0 auto;
	width: 901px;
	top:-1px;
	}
		
	#toppanel {
		position: absolute;
		width: 901px;
		left: 0px;
		z-index: 25;
		}
	
#button_homepage{
	padding: 40px 0 0 20px;
	height:100px;
	}
	
.bot_search_again:link, a.bot_search_again:active, a.bot_search_again:visited {
	display:block;
	width: 88px;
	height:16px;
	background:url(../images/bot_search_again.jpg) no-repeat;
	}
a.bot_search_again:hover{
	background-position:0px -16px;
	}
	
.bot_contact:link, a.bot_contact:active, a.bot_contact:visited {
	display:block;
	float:left;
	margin-bottom:6px;
	width: 176px;
	height:16px;
	background:url(../images/bot_contact.jpg) no-repeat;
	}
a.bot_contact:hover{
	background-position:0px -16px;
	}
	
.bot_recommend:link, a.bot_recommend:active, a.bot_recommend:visited {
	display:block;
	float:left;
	margin-bottom:6px;
	width: 176px;
	height:16px;
	background:url(../images/bot_recommend.jpg) no-repeat;
	}
a.bot_recommend:hover{
	background-position:0px -16px;
	}	


	/*** Topmenu Start ***/		
	.nav        {float:left; margin:128px 0 0 0; padding:0;}
	.nav ul li  {display: inline;}
	
	.nav li.nav_home a               {background:url(../images/header_img.png) 0 -165px no-repeat; float:left; width: 64px; height: 32px;}
	.nav li.nav_about a              {background:url(../images/header_img.png) -64px -165px no-repeat; float:left; width: 66px; height: 32px;}	
	.nav li.nav_faq a                {background:url(../images/header_img.png) -130px -165px no-repeat; float:left; width: 54px; height: 32px;}
	.nav li.nav_help a               {background:url(../images/header_img.png) -184px -165px no-repeat; float:left; width: 56px; height: 32px;}
	.nav li.nav_forlibrarians a      {background:url(../images/header_img.png) -240px -165px no-repeat; float:left; width: 105px; height: 32px;}
	.nav li.nav_account a            {background:url(../images/header_img.png) -345px -165px no-repeat; float:left; width: 158px; height: 32px;}
	
	.nav li.nav_home a:hover              {background:url(../images/header_img.png) 0 -197px no-repeat; float:left; width: 64px; height: 32px;}
	.nav li.nav_about a:hover             {background:url(../images/header_img.png) -64px -197px no-repeat; float:left; width: 66px; height: 32px;}
	.nav li.nav_faq a:hover               {background:url(../images/header_img.png) -130px -197px no-repeat; float:left; width: 54px; height: 32px;}
	.nav li.nav_help a:hover              {background:url(../images/header_img.png) -184px -197px no-repeat; float:left; width: 56px; height: 32px;}
	.nav li.nav_forlibrarians a:hover     {background:url(../images/header_img.png) -240px -197px no-repeat; float:left; width: 105px; height: 32px;}
	.nav li.nav_account a:hover           {background:url(../images/header_img.png) -345px -197px no-repeat; float:left; width: 158px; height: 32px;}
	
	.nav li.nav_home_current a              {background:url(../images/header_img.png) 0 -197px no-repeat; float:left; width: 64px; height: 32px;}
	.nav li.nav_about_current a             {background:url(../images/header_img.png) -64px -197px no-repeat; float:left; width: 66px; height: 32px;}
	.nav li.nav_faq_current a               {background:url(../images/header_img.png) -130px -197px no-repeat; float:left; width: 54px; height: 32px;}
	.nav li.nav_help_current a              {background:url(../images/header_img.png) -184px -197px no-repeat; float:left; width: 56px; height: 32px;}
	.nav li.nav_forlibrarians_current a     {background:url(../images/header_img.png) -240px -197px no-repeat; float:left; width: 105px; height: 32px;}
	.nav li.nav_account_current a           {background:url(../images/header_img.png) -345px -197px no-repeat; float:left; width: 158px; height: 32px;}
	/*** Topmenu End ***/
	
	/*** Topmenu Account Admin Start ***/	
	#nav_admin{
		width: 503px;
		height: 32px;
		background:url(../images/topmenu_account.jpg) no-repeat top left;
		float:left;
		margin:128px 0 0 0;		
		padding:0;
		position: relative;		
	}
	#nav_admin li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0px;
	}
	#nav_admin li, #nav_admin a {
		height: 32px;		
		display: block;
	}	
	#nav_home {left: 0px;  width: 64px; }
	#nav_about {left: 64px;  width: 66px; }
	#nav_faq {left: 130px;  width: 54px; }
	#nav_help {left: 184px;  width: 56px; }
	#nav_forlibrarians {left: 240px;  width: 105px; }
	#nav_account {left: 345px;  width: 158px; }
	
	#nav_home a:hover {background: transparent url(../images/topmenu.jpg) -0px  -32px  no-repeat;}
	#nav_about a:hover {background: transparent url(../images/topmenu.jpg) -64px  -32px  no-repeat;}
	#nav_faq a:hover {background: transparent url(../images/topmenu.jpg) -130px  -32px  no-repeat;}
	#nav_help a:hover {background: transparent url(../images/topmenu.jpg) -184px  -32px  no-repeat;}
	#nav_forlibrarians a:hover {background: transparent url(../images/topmenu.jpg) -240px  -32px  no-repeat;}
	#nav_account a:hover {background: transparent url(../images/topmenu_account.jpg) -345px  -32px  no-repeat;}
	
	#nav_admin_home_current {background: transparent url(../images/topmenu.jpg) -0px  -32px  no-repeat;}
	#nav_admin_about_current {background: transparent url(../images/topmenu.jpg) -64px  -32px  no-repeat;}
	#nav_admin_faq_current {background: transparent url(../images/topmenu.jpg) -130px  -32px  no-repeat;}
	#nav_admin_help_current {background: transparent url(../images/topmenu.jpg) -184px  -32px  no-repeat;}
	#nav_admin_forlibrarians_current {background: transparent url(../images/topmenu.jpg) -240px  -32px  no-repeat;}
	#nav_admin_account_current {background: transparent url(../images/topmenu_account.jpg) -345px  -32px  no-repeat;}
	/*** Topmenu Account Admin End ***/
	

/* 
------------------------------
Main Content
------------------------------
*/
	
#main_container{
	margin:0 auto;
	padding:16px 0;
	}
	
#main_container .downtime_alert  {background: #fd9b96; border: 1px solid #000; padding: 10px 15px;}
#main_container textarea         {resize: none;}

#main_container .page_branding_frontpage { margin: 10px 0;}
	
/* --- Treelist Start ---*/	
div.subjectTree                         {margin: 20px 0 0 0; padding: 0;}
div.subjectTree ul                      {margin: 0 15px;} 
div.subjectTree  ul li a.treeloader  {
	background:url(../images/circle_loading.gif) no-repeat;
	padding: 0 0 0 3px;
	float:left; 
	width: 16px; 
	height: 16px;
	}
/* --- Treelist End ---*/	

.thumb_landing {padding: 0 12px 0 0;}
.thumb_landing ul li {width:100%;}
	
.validate{
	background:#02729a;	
	border-bottom: 2px dotted #2a97b8;
	border-left: 2px solid #2a97b8;
	border-right: 2px solid #2a97b8;
	border-top: 2px solid #2a97b8;
	padding: 8px;
	color:#fff;
	}
	
#content_wrapper01{
	background:#f4f4f4;
	}

#content_wrapper02{
	background:#fff;
	margin:18px 0 0 0;
	padding:25px 0 0 10px;
	}
	
#content_wrapper03{
	margin:0 8px 0 0;
	float:right;
	}
	
.content_wrapper04{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 22px 0 0 0;
	padding: 12px 12px;
	}
	
.content_wrapper05{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 0;
	padding: 12px 12px;
	}
	
#content_wrapper06{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 2px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper07{
	background:#fffdf6;
	margin: 2px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper08{
	padding:8px 0 25px 0;
	}
	
#content_wrapper09{
	margin:0 0 0 10px;
	clear:both;
	float:left;
	}
	
#content_wrapper10{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 0;
	padding:1px 10px;
	}
	
#content_wrapper11{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 22px 0 0 0;
	padding:1px 12px;
	}
	
#banner_signup{
	background:url(../images/signup.jpg) no-repeat;
	margin:15px;
	width:160px;
	height:160px;
	}
	
#banner_container{
	background:url(../images/bg_banner01.jpg) repeat-y;
	float:left;
	margin:15px 0 0 0;
	width:901px;
	}
#banner_series_container{
	background:url(../images/bg_banner02.jpg) repeat-y;
	float:left;
	margin:15px 0 0 0;
	width:901px;
	}
	
	.banner_wrapper01{
		float:left;
		padding:10px 10px 0 50px;
		width:240px;
		}
	#banner_wrapper02{
		float:left;
		padding:10px 10px 0 30px;
		width:270px;
		}
	#banner_wrapper03{
		float:left;
		padding:10px 0 0 50px;
		width:200px;
		}
	.banner_wrapper04{
		float:left;
		padding:10px 30px 0 30px;
		width:45%;
		}
	.banner_wrapper05{
		float:left;
		padding:10px 30px 0 30px;
		width:40%;
		}
	
#border01_container{	
	background: transparent url(../images/bg_repeat_x.png) 0 0 repeat-x;
	padding:8px 0 0 6px;
	height: 26px;
	}	
#border02_container{
	background: transparent url(../images/bg_repeat_x.png) 0 0 repeat-x;
	padding: 6px 4px 0px 4px;
	height: 28px;
	}
	.border_divider01{
		float:left;
		vertical-align:top;
		padding-left:4px;
		}
	.border_divider02{
		float:left;
		vertical-align:top;
		padding-left:8px;
		}
	.border_divider03{
		float:right;
		padding:0 6px 0 0;
		}
	#border_divider04{
		width:100%;
		}
	#border_divider05{
		float:left;
		width:280px;
		margin: 0 0 25px 6px;
		padding: 0;
		}
	#border_divider06{
		float:left;
		vertical-align:top;
		padding:3px;
		}
	#border_divider07{
		float:left;
		vertical-align:top;
		padding:0;
		}
	
		
	#link_books_container{
		margin-left:215px;
		}
		
	.list_divider01{
		float:left;
		width:100%;
		}		
		
	.div_search_info{
		background:url(../images/bg_info_divider.jpg) repeat-y;
		padding-left:40px;
		}
		
	.div_book_info         {vertical-align:top;}
	.div_book_info ul li   {padding: 2px 0;}	
	.div_book_info ul li.disabled_link    {font-size: 115%;}
	.div_book_info ul li.disabled_link a  {font-size: 100%;}
	
	/*** Alphalist Start ***/	
	#alphalist01 ul {
		width:400px;
		float:left;
		overflow:hidden;		
		padding: 6px 0 0 8px;
		margin: 0;
		}
	#alphalist01 li {
		float:left;
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		text-align:center;
		text-decoration:none;
		color:#999;
		display:block;
		width:28px;
		height:22px;
		margin:0 1px 1px 0;
		}
	#alphalist01 li a {		
		font: bold 1.0em Tahoma, Geneva, sans-serif;		
		text-align:center;
		text-decoration:none;
		color:#fff;
		display:block;
		width:28px;
		height:22px;
		margin:0 1px 1px 0;
		}
	#alphalist01 li a:hover {
		color: #01b3e9;
		}
	
	#alphalist02 ul {
		width: 100%;
		float:left;
		overflow:hidden;		
		padding: 0;
		margin: 2px;
		}
	#alphalist02 li {
		float:left;
		font: normal 1.2em Tahoma, Geneva, sans-serif;		
		text-align:center;
		text-decoration:none;
		color:#999;
		display:inline;
		padding: 0 11px;
		}
	#alphalist02 li a {
		font-weight: bold;
		color:#02668e;
		}
	#alphalist02 li a:hover {
		text-decoration:none;
		background: #01b3e9;
		color: #fff;
		}
	/*** Alphalist End ***/
	
	/*** Tab Start ***/
	#tabMenu {margin:0; padding:0; list-style:none;}
	#tabMenu li a   {float:left; height:33px; width:140px; cursor:pointer; cursor:hand;}
	
	li.bookdesc,
	li.bookdesc_chapterpage,
	li.tableofcontents,
	li.toc_page,
	li.chapter_extract,
	li.reference,
	li.exploresubchapter,
	li.volumes                   {float: left;}	
	
	li.bookdesc a                {background:url(../images/tab_bookdesc.jpg) no-repeat 0 -33px;}
	li.bookdesc_chapterpage a    {background:url(../images/tab_bookdesc_chapterpage.jpg) no-repeat 0 -33px;}	
	li.tableofcontents a         {background:url(../images/tab_tableofcontents.jpg) no-repeat 0 -33px;}
	li.toc_page a                {background:url(../images/tab_toc_page.jpg) no-repeat 0 -33px;}
	li.chapter_extract a         {background:url(../images/tab_chapter_extract.jpg) no-repeat 0 -33px;}
	li.reference a               {background:url(../images/tab_reference.jpg) no-repeat 0 -33px;}
	li.exploresubchapter a       {background:url(../images/tab_exploresubchapter.jpg) no-repeat 0 -33px;}
	li.volumes a                 {background:url(../images/tab_volumes.jpg) no-repeat 0 -33px;}
	
	li.mouseover a  {background-position:0 0;}
	li.mouseout a   {background-position:0 -33px;}
	li.selected a   {background-position:0 0;}
	
	.border_container {width:901px}
	.boxTop {background: #fff url(../images/icons_img.png) 0 -340px no-repeat; width: 901px; height: 33px;}
	*html .boxTop {margin-bottom:-2px;}
	.boxBody {
		background: #fff url(../images/bg_table.jpg) repeat-y;
		padding:0 0 10px 0;
		min-height:350px; !important
		}
		
	.boxBottom {background:#252525; height:13px;}
	
	.boxBody div {display:none;}	
	.boxBody div.show {display:block;}
	.boxBody #tabbing a {display:block;}
	
	.boxBody div ul {margin: 0 18px; padding:25px 0 0 0; width:850px; }	
	*html .boxBody div ul {margin-left:10px; padding-left:15px;}
	.boxBody div li {border-bottom:1px solid #b0c0c7; padding:4px 0;}
	.boxBody div ul li.last {border-bottom:none;}
	
	.boxBody div p { clear:both; margin: 0 18px; padding:20px 0 0 0; width:850px;}	
	
	.boxBody div dl { clear:both; margin: 0 20px; padding: 10px 0; }
	
	.boxBody div p.blurb {
		background: transparent url(../images/bg_repeat_x.png) 0 -348px repeat-x;
		width: 810px;		
		height: 60px;
		margin: 18px 18px; 
		padding: 15px 20px 25px 20px;
		text-indent: 75px;
		font-size: 115%;
		font-weight: bold;
		line-height: 20px;
		}
	.boxBody div p.comments { 
		background: transparent url(../images/bg_repeat_x.png) 0 -348px repeat-x;
		margin: 18px 18px; 
		padding:15px 20px 20px 20px; 
		width:810px; 		
		}		
	.boxBody div p.comment_title { 
		background: transparent url(../images/bg_repeat_x.png) 0 -348px repeat-x;
		margin: 0 18px; 
		padding:15px 20px 10px 20px; 
		width:810px;
		font-size: 125%;
		}	
	.boxBody div dl.comment_list { 
		margin: 0 18px; 
		padding: 0 20px 15px 20px; 
		width:810px;
		}
	.boxBody div dl.comment_list dt {
		padding: 5px 0;
		width:810px;
		}
	
	.boxBody div.arrow_05 ul            {margin: 0; padding: 0; float:left;}
	.boxBody div.arrow_05 ul li         {display:inline;}	
	.boxBody div.arrow_05 a             {background: none; text-decoration:underline; margin: 0; border: 0;	padding: 0;}
	.boxBody div.arrow_05 a:hover       {text-decoration: none;}
	.boxBody div.arrow_05 li a          {background: transparent url(../images/icons_img.png) -501px -124px no-repeat; text-decoration: none; margin: 0; border: 0; padding: 0 12px; float: left;}
	.boxBody div.arrow_05 li a:hover    {text-decoration: underline;}
	
	.boxBody div .text_indent_lev01 { padding: 8px 0 8px 15px;}
	.boxBody div .text_indent_lev02 { padding: 8px 0 8px 30px;}
		
	.boxBody div table {margin: 0 25px; padding: 25px 0 0 0; width: 850px; }
	.boxBody div td {border-bottom:1px solid #b0c0c7; padding:8px 0; letter-spacing:0;}
	.boxBody div td.toc_number {font-weight:bold; border-bottom:1px solid #b0c0c7; padding:0 1px; vertical-align:middle;}
	.boxBody div table tr.hide td {display: none;}
	.boxBody div td a {
		font: bold 115% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#02668e;
		}
	.boxBody div td a:hover {
		background:none;
		text-decoration:underline;
		}
		
	.boxBody div td a.toc_links {
		font: normal 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#02668e;
		}
	.boxBody div td a.toc_links:hover {
		background:none;
		text-decoration:underline;
		}
		
	.boxBody div td span.contributor     {margin:0; padding:0; border: 0; clear:both; display: block;}	
	.boxBody div td ul.pdf_container     {margin: 0; padding: 0; background: none; width: 50%; float: left;}
	.boxBody div td ul.pdf_container li  {list-style-type: none; display: inline; margin: 0; padding: 0 5px; border: 0; background: none; float: left;}
		
	.boxBody div .disabled_link, .disabled_link { 
		font: normal 100% Tahoma, Geneva, sans-serif;	
		letter-spacing: 0;
		white-space: nowrap;
		text-decoration:none;
		color: #859298;
		}		
	.boxBody div .disabled_link a, .boxBody div .disabled_link a:hover {font: normal 100% Tahoma, Geneva, sans-serif; color:#859298; text-decoration: none;}	
	
	.boxBody div ul.right_tabmenu { margin: 0 18px; padding:25px 0 0 0; width:210px; float:right; list-style:url(../images/arrow02.gif) inside; }
	.boxBody div .right_tabmenu li {
		border-bottom:1px dotted #b0c0c7; 
		padding:4px 0;		
		}
	.boxBody div .right_tabmenu li a {
		font: bold 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#02668e;
		}
	.boxBody div .right_tabmenu li a:hover {
		background:none;
		text-decoration:underline;
		}
	.boxBody div p.title_container                                      {background:#fafafa; position: relative; margin: 0 20px; padding: 12px 10px;}
	.boxBody div p.title_container span.chapter_nav                     {margin: 0; padding: 0; position: absolute; right: 15px;}
	.boxBody div p.title_container span.chapter_nav a                   {margin: 0; padding: 0 12px; font-size: 200%; color: #fff; text-decoration: none; background: #016690; border: 1px solid #000;}
	.boxBody div p.title_container span.chapter_nav a:hover             {background: #bdccd3; border: 1px solid #87949a;}
	.boxBody div p.title_container span.chapter_nav span.hide_text      {display: none;}
		
	.boxBody div .extractImage{
		padding-left:100px;
		}	
	
	.txt_googlescholar{
		background:url(../images/reficon_googlescholar.gif) no-repeat;
		float:left;
		width:81px;
		height:11px;
		}
	.txt_googlebooks{
		background:url(../images/reficon_googlebooks.gif) no-repeat;
		float:left;
		width:74px;
		height:11px;
		}
	.txt_crossref{
		background:url(../images/reficon_crossref.gif) no-repeat;
		float:left;
		width:43px;
		height:11px;
		}
	.txt_open_url{
		background:url(../images/reficon_open_url.gif) no-repeat;
		float:left;
		width:58px;
		height:11px;
		}		
	/*** Tab End ***/

	
	/*** Title Start ***/
	h1.titlepage_heading {
		font-size: 200%;
		font-weight: normal;
		color: #000;
		margin: 0px;
		padding: 0px 0px 10px 0px;
		}
	
	.titlebanner_homepage{
		background: #fff url(../images/icons_img.png) 0 -378px no-repeat;
		width: 901px;
		height: 42px;
		float: left;
		}	
	.titlebanner_series{
		background: #fff url(../images/icons_img.png) 0 -425px no-repeat;
		width: 901px;
		height: 42px;
		float: left;
		}
	.titlebanner_topsearch{
		background: #fff url(../images/icons_img.png) -640px -98px no-repeat;
		width: 251px;
		height: 24px;
		float: left;
		}
	/*** Title End ***/	
		
	/*** Treelist Start ***/
		
	.treeview, .treeview ul {
		padding: 0;
		margin: 0;
		list-style: none;
		}
	
	.treeview ul {
		margin: 4px;
		}
	
	.treeview .hitarea {
		background: url(../images/tree/treeview-default.gif) -64px -25px no-repeat;
		height: 16px;
		width: 16px;
		margin-left: -16px;
		float: left;
		cursor: pointer;
		}
	
	* html .hitarea {
		display: inline;
		float:none;
		}
	
	.treeview li {
		margin: 0;
		padding: 3px 0 3px 16px;
		}
	
	.treeview a.selected {
		text-decoration:underline;
		}
	
	.treeview .hover { text-decoration:underline; cursor: pointer; }
	
	.treeview li { background: url(../images/tree/treeview-default-line.gif) 0 0 no-repeat; }
	.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
	
	.treeview .expandable-hitarea { background-position: -80px -3px; }
	
	.treeview li.last { background-position: 0 -1766px; }
	.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/tree/treeview-default.gif); }  
	.treeview li.lastCollapsable { background-position: 0 -111px }
	.treeview li.lastExpandable { background-position: -32px -67px }
	
	.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; } 
	
	.filetree li { padding: 3px 0 2px 16px; }
	.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
	.filetree span.folder { background: url(../images/tree/folder.gif) 0 0 no-repeat; }
	.filetree li.expandable span.folder { background: url(../images/tree/folder-closed.gif) 0 0 no-repeat; }
	.filetree span.file { background: url(../images/tree/file.gif) 0 0 no-repeat; }			
	
	/*** Links Start ***/	
	.link01:link, a.link01:active, a.link01:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #434f57;
		text-decoration:underline;
		}
	a.link01:hover{	
		text-decoration: none;
		}	
		
	.link02, .link02:link, a.link02:active, a.link02:visited{
		font: normal 90% Tahoma, Geneva, sans-serif;
		color: #02668e;
		text-decoration: none;
		}
	a.link02:hover{
		color:#fff;
		background:#01b3e9;
		}	
	
	.link03:link, a.link03:active, a.link03:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link03:hover{
		text-decoration:underline;
		}
	.link03_current{	
		font: bold 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}	
	.link04:link, a.link04:active, a.link04:visited{
		font: bold 1.2em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link04:hover{
		color:#fff;
		background:#01b3e9;
		}
		
	.link05:link, a.link05:active, a.link05:visited{
		font: bold 1.2em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration:underline;
		}
	a.link05:hover{
		text-decoration:none;
		}
		
	.link06:link, a.link06:active, a.link06:visited{
		font: normal 115% Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration:underline;
		}
	a.link06:hover{
		text-decoration:none;
		}
		
	.link07:link, a.link07:active, a.link07:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link07:hover{	
		text-decoration:underline;
		}
		
	.link08:link, a.link08:active, a.link08:visited{
		font: bold 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link08:hover{	
		text-decoration:underline;
		}
		
	.link09:link, a.link09:active, a.link09:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #02668e;
		text-decoration: none;
		}
	a.link09:hover{	
		text-decoration:underline;
		}
		
	.link10:link, a.link10:active, a.link10:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #fff;
		text-decoration: none;
		}
	a.link10:hover{	
		text-decoration:underline;
		}
		
	.link11 {
		font-weight: bold;
		color: #900;
		text-decoration: none;
		}		
	.link11 a{
		font-weight: bold;
		color: #02668e;
		text-decoration: none;
		}
	.link11 a:hover{	
		text-decoration:underline;
		}
		
	.link_disabled {
		color:#999;
		}
		
	.text_02{
		font-weight: bold;
		color: #999;
		}
	/*** Links End ***/

	
/* 
------------------------------
Navigation
------------------------------
*/
.searchWord { 
	background: #99ccff;	
	padding: 0 3px;	
	border-radius: 5px;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	}
	
	/*-- Leftmenu Start --*/
	.menu         {border: solid 1px #87949a; width: 180px;	float: right;}
	.menu h2      {background: #fafafa url(../images/bg_repeat_x.png) 0 -90px repeat-x; font-size: 90%; color:#000; padding: 6px 0 10px 5px;}
	.menu ul      {background: #fafafa; padding: 0 10px;}
	.menu ul li   {margin: 0; padding: 5px 0; list-style:none;}
	
	.text_01, .text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a:hover {
		color: #000;
		}
	/*-- Leftmenu End --*/
	

/* CSS form input button Start */
a.button, span.button, del.button{	
	display:-moz-inline-box;
	display:inline-block;
	cursor:pointer;
	border:none;
    font-size:0;
    line-height:0;
	
	background-position:0 0;
	background-repeat:no-repeat;
	height:30px;
	text-decoration:none;
	color:#2e523b;
	font-style:normal;
	margin:0 6px 0px 0;
	padding:0 10px 0 0;	
	vertical-align:middle;	
	
    padding-top:-2px;
	_position:relative;
	_width:10px;	
	_overflow-y:hidden;
	}



a.button, span.button, del.button,
a.button span, span.button button, span.button input, del.button span{
    background-image:url(../images/form_buttons.jpg);
    _background-image:url(../images/form_buttons.jpg);
	}


a.button span, span.button button, span.button input, del.button span{	
	white-space:nowrap;
	cursor:pointer;
    color:#fff;
	display:-moz-inline-box;
	display:inline-block;
	line-height:1;
    letter-spacing:0 !important;
    font-family: Tahoma, Geneva, sans-serif !important;
    font-size: 11px !important;
    font-style:normal;    
    background-color:transparent;
	background-position:100% 0;
	background-repeat:no-repeat;
	height:30px;
	padding:8px 15px 0 5px;
	margin:0 -18px 0 10px;
	border:none;
	vertical-align:text-top;
	zoom:1;
	_position:relative;
    _padding-left:0px;
	_padding-right:12px;
	_margin-right:-10px;	
	_display:block;
	_top:0;
	_right:-5px;	
	}	


span.button button{
   line-height:2.5;/*Opera need this*/
	}

html.safari a.button span, 
html.safari del.button span{
  line-height:1.3;
	}

html.safari span.button button{
  line-height:2.6;
	}

html.safari a.button:focus,
html.safari span.button button:focus{
    outline:none;
	}

del.button{
	background-position:0 -120px;	
	}

del.button span{
	cursor:default;
    color:#aaa !important;
	background-position:100% -120px;
	}


span.button button, span.button input{
	padding-top:0px;
	line-height:2.5;/*Opera need this*/
	}

a.button:hover, 
span.button:hover,
a.button:focus, 

a.dom-button-focus, 
span.button-behavior-hover{
	background-position:0 -60px;
	color:#222;
	text-decoration:none;
	}

a.button:hover span, 
span.button:hover button, 
a.button:focus span, 

span.button-behavior-hover button, 
span.button-behavior-hover input{
	background-position:100% -60px;
	}

a.button:active, a.button:focus span{
	color:#444;
	}

del.button-behavior-hover, del.button:hover{
	background-position:0 -180px;
	}


del.button-behavior-hover span, del.button:hover span{
	background-position:100% -180px;	
	}
/* CSS form input button End */



/* CSS right menu Start */
#rightmenu_wrapper{
	vertical-align:top;
	}
	
.rightmenu{	
	float: right;
	margin: 0;
	padding: 0;
	width: 198px;
	border: solid 1px #000;
	}

.rightmenu a.menuitem{	
	background: transparent url(../images/bg_repeat_x.png) 0 -127px repeat-x;
	height: 14px;
	border-bottom: 1px solid #000;
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	color: #fff;
	display: block;
	position: relative;	
	padding: 6px 0;
	padding-left: 10px;
	text-decoration: none;
	}
.rightmenu a.menuitem:visited{
	color: #fff;
	}	
.rightmenu .menuitem:active{
	color: #000;
	}
.rightmenu a.menuitem:hover {
	background: transparent url(../images/bg_repeat_x.png) 0 -171px repeat-x;
	height: 14px;
	color: #000;
	}

.rightmenu a.menuitem .statusicon{ 
	position: absolute;
	left: 4px;
	border: none;
	}

.rightmenu div.submenu{ 
	background: #fff;
	}

.rightmenu div.submenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.rightmenu div.submenu ul li{		
	border:0;
	}

.rightmenu div.submenu ul li a{	
	display: block;
	background: #fff;
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	border-bottom: #b0c0c7 1px dotted;
	text-decoration: none;
	padding: 4px 0 4px 10px;
	}

.rightmenu div.submenu ul li a:hover, .rightmenu div.submenu ul li a:active{
	text-decoration: none;
	color: #01b1eb;
	}	
	
/* CSS right menu End */


/* 
------------------------------
Footer Content
------------------------------
*/	

#footer_container          {background: transparent url(../images/bg_repeat_x.png) 0 -39px repeat-x; height: 46px;}
#footer_wrapper            {padding-top: 10px; width: 901px; margin:0 auto;}	
#footer_wrapper ul         {margin: 0; padding: 0 0 0 200px;}
#footer_wrapper ul li      {list-style-type: none; display: inline;}
#footer_wrapper ul li a    {color: #fff; padding: 0 2px;}


/* 
------------------------------
Faceted Search
------------------------------
*/	

.boxBody_faceted {
		background: transparent;
		margin: 0;
		padding: 0;
		font-size: 90%;
		min-height:350px; !important
		}
.boxBody_faceted .left_control ul             {background: #626567; border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 4px 0; width: 100%; height: 15px;}
.boxBody_faceted .left_control ul li          {list-style-type: none; display: inline;}
.boxBody_faceted .left_content_container      {background: #fff; border-left: 1px solid #000; border-right: 1px solid #000; width: 235px; float: left;}
.boxBody_faceted .left_content ul             {margin: 10px 10px;}
.boxBody_faceted .left_content ul li          {display: block; clear: both;}   
.boxBody_faceted .left_content ul li input    {margin: 0 5px 0 0; float: left;}

.boxBody_faceted div.alert_msg {width: 655px; margin: 0 0 0 5px; float: left; font-weight: bold; color: #900;}

.boxBody_faceted .left_content ul.leftmenu_form li a    {float: left; width: 90%;}

.boxBody_faceted .left_content ul li.arrow_view_more a      {background: transparent url(../images/icons_img.png) -525px -108px no-repeat; width: 70px; height: 12px; float: left;}
.boxBody_faceted .left_content ul .hide_list                {display: none;}
.boxBody_faceted .left_content ul.remove_bot                {margin: 15px 10px 0 10px;}
.boxBody_faceted .left_content ul.remove_bot li             {list-style-type: none; display: block; margin: 6px 0;}
.boxBody_faceted .left_content ul.remove_bot li a           {text-decoration: none; background: #bfcfd6; color: #000; border: 1px solid #87949a; padding: 2px 5px;}
.boxBody_faceted .left_content ul.remove_bot li a:hover     {background: #016690; border: 1px solid #000; color: #fff;}

.boxBody_faceted .left_content .did_you_mean_container       {margin: 0; padding: 10px;}
.boxBody_faceted .left_content .did_you_mean_container h1    {font-size: 100%; font-weight: bold; color: #900;}
.boxBody_faceted .left_content .search_related_container h2            {font-size: 100%; font-weight: bold; color: #900;}
.boxBody_faceted .left_content .search_related_container               {margin: 0; padding: 0 10px;}
.boxBody_faceted .left_content .search_related_container ul            {margin: 0; padding: 0;}
.boxBody_faceted .left_content .search_related_container ul li span    {font-weight: bold;}

.boxBody_faceted .right_control ul             {background: #626567; border-top: 1px solid #000; border-bottom: 1px solid #000; color: #fff; padding: 4px 0; width: 100%; height: 15px;}
.boxBody_faceted .right_control ul li          {list-style-type: none; display: inline;}
.boxBody_faceted .right_control ul li a        {color: #fff;}
.boxBody_faceted .right_control ul li.control_divider01   {padding: 0 4px; float: left;}
.boxBody_faceted .right_control ul li.control_divider02   {float: left;}
.boxBody_faceted .right_control ul li.control_divider03   {padding: 0 10px; float: right;}
.boxBody_faceted .right_control ul li select   {font-size: 90%; padding: 1px}
.boxBody_faceted .right_control ul li input    {font-size: 90%; padding: 1px}
.boxBody_faceted .right_content_container      {background: #fff; border-left: 1px solid #000; border-right: 1px solid #000; width: 655px; margin: 0 0 0 5px; float: left;}

.boxBody_faceted .right_content                        {margin: 5px 5px;}
.boxBody_faceted .right_content span.searchWord {
	background: #3397fa; color: #fff; padding: 0 3px; border-radius: 0; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important;}
	
.boxBody_faceted .right_content .ebook_list            {background: #fff; border: 1px solid #e6e4e4; padding: 10px;}
.boxBody_faceted .right_content .ebook_list ul li      {list-style-type: none;}
.boxBody_faceted .right_content .ebook_list ul li.list_type a           {font-weight: bold; text-decoration: underline;}
.boxBody_faceted .right_content .ebook_list ul li.list_type a:hover     {text-decoration: none;}

.boxBody_faceted .right_content .ebook_list .show_all_container p                {float: left; padding: 2px 0;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul               {width: 30%; float: right;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul li            {list-style-type: none; width: 100%; padding: 4px 0; float: left;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul li a          {font-weight: bold; text-decoration: none; float: right;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul li a:hover    {text-decoration: none; color: #000;}

.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist     {margin-left: 25px;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist li  {padding: 5px 0;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist li.chapter_name a           {font-weight: normal; text-decoration: underline;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist li.chapter_name a:hover     {text-decoration: none;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist .hide_chapterlist           {display: none;}

.boxBody_faceted .right_content .ebook_list .ebook_info ul         {margin: 0; padding: 0; float: left; width: 45%;}
.boxBody_faceted .right_content .ebook_list .ebook_info ul li      {list-style-type: none;}

.boxBody_faceted .right_content .journal_list            {background: #fff; border: 1px solid #e6e4e4; padding: 10px;}
.boxBody_faceted .right_content .journal_list ul li      {list-style-type: none;}
.boxBody_faceted .right_content .journal_list ul li.list_type a           {font-weight: bold; text-decoration: underline;}
.boxBody_faceted .right_content .journal_list ul li.list_type a:hover     {text-decoration: none;}

.boxBody_faceted .right_content .journal_list .journal_preview ul            {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview ul li         {list-style-type: none; display: inline; background: #bfcfd6; color: #000; border: 1px solid #87949a; padding: 2px 4px;}
.boxBody_faceted .right_content .journal_list .journal_preview ul li:hover   {background: #67b5f9; border: 1px solid #000;}
.boxBody_faceted .right_content .journal_list .journal_preview ul li a       {font-weight: normal; text-decoration: none; color: #000;}
.boxBody_faceted .right_content .journal_list .journal_preview p             {border: 1px solid #87949a; margin: 0; padding: 4px 8px;}
.boxBody_faceted .right_content .journal_list .journal_preview p.hide_preview   {display: none;}

.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract         {border: 1px solid #87949a; padding: 5px 10px;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract ul      {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract ul li   {list-style-type: none; display: block; background: none; border: none; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract p       {margin: 0; padding: 0; border: none;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery       {background: #bfcfd6; border: 1px solid #87949a; width: 45%; margin: 5px; padding: 10px; float: right;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery ul       {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery ul li a        {list-style-type: none; display: inline; padding: 0; color: #394159;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery ul li a:hover  {text-decoration: underline;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract h3.bold, 
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract p.section-title          {font-size: 100%; font-weight: bold; display: block; padding: 10px 0 0 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .description-box ul      {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .description-box ul li   {list-style-type: none; display: inline; background: none; border: none; padding: 0;}

.bot_select_all:link, a.bot_select_all:active, a.bot_select_all:visited, a.bot_select_all:hover {
	float: right;
	width: 68px;
	height: 16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) 0 -87px no-repeat;
	}
	
.bot_reset:link, a.bot_reset:active, a.bot_reset:visited, a.bot_reset:hover {
	float: right;
	width: 56px;
	height: 16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -73px -87px no-repeat;
	}
	
.bot_submit:link, a.bot_submit:active, a.bot_submit:visited, a.bot_submit:hover {
	float: right;
	width: 56px;
	height: 16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -247px -84px no-repeat;
	}
	
.bot_go_faceted:link, a.bot_go_faceted:active, a.bot_go_faceted:visited, a.bot_go_faceted:hover {
	float:left;
	width: 38px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -841px -49px no-repeat;
	}
	
.icons_img.icon_book_type              {background-position: -308px -91px; width: 32px; height: 13px; margin: 0 0 0 2px; float:left;}
.icons_img.icon_journal_type           {background-position: -507px -91px; width: 40px; height: 13px; margin: 0 0 0 2px; float:left;}
.icons_img.icon_subscription_type      {background-position: -345px -91px; width: 91px; height: 13px; margin: 0 0 0 2px; float:left;}
.icons_img.icon_free_type              {background-position: -441px -91px; width: 61px; height: 13px; margin: 0 0 0 2px; float:left;}

	
	
/*--- CSS Sprite Links and Icons Start ---*/
.icons_img {
	background: transparent url(../images/icons_img.png) 0 0 no-repeat;
	}	

.icons_img.crossref                {background-position: 0 -32px; width: 85px; height: 31px; float:left;}
.icons_img.acap                    {background-position: -90px -32px; width: 35px; height: 31px; float:left; margin: 0 2px;}
.icons_img.cup_logo                {background-position: -130px -32px; width: 141px; height: 31px; float: right;}
.icons_img.bot_signup              {background-position: -278px -32px; width: 136px; height: 26px; float:left; margin: 12px 0;}
.icons_img.bot_search              {background-position: -420px -32px; width: 56px; height: 16px; float:left;}
.icons_img.banner_bottom           {background-position: 0 0; width: 901px; height: 22px; float:left;}

.icons_img.icon_alert              {background-position: -600px -94px; width: 30px; height: 32px; float: left; margin: 0 5px 0 0;}

.breadcrumbs_container                {margin: 0; padding: 0;}
.breadcrumbs_container ul             {margin: 0; padding: 0;}
.breadcrumbs_container li             {float:left; display: inline;}
.icons_img.breadcrumbs                {background-position: -316px -67px; width: 12px; height: 12px; float:left; margin: 0 0 0 8px;}
.icons_img.breadcrumbs_divider        {background-position: 0 -472px; width: 901px; height: 5px; float:left;}

.icons_img.bullet01             {background-position: -247px -67px; width: 11px; height: 11px; float:left;}
.icons_img.bullet02             {background-position: -778px -68px; width: 11px; height: 11px; float:left;}
.icons_img.arrow01              {background-position: -279px -67px; width: 11px; height: 11px; float:left;}
.icons_img.arrow02              {background-position: -262px -67px; width: 11px; height: 11px; float:left;}
.icons_img.arrow03              {background-position: -297px -67px; width: 14px; height: 14px; float:left;}
.icons_img.arrow04              {background-position: -760px -70px; width: 14px; height: 14px; float:left;}

.icons_img.enlarge                   {background-position: -333px -67px; width: 15px; height: 15px; float:left;}
.icons_img.recommend                 {background-position: -354px -69px; width: 16px; height: 16px; float:left; padding: 0 0 0 5px;}
.icons_img.add_notes                 {background-position: -466px -105px; width: 14px; height: 15px; float:left; padding: 0 0 0 5px;}
.icons_img.highlight_text            {background-position: -416px -125px; width: 16px; height: 16px; float:left; padding: 0 0 0 2px;}
.icons_img.pdf_highlight             {background-position: -437px -124px; width: 23px; height: 14px; float:left;  padding: 0 0 0 5px;}
.icons_img.pdf_highlight_disabled    {background-position: -437px -105px; width: 23px; height: 14px; float:left;  padding: 0 0 0 5px;}
.icons_img.no_recommend              {background-position: -396px -125px; width: 16px; height: 16px; float:left; padding: 0 0 0 5px;}
.icons_img.print                     {background-position: -375px -69px; width: 16px; height: 16px; float:left; padding: 0 0 0 5px;}
.icons_img.pdf_on                    {background-position: -572px -74px; width: 20px; height: 20px; float:left;}
.icons_img.pdf_off                   {background-position: -597px -74px; width: 20px; height: 20px; float:left;}
.icons_img.download_excel                {background-position: -849px -72px; width: 17px; height: 15px; float:left; padding: 0 0 0 5px;}
.icons_img.download_csv                  {background-position: -871px -72px; width: 17px; height: 15px; float:left; padding: 0 0 0 5px;}
.icons_img.download_excel_disabled       {background-position: -395px -105px; width: 17px; height: 15px; float:left; padding: 0 0 0 5px;}
.icons_img.download_csv_disabled         {background-position: -416px -105px; width: 17px; height: 15px; float:left; padding: 0 0 0 5px;}
.disabled_link a {font-size: 115%; text-decoration: none; color: #696969;}
.pdf_link a {font-size: 115%; text-decoration: none; color: #004059;}
/* .icons_img.download_icon        {background-position: -846px -74px; width: 22px; height: 16px; float:left; padding: 0 0 0 5px;} */

.icons_img.access               {background-position: -621px -74px; width: 20px; height: 20px; float:left; margin: 0 6px;}
.icons_img.purchase             {background-position: -648px -74px; width: 20px; height: 20px; float:left; margin: 0 6px;}
.icons_img.rss_on               {background-position: -678px -72px; width: 18px; height: 18px; float:left;}
.icons_img.rss_off              {background-position: -700px -72px; width: 18px; height: 18px; float:left;}
.icons_img.comment              {background-position: -793px -73px; width: 22px; height: 20px; float:left;}
.icons_img.winner               {background-position: -820px -74px; width: 22px; height: 20px; float:left;}

.icons_img.access_faceted       {background-position: -621px -74px; width: 20px; height: 20px; float: right;}
.icons_img.purchase_faceted     {background-position: -648px -74px; width: 20px; height: 20px; float: right;}

.icons_img.tree_plus            {background-position: -722px -70px; width: 14px; height: 14px; float:left;}
.icons_img.tree_minus           {background-position: -741px -70px; width: 14px; height: 14px; float:left;}

.icons_img.delicious            {background-position: -401px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.connotea             {background-position: -425px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.bibsonomy            {background-position: -449px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.digg                 {background-position: -474px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.reddit               {background-position: -499px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.facebook             {background-position: -524px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.addthis              {background-position: -548px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}

.bot_searching:link, a.bot_searching:active, a.bot_searching:visited, a.bot_searching:hover {
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -481px -32px no-repeat;
	}
.bot_searching_disabled {
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -481px -48px no-repeat;
	}
	
.bot_clear:link, a.bot_clear:active, a.bot_clear:visited, a.bot_clear:hover {
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -571px -32px no-repeat;
	}
.bot_clear_disabled{
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -571px -48px no-repeat;
	}
	
.bot_fewerchoices:link, a.bot_fewerchoices:active, a.bot_fewerchoices:visited, a.bot_fewerchoices:hover {
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -661px -32px no-repeat;
	}
.bot_fewerchoices_disabled{
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -661px -48px no-repeat;
	}
	
.bot_morechoices:link, a.bot_morechoices:active, a.bot_morechoices:visited, a.bot_morechoices:hover {
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -751px -32px no-repeat;
	}
.bot_morechoices_disabled{
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -751px -48px no-repeat;
	}
	
.bot_show:link, a.bot_show:active, a.bot_show:visited, a.bot_show:hover {
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) 0 -68px no-repeat;
	}
.bot_hide:link, a.bot_hide:active, a.bot_hide:visited, a.bot_hide:hover {
	float:left;
	width: 86px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -91px -68px no-repeat;
	}
	
.bot_go:link, a.bot_go:active, a.bot_go:visited, a.bot_go:hover {
	float:left;
	width: 38px;
	height:16px;
	margin: 0 1px;
	background: transparent url(../images/icons_img.png) -841px -32px no-repeat;
	}
	
#alphalist_container {
	background: transparent url(../images/icons_img.png) 0 -105px no-repeat; 
	width: 391px; 
	height: 50px; 
	float:left;
	}
	
.text_search{
	background: #fff url(../images/icons_img.png) right -128px no-repeat;
	font: normal 100% Tahoma, Geneva, sans-serif;
	color:#000;
	width: 200px;
	padding: 3px;
	border: 1px solid #000;
	}

/*--- CSS Sprite Links and Icons End ---*/
	





