/* 
-----------------------------------------
	Template CSS Main
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/

	
.input_buttons {
	background: #004059;	
	font: normal 100% Tahoma, Geneva, sans-serif;
	cursor:pointer;
	border: 1px solid #0b6e95;
	margin: 0;
	padding: 0;
	color:#fff;
	}	
.topmenu span {clear: both;}
.select_sort_by {width: 150px;}



