/* 
-----------------------------------------
	Template CSS Main
	by: John Ryan Acoba
    Jr. GUI Designer
-----------------------------------------
*/

	
* {
	margin: 0;
	padding: 0;
	}
	
@charset "utf-8";
	
body {
	background: #fff;
	font: normal 0.8em Tahoma, Geneva, sans-serif;
	color:#000;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	}
	
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}
.clear_bottom {clear:both; padding-bottom: 10px;}
p { padding:10px 0;}
	
/* 
------------------------------
Header
------------------------------
*/	

.header{
	background: url(../images/aaa_images/bg_top.jpg) repeat-x;
	margin:0; 
	padding: 0; 
	}

.header_container {
	background: url(../images/aaa_images/bg_header.jpg) no-repeat;
	height: 100%;
	margin:0; 
	padding: 0; 
	}	
	
.topheader_divider {margin:0; padding:0; height:100%;}
	/*--- Start Accessibility Menu---*/	
	/*-.topheader_divider .access_menu ul {
		float:right;		
		padding: 6px;
		margin: 0;
		}-*/
	.topheader_divider .access_menu li {
		font: normal 125% Tahoma, Geneva, sans-serif;
		float:right;
		padding: 2px;
		text-align:center;
		display:inline;
		}
	.topheader_divider .access_menu li a {		
		background: #fff;
		border: #000 solid 1px;
		text-decoration:none;
		font-weight: bold;
		color:#000;
		padding: 1px 10px;
		}
	.topheader_divider .access_menu li a:hover {		
		background: #630111;
		color: #fff;
		}
	
	.topheader_divider .access_menu li a.small_font {		
		background: #fff;
		border: #000 solid 1px;
		text-decoration:none;
		font: normal 0.7em Tahoma, Geneva, sans-serif;
		color:#000;
		}
	.topheader_divider .access_menu li a.small_font:hover {		
		background: #630111;
		color: #fff;
		}
		
	.topheader_divider .access_menu li a.medium_font {		
		background: #fff;
		border: #000 solid 1px;
		text-decoration:none;
		font: normal 0.9em Tahoma, Geneva, sans-serif;
		color:#000;
		}
	.topheader_divider .access_menu li a.medium_font:hover {		
		background: #630111;
		color: #fff;
		}
		
	.topheader_divider .access_menu li a.change_contrast {		
		background: #630111;
		border: #000 solid 1px;
		text-decoration:none;
		font-weight: bold;
		color:#fff;
		}
	.topheader_divider .access_menu li a.change_contrast:hover {		
		background: #fff;
		color: #000;
		}
	
	/*--- End Accessibility Menu---*/	
		
	.cup_logo:link, a.cup_logo:active, a.cup_logo:visited, a.cup_logo:hover {
		background:url(../images/aaa_images/cup_logo.jpg) no-repeat;
		display:block;
		float:left;
		width:119px;
		height:34px;
		}
	
	.org_container { background: #630111; color:#fff; border: #000 solid 1px; float:right; margin: 0; padding: 0;}
	.org_container img { float:left; border:none; padding: 0 6px 0 0;}
	

.middleheader_divider { margin: 5px 0; padding:0; height: 100%;}
	.logo_ebooks:link, a.logo_ebooks:active, a.logo_ebooks:visited, a.logo_ebooks:hover {
		font: normal 300% Tahoma, Geneva, sans-serif;
		color:#000;
		text-decoration:none;
		float:left; 
		margin: 15px 15px;
		}

.orgname_container{
	padding: 0 15px 5px 0;
	font-weight:bold;
	float:right;
	}

.search_container input[type="submit"]{
	background: #004059;	
	font: normal 100% Tahoma, Geneva, sans-serif;
	float:right;
	margin-right: 6px;
	cursor:pointer;
	border: 1px solid #0b6e95;
	padding: 3px;
	color:#fff;
	}

	/*--- Start Top Menu---*/
	/*.topmenu ul {
		float:left;
		overflow:hidden;	
		padding: 6px 0;
		margin: 0;
		}*/
	.topmenu li {
		font: normal 125% Tahoma, Geneva, sans-serif;
		float:left;
		padding: 6px 0;
		margin: 0;
		display:inline;
		}
	.topmenu li a {
		padding: 6px 12px;
		text-decoration:none;
		color:#fff;
		}
	.topmenu li a:hover {		
		background: #fff;
		color: #000;
		}
	.topmenu li.top_current{
		font: normal 125% Tahoma, Geneva, sans-serif;
		padding: 6px 12px;
		background: #fff;
		color: #000;
		}
	/*--- End Top Menu---*/

/* 
------------------------------
Main Content
------------------------------
*/	

/*--- Start Form Style---*/
/*--- End Form Style---*/

.border_divider04 { float:left; vertical-align:top; width:45%; padding: 6px 12px; }
.border_divider05 { float:left; vertical-align:top; width:45%; padding: 6px 12px; }
.border_divider05 ul {padding: 10px 25px; list-style-type:none;}
	
	
/*--- Alphalist Start ---*/
#alphalist01{
	background: #004059;
	border: #000 solid 1px;	
	width:400px;
	height:100%;
	}
#alphalist01 ul {
	float:left;
	list-style-type:none;
	overflow:hidden;		
	padding: 0 0 0 8px;
	margin: 0;
	}
#alphalist01 li {
	float:left;
	font: normal 1.0em Tahoma, Geneva, sans-serif;		
	text-align:center;
	text-decoration:none;
	color:#fff;
	display:block;
	width:28px;
	margin:0 1px 1px 0;
	}
#alphalist01 li a {
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
	color:#fff;
	display:block;
	width:28px;
	margin:0 1px 1px 0;
	}
#alphalist01 li a:hover {
	text-decoration:none;
	}
/*--- Alphalist End ---*/	
	
/*--- Start Link Styles---*/
.bullet_01 a {
	background:url(../images/aaa_images/bullet01.gif) 0 8px no-repeat;
	padding: 0 0 0 15px;
	text-decoration:none;
	color:#004059;
	}
.bullet_01 a:hover {
	text-decoration:underline;
	}
	
.arrow_02 a {
	float:right;
	background:url(../images/aaa_images/arrow02.gif) 0 5px no-repeat;
	padding: 0 0 0 15px;
	text-decoration:none;
	color:#004059;
	}
.arrow_02 a:hover {
	text-decoration:underline;
	}
/*--- End Link Styles---*/
	

/* 
------------------------------
Footer
------------------------------
*/
	
.footer_container{
	background: #859298 url(../images/aaa_images/bg_footer.jpg) repeat-x;
	padding: 10px 12px 0 12px;
	margin:0 auto;
	height:36px;
	}
	
.bot_crossref:link, a.bot_crossref:active, a.bot_crossref:visited {
	display:block;
	margin-right:5px;
	float:left;
	width: 85px;
	height:31px;
	background:url(../images/aaa_images/icon_crossref.jpg) no-repeat;
	}
a.bot_crossref:hover{
	background-position:0px -31px;
	}
	
.bot_acap_enabled:link, a.bot_acap_enabled:active, a.bot_acap_enabled:visited {
	display:block;
	float:left;
	width: 35px;
	height:31px;
	background:url(../images/aaa_images/icon_acap_enabled.jpg) no-repeat;
	}
a.bot_acap_enabled:hover{
	background-position:0px -31px;
	}
	
.cup_logo01{
	background:url(../images/aaa_images/cup_logo01.jpg) no-repeat;
	float:right;
	width: 141px;
	height:30px;
	}



