/* 
----------------------------------------
	Cambridge Books Online
	CSS document
	Modified Date: 05 October 2009
	Modified By: Jeff Nuqui

	Template CSS
	Updated by: John Ryan Acoba
    User Interface Designer
----------------------------------------
*/


/* 
------------------------------
header
------------------------------
*/

body div.title {
	padding: 0;
	margin: 10px 0 0 15px;
	height: 37px;
}
/* 
------------------------------
standard link styles
------------------------------


#adminContent a {
color: #02668e;
text-decoration: none;
}

#adminContent a:hover {
text-decoration: underline;
}

#adminContent a:active {
text-decoration: none;
}
*/
/* 
------------------------------
tool styles
------------------------------
*/

textarea.message {
	width: 350px;
}
/* 
------------------------------
admin content styles
------------------------------
*/

#adminContent {
	float: left; 
	width: 75%;
	margin: 0;
	padding: 0;
	}
#adminContent h1 {
	color: #333;
	margin: 15px 0 10px 0;
	padding: 0;
	font-size: 1.3em;
	}
#adminContent div.titlepage_admin h1 {
	color: #0366a2;
	margin: 15px 0 10px 0;
	padding: 0;
	font-size: 1.0em;
	}
#adminContent h2 {
	background: #859298;
	color: #fff;
	margin: 15px 0 5px 0;
	font-size: 1em;
	font-weight: 700;
	padding: 4px 5px 4px 5px;
	}
#adminContent h3 {
	font-weight: bold;
	color: #9C4764;
	font-size: 1em;
	margin: 15px 0 5px 0;
	padding: 0;
	}
#adminContent h4 {
	color: #333;
	margin: 15px 0 5px 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	}

#adminTab {
	margin:0;
	padding:0;
	}

#adminTab h1 {
	background: #f4f4f4;
	color: #02668e;
	padding: 4px;
	font-size: 1em;
	}
		
/* admin content tools */

#adminContent p {
	color: #333;
	padding: 0;
	margin: 2px 0 10px 0;
}
#adminContent p.note {
	color: #666;
	padding: 0;
	margin: 5px 0;
	font-weight: bold;
	font-size: 90%;
}
#adminContent p span.bold {
	font-weight: bold;
}
/* admin access details */

#adminContent ul#tree {
	padding: 0;
	margin: 5px 0 10px 5px;
}
#adminContent ul#tree li {
	padding: 0;
	margin: 2px 0 0 20px;
}
#adminContent ul#tree li.bookTitle {
	font-weight: bold;
	padding: 5px 0;
	margin: 0 0 5px 0;
	color: #666;
}
#adminContent ul#tree li.bookTitle img {
	padding: 0;
	margin: 0 5px 0 0;
}
#adminContent ul.subTree {
	padding: 0 0 5px 0;
	margin: 10px 0 10px 0;
	border: 1px solid #CCC;
	height: 300px;
	overflow: auto;
}
#adminContent ul.subTree li {
	padding: 0 0 5px 0;
	margin: 0;
}
/* error message */

#adminContent .validate {
	padding: 0;
	margin: 0 0 20px 20px;
	color: #fff;
	}

#adminContent .validate a{
	color: #000;
	text-decoration: underline;
	}

#adminContent .validate a:hover{
	color: #fff;
	text-decoration: none;
	}
#adminContent .validate h4 {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 1em;
	}
/* admin content table */

#adminContent table {
	margin: 10px 0 0 0;
	width: 100%;
}
#adminContent #searchresults table th, #adminContent #searchresults table td {
	border-bottom: 2px solid #d0d0d0;
	padding: 5px;
}
#adminContent table.search_navigation {
	margin: 5px 0 0 0;
}
#adminContent table.search_navigation td {
	border-bottom: 1px #d0d0d0 dotted;
	color: #333;
	font-size: 0.93em;
	padding: 2px 0 5px 0;
	vertical-align: baseline;
}
#adminContent table.search_navigation td select {
	margin: 2px 0 0 0;
	padding: 0;
	font-size: 95%;
}
#adminContent table.search_navigation td span {
	font-weight: 700;
}
#adminContent table tr th, #adminContent table tr td {
	padding: 0 10px 10px 5px;
	text-align: left;
	font-weight: normal;
}
#adminContent table tr.shaded th {
	background: #859298;
	color: #fff;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding: 5px;
}

#adminContent table tr.border th, 
#adminContent table tr.border td             {border-top: 2px solid #859298; padding: 10px 10px 10px 5px;}
#adminContent table tr.border table          {width: 100px;}
#adminContent table tr.border table tr td    {border: none; padding: 5px;}
#adminContent table tr.border table tr th    {background: #f4f4f4; font-weight: bold; text-align: left;	vertical-align: middle; border: none;}


#adminContent table tr th, #adminContent table tr td {
	padding: 5px 10px 10px 5px;
	text-align: left;
	font-weight: normal;
}
#adminContent table tr td.journal {
	width: auto;
}
#adminContent table td.year {
	padding: 0 0 5px 15px;
	margin: 0;
	color: #333;
	font-size: 90%;
	font-style: italic;
	border: none;
}
#adminContent table.config_ip_container          {border-collapse: collapse !important; width: auto !important;}
#adminContent table.config_ip_container tr td    {vertical-align: middle !important;}
#adminContent table.config_ip_container tr td select {border: 1px solid #000; margin: 0; padding: 2px;} 
/* 
------------------------------
bottom buttons' styles
------------------------------
*/


#bottom_buttons {
	margin: 0;
	padding: 10px 0;
	border-top: 1px dotted #A6904C;
	position: relative;
}
/* 
------------------------------
Navigation
------------------------------
*/

	/*-- Leftmenu Start --*/
	#main_container .menu         {border: solid 1px #87949a; width: 180px;	float: right;}
	#main_container .menu h2      {background: #fafafa url(../images/bg_repeat_x.png) 0 -90px repeat-x; font-size: 90%; color:#000; padding: 6px 0 10px 5px;}
	#main_container .menu ul      {background: #fafafa; padding: 0 10px;}
	#main_container .menu ul li   {margin: 0; padding: 5px 0; list-style:none;}
	
	.text_01, .text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a:hover {
		color: #000;
		}
	/*-- Leftmenu End --*/

/* 
------------------------------
CSS Tab
Modified By: John Ryan Acoba
------------------------------
*/
#tablist{	
	font: bold 100% Tahoma, Geneva, sans-serif;
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	}

#tablist li{
	list-style: none;
	display: inline;
	margin: 0;
	}

#tablist li a{
	padding: 3px 0.5em;
	border: 1px solid #b0c0c7;
	border-bottom: none;
	background: #fff;
	}

#tablist li a:link, #tablist li a:visited{
	color: #000;
	}

#tablist li a.current{
	background: #b0c0c7;
	}

#tabcontentcontainer{
	width: 650px;
	padding: 5px;
	border: 1px solid #b0c0c7;
	}

.tabcontent{
	/*display:none;*/
	background: #fff;
	padding:8px;
	}
	
	

