/* 
------------------------------
html styles
------------------------------
*/

body {
	background: #fff;
	color: #000;
	font: normal 70% Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.ul_all {
	list-style-type:circle;
	margin: 0;
	padding: 0 25px;
	}

li {
	margin: 0;
	padding: 0;
	}

form {
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	margin: 0;
	padding: 0;
	}

/* 
------------------------------
standard link styles
------------------------------
*/

a {
	color: #02668e;
	text-decoration: none;
	font-weight: bold;
	}

a:hover {
	text-decoration: underline;
	}

a:active {
	color: #000;
	text-decoration: none;
	}
	
	
/* CSS form input button Start */
a.button, span.button{	
	display:-moz-inline-box;
	display:inline-block;
	cursor:pointer;
	border:none;
    font-size:0;
    line-height:0;
    
	/*
	for Safari, read this first
	http://creativebits.org/webdev/safari_background_repeat_bug_fix
	*/
	background-position:0 0;
	background-repeat:no-repeat;
	height:27px;
	text-decoration:none;
	color:#fff;
	font-style:normal;
	margin:0 6px 0px 0;
	padding:0 10px 0 0;	
	vertical-align:middle;	
	
    padding-top:-2px;
	_position:relative;
	_width:10px;	
	_overflow-y:hidden;
	}

a.button, span.button, del.button,
a.button span, span.button button, span.button input{
    background-image:url(../../images/ebooks/btn_form.gif);
    _background-image:url(../../images/ebooks/btn_form.gif);
	}

a.button span, span.button button, span.button input{	
	white-space:nowrap;
	cursor:pointer;
    color:#fff;
	display:-moz-inline-box;
	display:inline-block;
	line-height:1;
    letter-spacing:0 !important;
    font-family: Tahoma, Geneva, sans-serif !important;
    font-size:11px !important;
    font-style:normal;
    background-color:transparent;
	background-position:100% 0;
	background-repeat:no-repeat;
	height:27px;
	padding:0 20px 0 10px;
	margin:0 -16px 0 10px;
	border:none;
	vertical-align:text-top;
	zoom:1;
	_position:relative;
    _padding-left:0px;
	_padding-right:12px;
	_margin-right:-10px;	
	_display:block;
	_top:0;
	_right:-5px;
	}

span.button button{
   line-height:2.5;/*Opera need this*/
	}

html.safari a.button span, 
html.safari del.button span{
  line-height:1.3;
	}

html.safari span.button button{
  line-height:2.6;
	}

html.safari a.button:focus,
html.safari span.button button:focus{
    outline:none;
	}

span.button button, span.button input{
	padding-top:0px;
	line-height:2.5;/*Opera need this*/
	}
/* CSS form input button End */


	.bot_login:link, a.bot_login:active, a.bot_login:visited, a.bot_login:hover {
		display:block;
		float:left;
		width: 60px;
		height:16px;
		background:url(../../images/ebooks/bot_login.jpg) no-repeat;
		}
	.bot_login_disabled{
		display:block;
		float:left;
		width: 60px;
		height:16px;
		background:url(../../images/ebooks/bot_login.jpg) no-repeat;
		background-position:0px -16px;
		}


/** optional **/
/*
a.button:visited{
	color:#aaa;
}
*/


/*Hover Style*/

a.button:hover, 
span.button:hover,
a.button:focus, 

a.dom-button-focus, 
span.button-behavior-hover{
	background-position:0 0;
	color:#fff;
	text-decoration:none;
	}

a.button:hover span, 
span.button:hover button, 
a.button:focus span, 

span.button-behavior-hover button, 
span.button-behavior-hover input{
	background-position:100% 0;
	}

a.button:active, a.button:focus span{
	color:#fff;
	}


/* 
------------------------------
tools
------------------------------
*/

input, textarea, select {
font: normal 1em Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	}

.clear_bottom{
clear:both;
margin: 0 0 30px 0;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	}

table {
	padding: 0;
	margin: 0;
	}

span.note {
	color: #F00;
	}

/*
------------------------------
content styles 
------------------------------
*/

.content {
	border: 1px solid #000;
	margin: 10px;
	padding: 10px;
	}

.content ul {
	padding: 0;
	margin: 0;
	}

.content ul li {
	margin: 0 3px;
	padding: 5px 0;
	}

.content ul li.header {
	padding: 0 0 8px 0;
	margin: 0 3px;
	font-weight: bold;
	border-bottom: 1px dotted #000;
	}

.content ul li.header div.headerTools, .content div.closeTool {
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
	font-size: 90%;
	font-weight: normal;
	}

.content ul li.header div.headerTools a, .content div.closeTool a {
	text-decoration: underline;
	color: #000;
	}

.content ul li.header div.headerTools a:hover, .content div.closeTool a:hover {
	text-decoration: none;
	}

.content ul li.bookLink {
	padding: 5px;
	margin: 0 3px;
	font-weight: bold;
	background:#ccc;
	}


.content table {
	text-align: left;
	width: 100%;
	margin: 20px 0 0 0;
	}

.content table td, .content table th {
	margin: 0;
	padding: 5px;
	vertical-align: top;
	}

.content table td.fields {
width: 78%;
}

.content table td textarea {
	margin: 0 0 10px 0;
	padding: 0;
	display: block;
	width: 400px;
	height: 100px;
	overflow: scroll;
	}

.content table tr.shaded td, .content table tr.shaded th {
	margin: 0;
	padding: 5px;
	background: #f4f4f4;
	}

.content table tr td.checkBox, .content table tr.shaded th.checkBox {
	margin: 0;
	padding: 5px;
	text-align: center;
	width: 10%;
	}

.content table tr.border td, .content table tr.border th {
	border-top: 1px dotted #666;
	padding: 5px;
	}


.content td .bookResultItem {
	margin: 5px 0 10px 0;
	padding: 0;
	}

.content td .bookResultItem a {
	text-decoration: underline;
	}

.content td .bookResultItem a:hover {
	text-decoration: none;
	}

.content td h3 {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	}

.content td h3 span.bookTitle a {
	font-weight: bold;
	font-size: 110%;
	color:#02668e;
	}

.content td h3 span.author, 
.content td ul li span.author {
	font-weight: bold;
	color: #000;
	}

.content td .subtitle {
	padding: 2px 0;
	}

.content td ul li {
	padding: 0;
	margin: 0 0 2px 0;
	}

.content td ul li.publication {
	font-size: 90%;
	padding: 8px 0;
	}

.content td ul li span.chapterTitle {
	color: #666;
	}

.content td ul li.page {
	font-size: 90%;
	padding: 0;
	margin: 3px 0;
	font-weight: bold;
	}

.content td ul li.doi {
	padding: 0;
	margin: 15px 0 5px 0;
	font-size: 90%;
	}

.content td ul li.doi span.title {
	font-weight: bold;
	color:#000;
	}


/* bottom buttons */

.content ul.logIn {
	margin: 0;
	padding: 0;
	}

.content ul.logIn li {
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px dotted #CCC;
	}

.content ul.logIn li.error {
	color: #F00;
	padding: 5px 0;
	margin: 0;
	}

.content ul.logIn table {
	padding: 0;
	margin: 0;
	}

.content ul.logIn table td {
	padding: 3px;
	margin: 0;
	font-size: .93em;
	}

/*.content input.button {
	color: #fff;
	cursor: pointer;
	background: #026e97;
	font-size: 0.93em;
	}*/


/*
------------------------------
content with tabs styles 
------------------------------
*/

.contentWithTabs {
	margin: 10px;
	padding: 0;
	}

#contentContainer {
	margin: 0;
	padding: 0 10px;
	border: 1px solid #000;
	}


/* tabs */

#tabsContainer {
	margin: 0 5px 0 5px;
	}

ul#tabs {
	padding: 3px 0;
	font-size: 0.92em;
	margin: 0 5px 0px 0; 
	}

ul#tabs li {
	list-style: none;
	margin: 0;
	display: inline;
	}

ul#tabs li a {
	padding: 3px 5px;
	margin-right: 3px;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #000;
	background-color: #02668e;
	color: #fff;
	text-decoration: none;
	\float: left; /* fed only to IE5.* */
	}

ul#tabs li a:hover {
	padding: 3px 5px 4px 5px;
	background-color: #fff;
	color: #333;
	}

ul#tabs li a.current {
	padding: 3px 5px 4px 5px;
	background: #fff;
	color: #000;
	}


/* top buttons */

#topButtons {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px dotted #000;
	position: relative;
	}

/*#topButtons input {
	color: #fff;
	cursor: pointer;
	background: #02668e;
	font-size: 0.93em;
	}*/



/* bottom buttons */

#bottomButtons {
	margin: 0;
	padding: 10px 0 0 0;
	border-top: 1px dotted #000;
	position: relative;
	}

/*#bottomButtons input {
	color: #fff;
	cursor: pointer;
	background: #02668e;
	font-size: 0.93em;
	}*/


/*
------------------------------
image container
------------------------------
*/

.imageContainer {
	padding: 0;
	margin: 0 0 10px 0;
	text-align: center;
	}

.imageContainer img {
	border: 1px solid #333;
	margin: 0 0 5px 0;
	}



/*
---------------------------------------------
faq/help/view access details styles 
---------------------------------------------
*/

.camLogo {
	margin: 5px 0 0 10px;
	padding: 0;
	width: 130px;
	}

.noBordercontent {
	margin: 10px;
	padding: 0;
	}

.noBordercontent h1 {
	margin: 0 0 10px 0;
	padding: 5px;
	background: #f4f4f4;
	font-size: 1.1em;
	}

.noBordercontent h2 {
	color: #000000;
	border-bottom: 1px dotted #666;
	font-size: 1em;
	padding: 0 0 5px 0;
	}

.noBordercontent p {
	margin: 5px 0px 5px 5px;
	padding: 0;
	}

.noBordercontent p.answer {
	margin: 0px 5px 5px 0px;
	padding: 0 0 0 16px;
	background: transparent url(../../images/ebooks/circle_icon.jpg) 5px 5px no-repeat;
	}

.noBordercontent ul.index {
	margin: 0;
	padding: 0;
	}

.noBordercontent ul.index li {
	background: transparent url(../../images/ebooks/index_icon.jpg) 5px 5px no-repeat;
	padding: 0 0 0 19px;
	margin: 0 0 5px 5px;
	font-weight: bold;
	color: #A6904C;
	}

/* navigation */

#navigation {
	color: #333;
	font-size: 1em;
	margin: 20px 10px 0px 12px;
	padding: 0;
	height: 20px; /* to dimension this div */
	}

#navigation ul {
	white-space: nowrap;
	}

#navigation ul li {
	float: left;
	border-left: 1px solid #333;
	}

#navigation ul li.home {
	border-left: none;
	}

#navigation ul li a:link {
	color: #02668e;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 0 5px;
	}

#navigation ul li.home a:link, #navigation ul li.home a:visited {
	padding: 0 5px 0 0; /* no lh padding on home link */
	}

#navigation ul li a:visited {
	color: #999;
	font-weight: 700;
	text-decoration: none;
	display: block;
	padding: 0 5px;
	}

#navigation ul li a:hover {
	color: #333;
	font-weight: 700;
	text-decoration: none;
	}

#navigation ul li a:active {
	color: #333;
	font-weight: 700;
	text-decoration: none;
	}

#navigation ul li a:focus {
	color: #333;
	font-weight: 700;
	text-decoration: none;
	}

/* table */


.noBordercontent table {
	text-align: left;
	width: 100%;
	}

.noBordercontent table tr.shaded th {
	margin: 0;
	padding: 5px;
	background: #f4f4f4;
	font-weight: bold;
	}

.noBordercontent table tr th, .noBordercontent table tr td {
	border-top: 1px dotted #000000;
	padding: 8px 5px;
	font-weight: normal;
	}

/*
-------------------
footer
-------------------
*/

#footer {
	font-size: 90%;
	margin: 20px 0 0 0;
	}

#footer a {
	color: #000;
	font-weight: normal;
	}

#footer .copyright {
	padding: 10px 10px 10px 10px;
	margin: 0;
	background: #BBCCCC;
	position: relative;
	}

#footer .copyright ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#footer .copyright ul li {
	border-right: 1px solid #333;
	padding: 0 5px 0 0;
	margin: 0 0 0 5px; 
	display: inline;
	
	}
