/* 
-----------------------------------------
	Template CSS
	by: John Ryan Acoba
    Jr. GUI Designer
-----------------------------------------
*/

.clear {clear:both;}
.clear_list {clear:both; padding-bottom: 80px;}
.clear_bottom {clear:both; padding-bottom: 10px;}
.clear_01 {clear:both; padding-bottom: 5px;}

.icon {display:none;}

p { padding-bottom:6px; }
.fl {float:left;}
.fr {float:right;}
	
* {
	margin: 0;
	padding: 0;
	}

body {
	background: #fff;
	font: normal 0.7em Tahoma, Geneva, sans-serif;
	color:#000;	
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	}

#page-wrapper{
	padding: 0;
	margin: 0 auto;
	width: 901px;
	}
	
#page_container {display:none;}
	
#print_header{
	font: bold 4.0em Tahoma, Geneva, sans-serif;
	display:block;
	}
	
#footer_container{
	background: #859298 url(../../images/ebooks/bg_footerline.jpg) repeat-x;
	height:46px;
	}
	
ul#normal_list, ol#normal_list {
	display: block;
    padding: 0 0 1.5em 20px;
    margin: 0 0 0 0;
	list-style: disc;

}

ul#normal_list li, ol#normal_list li {
	display: list-item;
    margin: 0 0 0 0;
} 

ul#normal_list ul, ol#normal_list ol, ol#normal_list ul, ul#normal_list ol {
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
}
	
	
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	
ol {
	margin: 0;
	padding: 0 0 0 20px;
	}

li {
	margin: 0;
	padding: 0;
	}
	
a, a:active {
	color: #000;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}
	
h1{
	font: bold 1.0em Tahoma, Geneva, sans-serif;
	color:#000;	
	}
	
h2{
	font: bold 1.2em Tahoma, Geneva, sans-serif;
	color:#000;	
	}
	
h3{
	font: normal 1.3em Tahoma, Geneva, sans-serif;
	}
	
h4{
	font: bold 125% Tahoma, Geneva, sans-serif;
	float:left;
	padding: 3px 25px 0 0;
	}
	
h5{
	font: bold 1.1em Tahoma, Geneva, sans-serif;
	clear:left;
	color:#4c5356;	
	}
	
h6{
	font: bold 1.0em Tahoma, Geneva, sans-serif;
	padding-bottom:12px;
	color:#fff;	
	}
	
h1#titlepage_heading {
		font-size: 200%;
		font-weight: normal;
		color: #000;
		padding: 0px 0px 10px 0px;
		}
	
	/*** Form Style Start ***/
	.label_01{
		font: bold 1.2em Tahoma, Geneva, sans-serif;
		}
	.label_02{
		font: bold 1.0em Tahoma, Geneva, sans-serif;
		}
	.input_01{
		background:#fafafa;
		margin-bottom:10px;
		font: normal 1.0em Tahoma, Geneva, sans-serif;
		color:#000;
		width: 150px;
		height: 20px;
		border: 1px solid #265795;
		}
		.register_field, .title_field{
			background:#fafafa;
			margin-left:10px;
			margin-bottom:10px;
			font: normal 1.0em Tahoma, Geneva, sans-serif;
			color:#000;
			width: 250px;
			height: 20px;
			border: 1px solid #265795;
			}
	.select_01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		border:1px solid #265795; 
		background:#fff;
		height:21px;	
		margin:0 0 10px 0;
		}
	.select_02, .options{
		background:#fafafa;
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		border:1px solid #265795; 
		background:#fff;
		height:21px;	
		margin:0 0 10px 0;
		}
		#countries, #state, #country{
		background:#fafafa;
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		border:1px solid #265795; 
		background:#fff;
		height:21px;	
		margin:0 0 10px 10px;
		}
	.checkbox01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		background:#fff;	
		margin:0;
		}
	.register_buttons{
		float:right;
		}
	.border { border-top: #000 1px dotted; padding-bottom:20px; }
	input.button {		
		background: #026e97;
		font-size: 1.0em;
		padding:2px;
		color: #fff;
		cursor: pointer;		
		}
	
	
/* 
------------------------------
Header Content
------------------------------
*/	

#header_container {display:none; }
	
#search_container {display:none; }
	
/*** Login Start ***/
#login_container {display:none; }
	.login_logo {display:none; }
	#bg_logintop {display:none; }
	#bg_loginbottom {display:none; }		
	.bg_logincontent  {display:none; }
	.loginbox {display:none; }
	#top-login {display:none; }
	
#button_homepage{
	padding: 40px 0 0 20px;
	height:100px;
	}
	
.text_search{
	background: #fff url(../../images/ebooks/icon_search.jpg) no-repeat right;
	margin-right:5px;
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	color:#014e6c;
	width: 180px;
	height: 20px;
	border: 1px solid #000;
	}
	
.bot_search:link, a.bot_search:active, a.bot_search:visited {
	display:block;
	float:left;
	width: 56px;
	height:16px;
	background:url(../../images/ebooks/bot_search.jpg) no-repeat;
	}
a.bot_search:hover{
	background-position:0px -16px;
	}
	
.bot_search_again:link, a.bot_search_again:active, a.bot_search_again:visited {
	display:block;
	width: 88px;
	height:16px;
	background:url(../../images/ebooks/bot_search_again.jpg) no-repeat;
	}
a.bot_search_again:hover{
	background-position:0px -16px;
	}
	
.bot_contact:link, a.bot_contact:active, a.bot_contact:visited {
	display:block;
	float:left;
	margin-bottom:6px;
	width: 176px;
	height:16px;
	background:url(../../images/ebooks/bot_contact.jpg) no-repeat;
	}
a.bot_contact:hover{
	background-position:0px -16px;
	}
	
.bot_recommend:link, a.bot_recommend:active, a.bot_recommend:visited {
	display:block;
	float:left;
	margin-bottom:6px;
	width: 176px;
	height:16px;
	background:url(../../images/ebooks/bot_recommend.jpg) no-repeat;
	}
a.bot_recommend:hover{
	background-position:0px -16px;
	}
	
.bot_signup:link, a.bot_signup:active, a.bot_signup:visited {
	display:block;
	float:left;
	margin-bottom:6px;
	width: 176px;
	height:16px;
	background:url(../../images/ebooks/bot_signup.jpg) no-repeat;
	}
a.bot_signup:hover{
	background-position:0px -16px;
	}

	/*** Topmenu Start ***/	
	#nav{
		width: 453px;
		height: 32px;
		background:url(../../images/ebooks/topmenu.jpg) no-repeat top left;
		float:left;
		margin:128px 0 0 0;		
		padding:0;
		position: relative;		
	}
	#nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0px;
	}
	#nav li, #nav a {
		height: 32px;		
		display: block;
	}	
	#nav_home {left: 0px;  width: 79px; }
	#nav_about {left: 79px;  width: 90px; }
	#nav_faq {left: 169px;  width: 76px; }
	#nav_help {left: 245px;  width: 79px; }
	#nav_forlibrarians {left: 324px;  width: 129px; }
	#nav_login {left: 453px;  width: 86px; }
	
	
	#nav_home a:hover {background: transparent url(../../images/ebooks/topmenu.jpg) -0px  -32px  no-repeat;}
	#nav_about a:hover {background: transparent url(../../images/ebooks/topmenu.jpg) -79px  -32px  no-repeat;}
	#nav_faq a:hover {background: transparent url(../../images/ebooks/topmenu.jpg) -169px  -32px  no-repeat;}
	#nav_help a:hover {background: transparent url(../../images/ebooks/topmenu.jpg) -245px  -32px  no-repeat;}
	#nav_forlibrarians a:hover {background: transparent url(../../images/ebooks/topmenu.jpg) -324px  -32px  no-repeat;}
	#nav_login a:hover {background: transparent url(../../images/ebooks/topmenu.jpg) -453px  -32px  no-repeat;}
	
	#nav_home_current {background: transparent url(../../images/ebooks/topmenu.jpg) -0px -32px  no-repeat; }
	#nav_about_current {background: transparent url(../../images/ebooks/topmenu.jpg) -79px  -32px  no-repeat;}
	#nav_faq_current {background: transparent url(../../images/ebooks/topmenu.jpg) -169px  -32px  no-repeat;}
	#nav_help_current {background: transparent url(../../images/ebooks/topmenu.jpg) -245px  -32px  no-repeat;}
	#nav_forlibrarians_current {background: transparent url(../../images/ebooks/topmenu.jpg) -324px  -32px  no-repeat;}
	#nav_login_current {background: transparent url(../../images/ebooks/topmenu.jpg) -453px  -32px  no-repeat;}
	/*** Topmenu End ***/
	

/* 
------------------------------
Main Content
------------------------------
*/
	
#main_container{
	margin:0 auto;
	padding:16px 0;
	}
	
#content_wrapper01{
	background:#f4f4f4;
	}

#content_wrapper02{
	background:#fff;
	margin:18px 0 0 0;
	padding:25px 0 0 10px;
	}
	
#content_wrapper03{
	margin:0 8px 0 0;
	float:right;
	}
	
#content_wrapper04{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 22px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper05{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 0;
	padding:12px 12px;
	}
	
#content_wrapper06{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 2px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper07{
	background:#fafafa;
	margin: 2px 0 0 0;
	padding:12px 12px;
	}
	
#content_wrapper08{ display:none;}
	
#content_wrapper09{
	margin:0 0 0 10px;
	clear:both;
	float:left;
	}
	
#content_wrapper10{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 0;
	padding:1px 10px;
	}
	
#content_wrapper11{
	background:#fafafa;
	border-bottom:#f4f4f4 solid 2px;
	margin: 22px 0 0 0;
	padding:1px 12px;
	}
	
#banner_signup{
	background:url(../../images/ebooks/signup.jpg) no-repeat;
	margin:25px;
	width:150px;
	height:150px;
	}
	
#banner_container{
	background:url(../../images/ebooks/bg_banner01.jpg) repeat-y;
	float:left;
	margin:15px 0 0 0;
	width:901px;
	}
#banner_bottom{
	background:url(../../images/ebooks/bg_banner_bottom.jpg) no-repeat;
	float:left;
	width:901px;
	height:22px;
	}
	#banner_wrapper01{
		float:left;
		padding:10px 10px 0 50px;
		width:240px;
		}
	#banner_wrapper02{
		float:left;
		padding:10px 10px 0 30px;
		width:270px;
		}
	#banner_wrapper03{
		float:left;
		padding:10px 0 0 50px;
		width:200px;
		}
		
#alphalist_container{
	background:url(../../images/ebooks/bg_alphalist.jpg) no-repeat;
	padding:0 0 0 8px;
	width:273px;
	height:50px;
	}
	
#border01_container{ display:none; }	
#border02_container{
	background:url(../../images/ebooks/bg_border01.jpg) repeat-x;
	padding: 6px 4px 0px 4px;
	}
	#border_divider01{
		float:left;
		vertical-align:top;
		padding-left:6px;
		}
	#border_divider02{
		float:left;
		vertical-align:top;
		padding-left:15px;
		}
	#border_divider03{
		float:right;
		padding:4px 8px 0 0;
		}
		
	.list_divider01{
		float:left;
		width:30%;
		}
		
	.icon_access_on{
		background:url(../../images/ebooks/icon_access_on.jpg) no-repeat;
		float:left;
		height:25px;
		width:26px;
		}
		
	.icon_access_off{
		background:url(../../images/ebooks/icon_access_off.jpg) no-repeat;
		float:left;
		height:25px;
		width:26px;
		}
		
	.div_search_info{
		padding-left:40px;
		}
		
	.div_book_info{
		vertical-align:top;
		}
	
	/*** Alphalist Start ***/	
	#alphalist01 ul li {color:#999; font-size: 100%; list-style:none; display:inline; padding:3px; height:22px; line-height:24px; margin:0 2px;}
	#alphalist01 ul li a {color: #fff; font-weight: bold;}
	#alphalist01 ul li a:hover {color: #03668f; background:#01b3e9; text-decoration:none;}
	
	#alphalist02 ul li {color:#999; font-size: 121%; list-style:none; display:inline; margin:0 0.7em;}
	#alphalist02 ul li a {color: #000; font-weight: bold;}
	#alphalist02 ul li a:hover {color:#fff; background:#01b3e9; text-decoration:none;}
	/*** Alphalist End ***/
	
	/*** Tab Start ***/
	#tabMenu {margin:0; padding:0; list-style:none;}
	#tabMenu li {float:left; height:33px; width:140px; cursor:pointer; cursor:hand;}
	
	li.tableofcontents {background:url(../../images/ebooks/tab_tableofcontents.jpg) no-repeat 0 -33px;}
	li.chapter_extract {background:url(../../images/ebooks/tab_chapter_extract.jpg) no-repeat 0 -33px;}	
	li.bookdesc {background:url(../../images/ebooks/tab_bookdesc.jpg) no-repeat 0 -33px;}
	li.toc_chapterpage {background:url(../../images/ebooks/tab_toc_chapterpage.jpg) no-repeat 0 -33px;}
	li.reference {background:url(../../images/ebooks/tab_reference.jpg) no-repeat 0 -33px;}
	
	li.mouseover {background-position:0 0;}
	li.mouseout {background-position:0 -33px;}
	li.selected {background-position:0 0;}
	
	.border_container {width:901px}
	.boxTop {background:url(../../images/ebooks/bg_border_top.jpg) no-repeat; height:33px; clear:both;}
	*html .boxTop {margin-bottom:-2px;}
	.boxBody {
		background:#fff;
		border:none;
		padding:0 0 10px 0;
		min-height:350px; !important
		}
		
	/*.boxBottom {background:url(../../images/ebooks/bg_border_bottom.jpg) no-repeat; height:13px;}*/
	.boxBottom {background:#87949a; height:13px;}
	
	.boxBody div {display:none;}
	.boxBody div.show {display:block;}
	.boxBody #tabbing a {display:block;}
	
	.boxBody div ul {margin: 0 18px; padding:25px 0 0 0; width:850px; }	
	*html .boxBody div ul {margin-left:10px; padding-left:15px;}
	.boxBody div li {border-bottom:1px solid #b0c0c7; padding:4px 0;}
	.boxBody div ul li.last {border-bottom:none;}
	
	.boxBody div p {margin: 0 18px; padding:15px 0 0 0; width:850px;}
	.boxBody div .indent_level_01 {padding-left:10px; width:840px;}
	.boxBody div .indent_level_02 {padding-left:20px; width:830px;}
	.boxBody div .indent_level_03 {padding-left:30px; width:820px;}
	
	.boxBody div .text_indent_lev01 { padding: 15px 0 0 15px;}
	.boxBody div .text_indent_lev02 { padding: 15px 0 0 30px;}
		
	.boxBody div table {margin: 0 18px; padding:25px 0 0 0; width:850px; }
	.boxBody div td {border-bottom:1px solid #b0c0c7; padding:8px 0;}
	.boxBody div td.toc_number { font-weight:bold; border-bottom:1px solid #b0c0c7; padding:0 1px;}
	.boxBody div td a {
		font: bold 115% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#000;
		}
	.boxBody div td a:hover {
		background:none;
		text-decoration:underline;
		}
	
	.boxBody div td a.toc_links {display:none;}
	.boxBody div td a.toc_links:hover {display:none;}
	.boxBody div td a.toc_pdf {display:none;}
	.boxBody div td a.toc_pdf:hover {display:none;}
	
	.boxBody div .toc_pdf_disabled {display:none;}	
	.boxBody div .disabled_link {display:none;}
	
	
	.boxBody div ul.right_tabmenu { margin: 0 18px; padding:25px 0 0 0; width:210px; float:right; list-style:url(../../images/ebooks/arrow02.gif) inside; }
	.boxBody div .right_tabmenu li {
		border-bottom:1px dotted #b0c0c7; 
		padding:4px 0;		
		}
	.boxBody div .right_tabmenu li a {
		font: bold 100% Tahoma, Geneva, sans-serif;
		text-decoration:none;
		color:#000;
		}
	.boxBody div .right_tabmenu li a:hover {
		background:none;
		text-decoration:underline;
		}
		
	/*** Tab End ***/

	
	/*** Title Start ***/
	h1#titlepage_heading {
		font-size: 200%;
		font-weight: normal;
		color: #004059;
		padding: 0px 0px 10px 0px;
		}
/*	.titlepage_welcome{
		background:url(../../images/ebooks/titlepage_welcome.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_series{
		background:url(../../images/ebooks/titlepage_series.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_search_result{
		background:url(../../images/ebooks/titlepage_search_results.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_about{
		background:url(../../images/ebooks/titlepage_about.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_faq{
		background:url(../../images/ebooks/titlepage_faq.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_help{
		background:url(../../images/ebooks/titlepage_help.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_allseries{
		background:url(../../images/ebooks/titlepage_allseries.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_advancedsearch{
		background:url(../../images/ebooks/titlepage_advancedsearch.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_subject{
		background:url(../../images/ebooks/titlepage_subject.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_forlibrarians{
		background:url(../../images/ebooks/titlepage_forlibrarians.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_registration{
		background:url(../../images/ebooks/titlepage_registration.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_change_reg{
		background:url(../../images/ebooks/titlepage_change_reg.jpg) no-repeat;
		width:100%;
		height:25px;
		}
	.titlepage_contacts{
		background:url(../../images/ebooks/titlepage_contacts.jpg) no-repeat;
		width:100%;
		height:25px;
		}*/
		
		
	
	.titlebanner_homepage{
		background:url(../../images/ebooks/title_banner_homepage.jpg) no-repeat;
		height:42px;
		}	
	.titlebanner_series{
		background:url(../../images/ebooks/title_banner_seriespage.jpg) no-repeat;
		height:42px;
		}
	.titlebanner_topsearch{
		background:url(../../images/ebooks/title_banner_topsearch.jpg) no-repeat;
		height:24px;
		}
	/*** Title End ***/	
	
	/*** Arrow Links Start ***/	
	#links .arrow_link01 .arrow_link02 li{
		list-style: none;
		margin: 0;		
		}	
	
	#bullet01 ul li {
		background:url(../../images/ebooks/bullet01.gif) 2px 6px no-repeat;		
		padding: 0 0 0 15px;
		}	
		#bullet01 ul li a {
			font-weight: normal;
			color:#004059;
			}
			
	#arrow01 ul li {
		background: url(../../images/ebooks/arrow01.gif) left 4px no-repeat;
		padding: 0 0 0 15px;
		float:right;
		}	
		#arrow01 ul li a {
			font-weight: normal;
			color:#fff;
			}
		#arrow01{ padding-bottom:10px;}
	
	#arrow02 ul li {
		background:url(../../images/ebooks/arrow02.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		}	
		#arrow02 ul li a {
			font-weight: normal;
			color:#004059;
			}
			
	#arrow03 ul li {
		background:url(../../images/ebooks/arrow05.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		float:right;
		}	
		#arrow03 ul li a {
			font-weight: normal;
			color:#004059;
			}
			
	#arrow04 ul li {
		background:url(../../images/ebooks/arrow03.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		float:right;
		}	
		#arrow04 ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#arrow05 ul li {
		background:url(../../images/ebooks/arrow05.gif) 2px no-repeat;		
		padding: 0 0 0 15px;
		}		
	#arrow05 ul li a {
		font-weight: bold;
		color:#000;
	}	
	
	#icon_pdf_on ul li { display:none;}	
		#icon_pdf_on ul li a  { display:none;}		
	#icon_pdf_off ul li  { display:none;}
		
	#icon_view_extract ul li {
		background:url(../../images/ebooks/icon_view_extract.gif) 1px no-repeat;
		padding: 0 0 0 18px;
		float:left;
		}
		#icon_view_extract ul li a {
			font-weight: normal;
			color:#000;
			}
	#icon_view_extract_off ul li {
		background:url(../../images/ebooks/icon_view_extract.gif) 1px no-repeat;
		color:#ccc;
		padding: 0 0 0 18px;
		float:left;
		}
			
	#icon_rss ul li {
		background:url(../../images/ebooks/icon_rss.gif) 1px no-repeat;		
		padding: 0 0 0 22px;
		float:right;
		}	
		#icon_rss ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#icon_recommend ul li { display:none;}
		#icon_recommend ul li a { display:none;}
			
	#icon_print ul li { display:none;}	
		#icon_print ul li a { display:none;}
			
	#icon_enlarge ul li { display:none;}
		#icon_enlarge { width:100px; padding: 0 10px; vertical-align:top;}
		#icon_enlarge ul li a { display:none;}
			
	#icon_delicious ul li {
		background:url(../../images/ebooks/icon_delicious.gif) 1px no-repeat;		
		padding: 0 0 0 24px;
		float:left;
		}	
		#icon_delicious ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#icon_connotea ul li {
		background:url(../../images/ebooks/icon_connotea.gif) 1px no-repeat;		
		padding: 0 0 0 24px;
		float:left;
		}	
		#icon_connotea ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#icon_bibsonomy ul li {
		background:url(../../images/ebooks/icon_bibsonomy.gif) 1px no-repeat;		
		padding: 0 0 0 24px;
		float:left;
		}	
		#icon_bibsonomy ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#icon_digg ul li {
		background:url(../../images/ebooks/icon_digg.gif) 1px no-repeat;		
		padding: 0 0 0 24px;
		float:left;
		}	
		#icon_digg ul li a {
			font-weight: normal;
			color:#000;
			}	
			
	#icon_reddit ul li {
		background:url(../../images/ebooks/icon_reddit.gif) 1px no-repeat;		
		padding: 0 0 0 24px;
		float:left;
		}	
		#icon_reddit ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#icon_facebook ul li {
		background:url(../../images/ebooks/icon_facebook.gif) 1px no-repeat;		
		padding: 0 0 0 24px;
		float:left;
		}	
		#icon_facebook ul li a {
			font-weight: normal;
			color:#000;
			}
			
	#icon_addthis ul li {
		background:url(../../images/ebooks/icon_addthis.gif) 1px no-repeat;		
		padding: 0 0 0 24px;
		float:left;
		}	
		#icon_addthis ul li a {
			font-weight: normal;
			color:#000;
			}			

	#breadcrumbs {display:none;}
	
	#breadcrumbs a {display:none;}
	
	#breadcrumbs a:hover {display:none;}
	
	#breadcrumbs ul li {display:none;}
	
	#breadcrumbs ul li.last {display:none;}	
		
	/*** Treelist Start ***/
		
	.treeview, .treeview ul {
		padding: 0;
		margin: 0;
		list-style: none;
		}
	
	.treeview ul {
		margin: 4px;
		}
	
	.treeview .hitarea {
		background: url(../../images/ebooks/tree/treeview-default.gif) -64px -25px no-repeat;
		height: 16px;
		width: 16px;
		margin-left: -16px;
		float: left;
		cursor: pointer;
		}
	
	* html .hitarea {
		display: inline;
		float:none;
		}
	
	.treeview li {
		margin: 0;
		padding: 3px 0 3px 16px;
		}
	
	.treeview a.selected {
		text-decoration:underline;
		}
	
	.treeview .hover { text-decoration:underline; cursor: pointer; }
	
	.treeview li { background: url(../../images/ebooks/tree/treeview-default-line.gif) 0 0 no-repeat; }
	.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
	
	.treeview .expandable-hitarea { background-position: -80px -3px; }
	
	.treeview li.last { background-position: 0 -1766px; }
	.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../../images/ebooks/tree/treeview-default.gif); }  
	.treeview li.lastCollapsable { background-position: 0 -111px }
	.treeview li.lastExpandable { background-position: -32px -67px }
	
	.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; } 
	
	.filetree li { padding: 3px 0 2px 16px; }
	.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
	.filetree span.folder { background: url(../../images/ebooks/tree/folder.gif) 0 0 no-repeat; }
	.filetree li.expandable span.folder { background: url(../../images/ebooks/tree/folder-closed.gif) 0 0 no-repeat; }
	.filetree span.file { background: url(../../images/ebooks/tree/file.gif) 0 0 no-repeat; }	
	
	/*** Arrow Links End ***/	
	
	/*** Links Start ***/
	.link01:link, a.link01:active, a.link01:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #000;
		text-decoration: none;
		}
	a.link01:hover{	
		text-decoration:underline;
		}	
		
	.link02, .link02:link, a.link02:active, a.link02:visited{
		font: normal 90% Tahoma, Geneva, sans-serif;
		color: #000;
		text-decoration: none;
		}
	a.link02:hover{
		color:#fff;
		background:#01b3e9;
		}	
	
	.link03:link, a.link03:active, a.link03:visited{ display:none;}
	a.link03:hover{ display:none;}
	.link03_current{ display:none;}
	.link04:link, a.link04:active, a.link04:visited{
		font: normal 1.2em Tahoma, Geneva, sans-serif;		
		color: #000;
		text-decoration: none;
		}
	a.link04:hover{
		color:#fff;
		background:#01b3e9;
		}
		
	.link05:link, a.link05:active, a.link05:visited{
		font: bold 1.2em Tahoma, Geneva, sans-serif;		
		color: #000;
		text-decoration:none;
		}
	a.link05:hover{
		text-decoration:none;
		}
		
	.link06:link, a.link06:active, a.link06:visited{
		font: normal 115% Tahoma, Geneva, sans-serif;		
		color: #000;
		text-decoration:underline;
		}
	a.link06:hover{
		text-decoration:none;
		}
		
	.link07:link, a.link07:active, a.link07:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #000;
		text-decoration: none;
		}
	a.link07:hover{	
		text-decoration:underline;
		}
		
	.link08:link, a.link08:active, a.link08:visited{
		font: bold 1.0em Tahoma, Geneva, sans-serif;		
		color: #000;
		text-decoration: none;
		}
	a.link08:hover{	
		text-decoration: none;
		}
		
	.link09:link, a.link09:active, a.link09:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #000;
		text-decoration: none;
		}
	a.link09:hover{	
		text-decoration:underline;
		}
		
	.link10:link, a.link10:active, a.link10:visited{
		font: normal 1.0em Tahoma, Geneva, sans-serif;		
		color: #fff;
		text-decoration: none;
		}
	a.link10:hover{	
		text-decoration:underline;
		}
		
	.link11:link, a.link11:active, a.link11:visited{
		font: normal 115% Tahoma, Geneva, sans-serif;		
		color: #000;		
		text-decoration:none;
		}
	a.link11:hover{
		text-decoration:underline;
		}
	/*** Links End ***/
		
	
	
/* 
------------------------------
Footer Content
------------------------------
*/	

#footer_wrapper{	
	padding-top:10px;
	width:901px;
	margin:0 auto;
	}	
	
#footer_menuwrapper {display:none;}
	
.cup_logo01{
	background:url(../../images/ebooks/cup_logo01.jpg) no-repeat;
	float:right;
	width: 141px;
	height:30px;
	}
	
.bot_crossref:link, a.bot_crossref:active, a.bot_crossref:visited {
	display:block;
	margin-right:5px;
	float:left;
	width: 85px;
	height:31px;
	background:url(../../images/ebooks/icon_crossref.jpg) no-repeat;
	}
a.bot_crossref:hover{
	background-position:0px -31px;
	}
	
.bot_acap_enabled:link, a.bot_acap_enabled:active, a.bot_acap_enabled:visited {
	display:block;
	float:left;
	width: 35px;
	height:31px;
	background:url(../../images/ebooks/icon_acap_enabled.jpg) no-repeat;
	}
a.bot_acap_enabled:hover{
	background-position:0px -31px;
	}


