<?xml version="1.0" encoding="utf-8"?>
<root>
<h1>AcPro Vyre US subject tree</h1>
<h2>Humanities</h2>
<ul>
   <li>Art (vista code: 21)
      <ul>
         <li>Applied arts (vista code: 215) 
            
            
            
         </li>
         <li>Architecture (vista code: 213) 
            
            
            
         </li>
         <li>Art: general interest (vista code: 21X) 
            
            
            
         </li>
         <li>Non-western art (vista code: 212) 
            
            
            
         </li>
         <li>Photography (vista code: 214) 
            
            
            
         </li>
         <li>Western art (vista code: 211) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Classical studies (vista code: 24)
      <ul>
         <li>Ancient history (vista code: 244) 
            
            
            
         </li>
         <li>Ancient philosophy (vista code: 243) 
            
            
            
         </li>
         <li>Classical art and architecture (vista code: 241) 
            
            
            
         </li>
         <li>Classical languages (vista code: 245) 
            
            
            
         </li>
         <li>Classical literature (vista code: 242) 
            
            
            
         </li>
         <li>Classical studies (general) (vista code: 24X) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Drama and Theater (vista code: 34)
      <ul>
         <li>American Theater (vista code: 342) 
            
            
            
         </li>
         <li>British Theater (vista code: 341) 
            
            
            
         </li>
         <li>Classical Theater (vista code: 344) 
            
            
            
         </li>
         <li>Drama and Theater: general interest (vista code: 34X) 
            
            
            
         </li>
         <li>European Theater (vista code: 343) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Film, media, mass communication (vista code: 23)
      <ul>
         <li>Communications (vista code: 233) 
            
            
            
         </li>
         <li>Creative Writing (vista code: 234) 
            
            
            
         </li>
         <li>Editing (vista code: 235) 
            
            
            
         </li>
         <li>Film (vista code: 231) 
            
            
            
         </li>
         <li>Journalism (vista code: 236) 
            
            
            
         </li>
         <li>Media, mass communication (vista code: 232) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Language and Linguistics (vista code: 35)
      <ul>
         <li>African and Caribbean language and linguistics (vista code: 35E) 
            
            
            
         </li>
         <li>Applied linguistics (vista code: 357) 
            
            
            
         </li>
         <li>Arabic and Middle Eastern language and linguistics (vista code: 35H) 
            
            
            
         </li>
         <li>Asian language and linguistics (vista code: 35D) 
            
            
            
         </li>
         <li>Cognitive linguistics (vista code: 358) 
            
            
            
         </li>
         <li>Computational linguistics (vista code: 355) 
            
            
            
         </li>
         <li>Discourse analysis (vista code: 35A) 
            
            
            
         </li>
         <li>English language and linguistics: general interest (vista code: 35X) 
            
            
            
         </li>
         <li>European language and linguistics (vista code: 35B) 
            
            
            
         </li>
         <li>Historical Linguistics (vista code: 35G) 
            
            
            
         </li>
         <li>Latin American language and linguistics (vista code: 35C) 
            
            
            
         </li>
         <li>Other languages and linguistics (vista code: 35F) 
            
            
            
         </li>
         <li>Phonetics and phonology (vista code: 352) 
            
            
            
         </li>
         <li>Psycholinguistics and neurolinguistics (vista code: 354) 
            
            
            
         </li>
         <li>Semantics and pragmatics (vista code: 353) 
            
            
            
         </li>
         <li>Sign language (vista code: 359) 
            
            
            
         </li>
         <li>Sociolinguistics (vista code: 356) 
            
            
            
         </li>
         <li>Syntax and morphology (vista code: 351) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Literature (vista code: 7)
      <ul>
         <li>African and Caribbean literature (vista code: 335) 
            
            
            (grouped into a section with heading: European and World Literature)
         </li>
         <li>American literature (vista code: 321) 
            
            
            (grouped into a section with heading: American Literature)
         </li>
         <li>Anglo Saxon and medieval literature (vista code: 315) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>Asian literature (vista code: 334) 
            
            
            (grouped into a section with heading: European and World Literature)
         </li>
         <li>Canadian literature (vista code: 322) 
            
            
            (grouped into a section with heading: American Literature)
         </li>
         <li>English literature 1700-1830 (vista code: 317) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>English literature 1830-1900 (vista code: 318) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>English literature 1900-1945 (vista code: 319) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>English literature after 1945 (vista code: 31A) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>English literature: general interest (vista code: 31X) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>European and World literature: general interest (vista code: 33X) 
            
            
            (grouped into a section with heading: European and World Literature)
         </li>
         <li>European literature (vista code: 332) 
            
            
            (grouped into a section with heading: European and World Literature)
         </li>
         <li>Irish literature (vista code: 333) 
            
            
            (grouped into a section with heading: European and World Literature)
         </li>
         <li>Latin American literature (vista code: 331) 
            
            
            (grouped into a section with heading: European and World Literature)
         </li>
         <li>Literary texts (vista code: 314) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>Literary theory (vista code: 312) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>Printing and publishing history (vista code: 313) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
         <li>Renaissance and early modern literature (vista code: 316) 
            
            
            (grouped into a section with heading: English Literature)
         </li>
      </ul>
   </li>
   <li>Music (vista code: 22)
      <ul>
         <li>Dance (vista code: 225) 
            
            
            
         </li>
         <li>Eighteenth-century music (vista code: 228) 
            
            
            
         </li>
         <li>Ethnomusicology (vista code: 223) 
            
            
            
         </li>
         <li>Medieval and Renaissance music (vista code: 226) 
            
            
            
         </li>
         <li>Music criticism (vista code: 221) 
            
            
            
         </li>
         <li>Music performance (vista code: 222) 
            
            
            
         </li>
         <li>Music: general interest (vista code: 22X) 
            
            
            
         </li>
         <li>Nineteenth-century music (vista code: 229) 
            
            
            
         </li>
         <li>Opera (vista code: 224) 
            
            
            
         </li>
         <li>Seventeenth-century music (vista code: 227) 
            
            
            
         </li>
         <li>Twentieth-century and contemporary music (vista code: 22A) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Philosophy (vista code: 41)
      <ul>
         <li>Epistemology and metaphysics (vista code: 419) 
            
            
            
         </li>
         <li>Ethics (vista code: 411) 
            
            
            
         </li>
         <li>History of philosophy (vista code: 412) 
            
            
            
         </li>
         <li>Legal philosophy (vista code: 417) 
            
            
            
         </li>
         <li>Logic (vista code: 416) 
            
            
            
         </li>
         <li>Non-western philosophy (vista code: 41B) 
            
            
            
         </li>
         <li>Philosophy of mind and language (vista code: 418) 
            
            
            
         </li>
         <li>Philosophy of science (vista code: 413) 
            
            
            
         </li>
         <li>Philosophy of social science (vista code: 41A) 
            
            
            
         </li>
         <li>Philosophy texts (vista code: 415) 
            
            
            
         </li>
         <li>Philosophy: general interest (vista code: 41X) 
            
            
            
         </li>
         <li>Political philosophy (vista code: 414) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Religion (vista code: 42)
      <ul>
         <li>Biblical studies - New testament (vista code: 422) 
            
            
            
         </li>
         <li>Biblical studies - Old testament, Hebrew bible (vista code: 427) 
            
            
            
         </li>
         <li>Buddhism and Eastern religions (vista code: 426) 
            
            
            
         </li>
         <li>Church history (vista code: 423) 
            
            
            
         </li>
         <li>Islam (vista code: 425) 
            
            
            
         </li>
         <li>Judaism (vista code: 424) 
            
            
            
         </li>
         <li>Philosophy of religion (vista code: 429) 
            
            
            
         </li>
         <li>Religion: general interest (vista code: 42X) 
            
            
            
         </li>
         <li>Religious ethics (vista code: 428) 
            
            
            
         </li>
         <li>Theology (vista code: 421) 
            
            
            
         </li>
      </ul>
   </li>
</ul>
<h2>Social Sciences</h2>
<ul>
   <li>Anthropology (vista code: 52)
      <ul>
         <li>Anthropological theory (vista code: 521) 
            
            
            
         </li>
         <li>Anthropology: general interest (vista code: 52X) 
            
            
            
         </li>
         <li>Biological anthropology (vista code: 525) 
            
            
            
         </li>
         <li>Linguistic anthropology (vista code: 524) 
            
            
            
         </li>
         <li>Physical anthropology (vista code: 522) 
            
            
            
         </li>
         <li>Social and cultural anthropology (vista code: 523) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Archaeology (vista code: 53)
      <ul>
         <li>Archaeological Science (vista code: 532) 
            
            
            
         </li>
         <li>Archaeological theory and methods (vista code: 531) 
            
            
            
         </li>
         <li>Archaeology of Asia, Sub-Saharan Africa and the Pacific (vista code: 539) 
            
            
            
         </li>
         <li>Archaeology of Europe and the Near and Middle East (vista code: 537) 
            
            
            
         </li>
         <li>Archaeology of the Americas (vista code: 538) 
            
            
            
         </li>
         <li>Archaeology: general interest (vista code: 53X) 
            
            
            
         </li>
         <li>Classical Archaeology (vista code: 534) 
            
            
            
         </li>
         <li>Historical Archaeology (vista code: 536) 
            
            
            
         </li>
         <li>Medieval Archaeology (vista code: 535) 
            
            
            
         </li>
         <li>Prehistory (vista code: 533) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Economics (vista code: 56)
      <ul>
         <li>Econometrics and mathematical methods (vista code: 565) 
            
            
            
         </li>
         <li>Economic development and growth (vista code: 564) 
            
            
            
         </li>
         <li>Economic theory (vista code: 561) 
            
            
            
         </li>
         <li>Economic thought, philosophy and methodology (vista code: 567) 
            
            
            
         </li>
         <li>Economics: general interest (vista code: 56X) 
            
            
            
         </li>
         <li>Finance and accountancy (vista code: 568) 
            
            
            
         </li>
         <li>Industrial economics (vista code: 566) 
            
            
            
         </li>
         <li>International economics (vista code: 569) 
            
            
            
         </li>
         <li>Labour economics (vista code: 56A) 
            
            
            
         </li>
         <li>Macroeconomics (vista code: 562) 
            
            
            
         </li>
         <li>Microeconomics (vista code: 563) 
            
            
            
         </li>
         <li>Monetary and financial economics (vista code: 56B) 
            
            
            
         </li>
         <li>Natural resource and environmental economics (vista code: 56C) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Education  (vista code: 59)
      <ul>
         <li>Education, history, theory (vista code: 591) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Geography (vista code: 57)
      <ul>
         <li>Geography: general interest (vista code: 57X) 
            
            
            
         </li>
         <li>Historical geography (vista code: 575) 
            
            
            
         </li>
         <li>Human geography (vista code: 573) 
            
            
            
         </li>
         <li>Physical geography (vista code: 571) 
            
            
            
         </li>
         <li>Planning and urban geography (vista code: 574) 
            
            
            
         </li>
         <li>Regional geography (vista code: 572) 
            
            
            
         </li>
      </ul>
   </li>
   <li>History (vista code: 8)
      <ul>
         <li>African history (vista code: 647) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>American history 1861-1900 (vista code: 626) 
            
            
            (grouped into a section with heading: American History)
         </li>
         <li>American history after 1945 (vista code: 625) 
            
            
            (grouped into a section with heading: American History)
         </li>
         <li>American history: general interest (vista code: 62X) 
            
            
            (grouped into a section with heading: American History)
         </li>
         <li>Australian History (vista code: 64C) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>British history 1066-1450 (vista code: 612) 
            
            
            (grouped into a section with heading: British History)
         </li>
         <li>British history after 1450 (vista code: 613) 
            
            
            (grouped into a section with heading: British History)
         </li>
         <li>British history before 1066 (vista code: 611) 
            
            
            (grouped into a section with heading: British History)
         </li>
         <li>British history: general interest (vista code: 61X) 
            
            
            (grouped into a section with heading: British History)
         </li>
         <li>Colonial American history (vista code: 622) 
            
            
            (grouped into a section with heading: American History)
         </li>
         <li>Cross-discipline history: general interest (vista code: 65C) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>Diplomatic and international history (vista code: 656) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>Early republic and Antebellum history (vista code: 623) 
            
            
            (grouped into a section with heading: American History)
         </li>
         <li>East Asian history (vista code: 64A) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>Economic history (vista code: 654) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>Environmental history (vista code: 657) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>European history  (vista code: 63) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>European history 1000-1450 (vista code: 632) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>European history 450-1000 (vista code: 631) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>European history after 1450 (vista code: 633) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>European history: general interest (vista code: 63X) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>Global history (vista code: 655) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>History after 1945 (general)  (vista code: 645) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>History of Medicine (vista code: 651) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>History of native American peoples (vista code: 621) 
            
            
            (grouped into a section with heading: American History)
         </li>
         <li>History of science and technology (vista code: 652) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>History of science: general interest (vista code: 65X) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>Latin American history (vista code: 646) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>Middle East history (vista code: 64B) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>Military history (vista code: 653) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>Regional and world history: general interest (vista code: 64X) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>Regional history after 1500 (vista code: 643) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>Regional history before 1500 (vista code: 642) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>Russian and East European history (vista code: 635) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>Social and population history (vista code: 658) 
            
            
            (grouped into a section with heading: History Cross Discipline)
         </li>
         <li>South Asian history (vista code: 648) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>South-East Asian history (vista code: 649) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
         <li>Twentieth century American history (vista code: 624) 
            
            
            (grouped into a section with heading: American History)
         </li>
         <li>Twentieth century British history (vista code: 614) 
            
            
            (grouped into a section with heading: British History)
         </li>
         <li>Twentieth century European history (vista code: 634) 
            
            
            (grouped into a section with heading: European History)
         </li>
         <li>Twentieth century regional history (vista code: 644) 
            
            
            (grouped into a section with heading: History Other Regions)
         </li>
      </ul>
   </li>
   <li>Law (vista code: 58)
      <ul>
         <li>Arbitration, Dispute Resolution and Mediation (vista code: 58B) 
            
            
            
         </li>
         <li>Comparative Law (vista code: 584) 
            
            
            
         </li>
         <li>Competition Law (vista code: 58A) 
            
            
            
         </li>
         <li>Constitutional and Administrative Law (vista code: 582) 
            
            
            
         </li>
         <li>Contract Law (vista code: 58V) 
            
            
            
         </li>
         <li>Corporate Law (vista code: 58C) 
            
            
            
         </li>
         <li>Criminal Law (vista code: 58G) 
            
            
            
         </li>
         <li>E-Commerce Law (vista code: 58K) 
            
            
            
         </li>
         <li>Employment Law (vista code: 58J) 
            
            
            
         </li>
         <li>English Legal System (vista code: 58O) 
            
            
            
         </li>
         <li>Environmental law (vista code: 589) 
            
            
            
         </li>
         <li>Equity and Trusts (vista code: 58R) 
            
            
            
         </li>
         <li>European Law (vista code: 58E) 
            
            
            
         </li>
         <li>Evidence (vista code: 58Q) 
            
            
            
         </li>
         <li>Family Law (vista code: 58D) 
            
            
            
         </li>
         <li>Financial Law (vista code: 58F) 
            
            
            
         </li>
         <li>Human Rights (vista code: 585) 
            
            
            
         </li>
         <li>Humanitarian Law (vista code: 58H) 
            
            
            
         </li>
         <li>Intellectual Property (vista code: 58I) 
            
            
            
         </li>
         <li>International Trade Law (vista code: 588) 
            
            
            
         </li>
         <li>Jurisprudence (vista code: 581) 
            
            
            
         </li>
         <li>Law and Economics (vista code: 58L) 
            
            
            
         </li>
         <li>Law: general interest (vista code: 58X) 
            
            
            
         </li>
         <li>Legal History (vista code: 58N) 
            
            
            
         </li>
         <li>Legal Skills and Practice (vista code: 58Y) 
            
            
            
         </li>
         <li>Medico-Legal, Bioethics and Health Law  (vista code: 58M) 
            
            
            
         </li>
         <li>Private International Law (vista code: 58P) 
            
            
            
         </li>
         <li>Property Law (vista code: 58W) 
            
            
            
         </li>
         <li>Public International Law (vista code: 586) 
            
            
            
         </li>
         <li>Socio-Legal Studies (vista code: 58S) 
            
            
            
         </li>
         <li>Sports Law (vista code: 58Z) 
            
            
            
         </li>
         <li>Taxation Law (vista code: 58T) 
            
            
            
         </li>
         <li>Tort Law (vista code: 58U) 
            
            
            
         </li>
         <li>UN and International Organisations (vista code: 587) 
            
            
            
         </li>
         <li>US law (vista code: 583) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Management (vista code: 50)
      <ul>
         <li>Business ethics (vista code: 505) 
            
            
            
         </li>
         <li>Entrepreneurship and innovation (vista code: 508) 
            
            
            
         </li>
         <li>General management (vista code: 501) 
            
            
            
         </li>
         <li>Governance (vista code: 506) 
            
            
            
         </li>
         <li>Human resource management (vista code: 507) 
            
            
            
         </li>
         <li>International business (vista code: 504) 
            
            
            
         </li>
         <li>Management: general interest (vista code: 50X) 
            
            
            
         </li>
         <li>Organisation studies (vista code: 503) 
            
            
            
         </li>
         <li>Sales and marketing (vista code: 509) 
            
            
            
         </li>
         <li>Strategic management (vista code: 502) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Politics and international relations (vista code: 55)
      <ul>
         <li>African government, politics and policy (vista code: 55G) 
            
            
            
         </li>
         <li>American government, politics and policy (vista code: 555) 
            
            
            
         </li>
         <li>Australian politics (vista code: 55H) 
            
            
            
         </li>
         <li>British government, politics and policy (vista code: 554) 
            
            
            
         </li>
         <li>Comparative politics (vista code: 556) 
            
            
            
         </li>
         <li>East Asian government, politics and policy (vista code: 55E) 
            
            
            
         </li>
         <li>European government, politics and policy (vista code: 559) 
            
            
            
         </li>
         <li>History of ideas (vista code: 552) 
            
            
            
         </li>
         <li>International relations and international organisations (vista code: 557) 
            
            
            
         </li>
         <li>Latin American government, politics and policy (vista code: 55F) 
            
            
            
         </li>
         <li>Middle East government, politics and policy (vista code: 55B) 
            
            
            
         </li>
         <li>Political economy (vista code: 558) 
            
            
            
         </li>
         <li>Political theory (vista code: 551) 
            
            
            
         </li>
         <li>Politics: general interest (vista code: 55X) 
            
            
            
         </li>
         <li>Research Methods in Politics (vista code: 55I) 
            
            
            
         </li>
         <li>Russian and East European government, politics and policy (vista code: 55A) 
            
            
            
         </li>
         <li>South Asian government, politics and policy (vista code: 55C) 
            
            
            
         </li>
         <li>South-East Asian government, politics and policy (vista code: 55D) 
            
            
            
         </li>
         <li>Texts in political thought (vista code: 553) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Psychology (vista code: 54)
      <ul>
         <li>Applied psychology (vista code: 549) 
            
            
            
         </li>
         <li>Cognition (vista code: 545) 
            
            
            
         </li>
         <li>Critical psychology (vista code: 547) 
            
            
            
         </li>
         <li>Developmental psychology (vista code: 541) 
            
            
            
         </li>
         <li>Educational psychology (vista code: 543) 
            
            
            
         </li>
         <li>Experimental psychology (vista code: 544) 
            
            
            
         </li>
         <li>Health and clinical psychology (vista code: 546) 
            
            
            
         </li>
         <li>History of psychology (vista code: 54A) 
            
            
            
         </li>
         <li>Personality psychology and individual differences (vista code: 548) 
            
            
            
         </li>
         <li>Psychology research methods and statistics (vista code: 54B) 
            
            
            
         </li>
         <li>Psychology: general interest (vista code: 54X) 
            
            
            
         </li>
         <li>Social psychology (vista code: 542) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Sociology (vista code: 51)
      <ul>
         <li>Criminology (vista code: 518) 
            
            
            
         </li>
         <li>Demography, social statistics (vista code: 514) 
            
            
            
         </li>
         <li>Organisational sociology (vista code: 513) 
            
            
            
         </li>
         <li>Political sociology (vista code: 515) 
            
            
            
         </li>
         <li>Research methods in sociology and criminology (vista code: 519) 
            
            
            
         </li>
         <li>Social theory (vista code: 511) 
            
            
            
         </li>
         <li>Sociology of race and ethnicity (vista code: 517) 
            
            
            
         </li>
         <li>Sociology of religion (vista code: 512) 
            
            
            
         </li>
         <li>Sociology of science and medicine (vista code: 516) 
            
            
            
         </li>
         <li>Sociology: general interest (vista code: 51X) 
            
            
            
         </li>
      </ul>
   </li>
</ul>
<h2>Science and Engineering</h2>
<ul>
   <li>Astronomy (vista code: 76)
      <ul>
         <li>Astronomy: general interest (vista code: 76X) 
            
            
            
         </li>
         <li>Astrophysics (vista code: 762) 
            
            
            
         </li>
         <li>Cosmology, Relativity and Gravitation (vista code: 763) 
            
            
            
         </li>
         <li>Planetary Science (vista code: 761) 
            
            
            
         </li>
         <li>Practical and amateur astronomy (vista code: 764) 
            
            
            
         </li>
         <li>Space Science (vista code: 765) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Chemistry (vista code: 74)
      <ul>
         <li>Analytical chemistry (vista code: 744) 
            
            
            
         </li>
         <li>Chemistry: general interest  (vista code: 74X) 
            
            
            
         </li>
         <li>Environmental chemistry (vista code: 746) 
            
            
            
         </li>
         <li>Industrial chemistry (vista code: 745) 
            
            
            
         </li>
         <li>Inorganic chemistry (vista code: 742) 
            
            
            
         </li>
         <li>Organic chemistry (vista code: 743) 
            
            
            
         </li>
         <li>Physical chemistry (vista code: 741) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Computer Science (vista code: 72)
      <ul>
         <li>Algorithmics, Complexity, Computer Algebra, Computational Geometry (vista code: 723) 
            
            
            
         </li>
         <li>Artificial Intelligence and Natural Language Processing (vista code: 72A) 
            
            
            
         </li>
         <li>Communications, Information Theory and Security (vista code: 72B) 
            
            
            
         </li>
         <li>Computational Biology and Bioinformatics (vista code: 726) 
            
            
            
         </li>
         <li>Computer Graphics, Image Processing and Robotics (vista code: 729) 
            
            
            
         </li>
         <li>Computer Hardware, Architecture and Distributed Computing (vista code: 721) 
            
            
            
         </li>
         <li>Computing and Society (vista code: 72F) 
            
            
            
         </li>
         <li>Computing: general interest (vista code: 72X) 
            
            
            
         </li>
         <li>Cryptography, Cryptology and Coding (vista code: 724) 
            
            
            
         </li>
         <li>Distributed, Networked and Mobile Computing (vista code: 72C) 
            
            
            
         </li>
         <li>IT Management and Ecommerce (vista code: 72E) 
            
            
            
         </li>
         <li>Knowledge Management, Databases and Data Mining (vista code: 727) 
            
            
            
         </li>
         <li>Pattern Recognition and Machine Learning (vista code: 728) 
            
            
            
         </li>
         <li>Programming LanguageProgramming Languages and Applied Logic (vista code: 722) 
            
            
            
         </li>
         <li>Scientific Computing, Scientific Software (vista code: 725) 
            
            
            
         </li>
         <li>Software Engineering and Development (vista code: 72D) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Earth and Environmental Sciences (vista code: 75)
      <ul>
         <li>Applied Geoscience, petroleum and mining geoscience (vista code: 757) 
            
            
            
         </li>
         <li>Atmospheric Science and Meteorology (vista code: 75A) 
            
            
            
         </li>
         <li>Climatology and Climate Change (vista code: 75C) 
            
            
            
         </li>
         <li>Earth and Environmental Science: general interest (vista code: 75X) 
            
            
            
         </li>
         <li>Environmental policy, Economics and Law (vista code: 75H) 
            
            
            
         </li>
         <li>Environmental science (vista code: 75F) 
            
            
            
         </li>
         <li>Geochemistry and environmental chemistry (vista code: 756) 
            
            
            
         </li>
         <li>Geomorphology and physical geography (vista code: 754) 
            
            
            
         </li>
         <li>Hydrology, hydrogeology and water resources (vista code: 759) 
            
            
            
         </li>
         <li>Mineralogy, petrology and volcanology (vista code: 755) 
            
            
            
         </li>
         <li>Oceanography and marine science (vista code: 75E) 
            
            
            
         </li>
         <li>Palaeontology and life history (vista code: 753) 
            
            
            
         </li>
         <li>Planetary science and astrobiology (vista code: 75G) 
            
            
            
         </li>
         <li>Remote sensing and GIS (vista code: 75D) 
            
            
            
         </li>
         <li>Sedimentology and stratigraphy (vista code: 752) 
            
            
            
         </li>
         <li>Soil Science (vista code: 75B) 
            
            
            
         </li>
         <li>Solid Earth Geophysics (vista code: 758) 
            
            
            
         </li>
         <li>Structural Geology, Tectonics and Geodynamics (vista code: 751) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Engineering (vista code: 78)
      <ul>
         <li>Aerospace engineering (vista code: 787) 
            
            
            
         </li>
         <li>Biomedical engineering (vista code: 786) 
            
            
            
         </li>
         <li>Chemical engineering (vista code: 784) 
            
            
            
         </li>
         <li>Circuits and systems (vista code: 78E) 
            
            
            
         </li>
         <li>Civil and geotechnical engineering (vista code: 783) 
            
            
            
         </li>
         <li>Communications and signal processing (vista code: 788) 
            
            
            
         </li>
         <li>Computer engineering (vista code: 78C) 
            
            
            
         </li>
         <li>Control systems and optimization (vista code: 78F) 
            
            
            
         </li>
         <li>Electromagnetics (vista code: 78B) 
            
            
            
         </li>
         <li>Electronic, optoelectronic devices, and nanotechnology (vista code: 781) 
            
            
            
         </li>
         <li>Energy Technology (vista code: 78L) 
            
            
            
         </li>
         <li>Engineering design, kinematics, and robotics (vista code: 785) 
            
            
            
         </li>
         <li>Engineering mathematics and programming (vista code: 78K) 
            
            
            
         </li>
         <li>Engineering: general interest (vista code: 78X) 
            
            
            
         </li>
         <li>Image processing and machine vision (vista code: 78A) 
            
            
            
         </li>
         <li>Industrial manufacturing, and operations engineering (vista code: 78J) 
            
            
            
         </li>
         <li>Materials Science (vista code: 78M) 
            
            
            
         </li>
         <li>Polymer Science and Engineering (vista code: 78N) 
            
            
            
         </li>
         <li>RF and microwave engineering (vista code: 78D) 
            
            
            
         </li>
         <li>Solid mechanics and materials (vista code: 78G) 
            
            
            
         </li>
         <li>Technology management (vista code: 78H) 
            
            
            
         </li>
         <li>Thermal-fluids engineering (vista code: 782) 
            
            
            
         </li>
         <li>Wireless Communications (vista code: 789) 
            
            
            
         </li>
      </ul>
   </li>
   <li>General Science (vista code: 79)
      <ul>
         <li>History of science (vista code: 79X) 
            
            
            
         </li>
         <li>Popular science (vista code: 791) 
            
            
            
         </li>
         <li>Science handbooks (vista code: 792) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Life Sciences (vista code: 81, 82)
      <ul>
         <li>Animal behaviour (vista code: 824) 
            
            
            
         </li>
         <li>Animal physiology (vista code: 827) 
            
            
            
         </li>
         <li>Bioengineering (vista code: 81A) 
            
            
            
         </li>
         <li>Biological anthropology and primatology (vista code: 825) 
            
            
            
         </li>
         <li>Biotechnology (vista code: 819) 
            
            
            
         </li>
         <li>Cell biology and developmental biology (vista code: 811) 
            
            
            
         </li>
         <li>Cognitive Psychology (vista code: 817) 
            
            
            
         </li>
         <li>Darwin (vista code: 82X) 
            
            
            
         </li>
         <li>Ecology and conservation (vista code: 823) 
            
            
            
         </li>
         <li>Entomology (vista code: 82A) 
            
            
            
         </li>
         <li>Evolutionary biology (vista code: 826) 
            
            
            
         </li>
         <li>General cellular, molecular biology (vista code: 81X) 
            
            
            
         </li>
         <li>Genetics (vista code: 815) 
            
            
            
         </li>
         <li>Genomics, bioinformatics and systems biology (vista code: 818) 
            
            
            
         </li>
         <li>Life Science Professional Development (vista code: 810) 
            
            
            
         </li>
         <li>Microbiology and immunology (vista code: 812) 
            
            
            
         </li>
         <li>Molecular biology, biochemistry, and structural biology (vista code: 813) 
            
            
            
         </li>
         <li>Mycology (vista code: 820) 
            
            
            
         </li>
         <li>Natural resource management, agriculture, horticulture and forestry (vista code: 828) 
            
            
            
         </li>
         <li>Neurosciences (vista code: 816) 
            
            
            
         </li>
         <li>Pharmacology (vista code: 81C) 
            
            
            
         </li>
         <li>Physiology and biological physics (vista code: 814) 
            
            
            
         </li>
         <li>Plant sciences (vista code: 821) 
            
            
            
         </li>
         <li>Quantitative biology, biostatistics and mathematical modeling (vista code: 81B) 
            
            
            
         </li>
         <li>Vertebrate zoology (vista code: 822) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Mathematics (vista code: 71)
      <ul>
         <li>Algebra (vista code: 712) 
            
            
            
         </li>
         <li>Analysis and probability (vista code: 715) 
            
            
            
         </li>
         <li>Biostatistics and epidemiology (vista code: 71C) 
            
            
            
         </li>
         <li>Computational Science (vista code: 71E) 
            
            
            
         </li>
         <li>Differential and integral equations, dynamical systems and control theory (vista code: 718) 
            
            
            
         </li>
         <li>Discrete Mathematics, Information Theory and Coding (vista code: 714) 
            
            
            
         </li>
         <li>Fluid dynamics and solid mechanics  (vista code: 71B) 
            
            
            
         </li>
         <li>Geometry and topology (vista code: 717) 
            
            
            
         </li>
         <li>Logic, categories and Sets (vista code: 711) 
            
            
            
         </li>
         <li>Mathematical modeling and methods (vista code: 71A) 
            
            
            
         </li>
         <li>Mathematical physics (vista code: 719) 
            
            
            
         </li>
         <li>Mathematics for finance, insurance and acturial science (vista code: 71H) 
            
            
            
         </li>
         <li>Number theory (vista code: 713) 
            
            
            
         </li>
         <li>Numerical analysis and computational science (vista code: 71D) 
            
            
            
         </li>
         <li>Numerical recipes (vista code: 71J) 
            
            
            
         </li>
         <li>Operational research, risk analysis and optimization (vista code: 71G) 
            
            
            
         </li>
         <li>Real and Complex Analysis (vista code: 716) 
            
            
            
         </li>
         <li>Recreational mathematics  (vista code: 71X) 
            
            
            
         </li>
         <li>Statistics, biostatistics and applied probability (vista code: 71F) 
            
            
            
         </li>
      </ul>
   </li>
   <li>Physics (vista code: 73)
      <ul>
         <li>Atomic Physics, Molecular Physics and Chemical Physics (vista code: 735) 
            
            
            
         </li>
         <li>Biological Physics and Soft Matter Physics (vista code: 73D) 
            
            
            
         </li>
         <li>Computational Science and Modelling (vista code: 73E) 
            
            
            
         </li>
         <li>Condensed Matter Physics, Nanoscience and Mesoscopic Physics (vista code: 732) 
            
            
            
         </li>
         <li>Cosmology, Relativity and Gravitation (vista code: 739) 
            
            
            
         </li>
         <li>Econophysics and Financial Physics (vista code: 737) 
            
            
            
         </li>
         <li>Electronics for Physicists (vista code: 73G) 
            
            
            
         </li>
         <li>General and Classical Physics (vista code: 73X) 
            
            
            
         </li>
         <li>History, Philosophy and Foundations of  Physics (vista code: 73F) 
            
            
            
         </li>
         <li>Mathematical Methods (vista code: 73B) 
            
            
            
         </li>
         <li>Nonlinear Science and Fluid Dynamics (vista code: 738) 
            
            
            
         </li>
         <li>Optics, Optoelectronics and Photonics (vista code: 731) 
            
            
            
         </li>
         <li>Particle Physics and Nuclear Physics (vista code: 733) 
            
            
            
         </li>
         <li>Plasma Physics and Fusion Physics (vista code: 736) 
            
            
            
         </li>
         <li>Quantum Physics, Quantum Information and Quantum Computation (vista code: 73A) 
            
            
            
         </li>
         <li>Statistical Physics (vista code: 73C) 
            
            
            
         </li>
         <li>Theoretical Physics and Mathematical Physics (vista code: 734) 
            
            
            
         </li>
      </ul>
   </li>
</ul>
<h2>Medicine</h2>
<ul>
   <li>Anatomy (vista code: 91J)</li>
   <li>Anesthesia, Intensive Care, Pain Management (vista code: 914)</li>
   <li>Cardiovascular Medicine (vista code: 91R)</li>
   <li>Dermatology (vista code: 91I)</li>
   <li>Emergency Medicine (vista code: 916)</li>
   <li>Endocrinology (vista code: 91K)</li>
   <li>Epidemiology, Public Health and Medical Statistics (vista code: 913)</li>
   <li>Gastroenterology (vista code: 91M)</li>
   <li>Geriatrics (vista code: 91L)</li>
   <li>Hematology (vista code: 919)</li>
   <li>Infectious Disease (vista code: 91A)</li>
   <li>Internal Medicine (vista code: 91Q)</li>
   <li>Medical Imaging (vista code: 91B)</li>
   <li>Medical Law, Ethics and Forensic Medicine (vista code: 91C)</li>
   <li>Medicine: general interest (vista code: 911)</li>
   <li>Neurology and Clinical Neuroscience (vista code: 917)</li>
   <li>Neuropsychology (vista code: 91P)</li>
   <li>Nursing (vista code: 91D)</li>
   <li>Obstetrics and Gynecology (vista code: 91E)</li>
   <li>Oncology (vista code: 91N)</li>
   <li>Pathology and Laboratory Science  (vista code: 91X)</li>
   <li>Pediatrics and Child Health (vista code: 915)</li>
   <li>Psychiatry and Clinical Psychology (vista code: 912)</li>
   <li>Reproductive Medicine (vista code: 918)</li>
   <li>Respiratory Medicine (vista code: 91F)</li>
   <li>Surgery (vista code: 91G)</li>
</ul>
</root>