/* 
-----------------------------------------
	Template CSS Large Font Styles
	by: John Ryan Acoba
    GUI Designer
-----------------------------------------
*/	

h1, h2 {
    color: #000000;
    font: 175% Tahoma,Geneva,sans-serif;
}
h3, h4 {
    color: #000000;
    font: 150% Tahoma,Geneva,sans-serif;
}
#page-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    font: 200% Tahoma,Geneva,sans-serif;
    margin: 0 auto;
    min-width: 900px;
    padding: 0;
    width: 100%;
}
.nav_right ul li.not_available {
    color: #990000;
    font-weight: bold;
    list-style-type: none;
    padding: 0 4px;
}
.org_wrapper {
    width: 100%;
}
.landing_container {
    float: left;
    width: 40%;
}
.landing_container blockquote {
    color: #990000;
    font-size: 125%;
    line-height: 1em;
    margin: 0;
    padding: 10px 0;
}
.validate, .error_msg {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px dashed #630111;
    padding: 10px;
}
.error_msg ul li {
    list-style-type: none;
}
.validate h4 {
    font: bold 100% Tahoma,Geneva,sans-serif;
}
.validate ul {
    background: none repeat scroll 0 0 transparent;
    list-style-type: none;
    padding: 0 15px;
}
table.landing {
    background: none repeat scroll 0 0 #000000;
    margin: 1em;
    width: 96%;
}
table.faq {
    background: none repeat scroll 0 0 #000000;
    margin: 1em;
    width: 45%;
}
table.book_landing {
    background: none repeat scroll 0 0 #000000;
    margin: 1em;
    width: 96%;
}
table.landing, table.faq, table.book_landing .landing th, .faq th, .book_landing th, .landing td, .faq td, .book_landing td {
    border: medium none;
    border-collapse: collapse;
    padding: 4px 8px;
}
table.faq li, table.landing li {
    clear: both;
}
.landing tbody td, .faq tbody td, .book_landing tbody td, .landing tbody td.toc_num, .faq tbody td.toc_num, .booklanding tbody td.toc_num {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dashed #859298;
    padding: 0.6em;
    vertical-align: top;
}
.landing tbody td.toc_num, .faq tbody td.toc_num, .book_landing tbody td.toc_num {
    border-left: 1px solid #859298;
    font-weight: bold;
    text-align: center;
}
.landing tbody tr td.indent01, .faq tbody tr td.indent01, .book_landing tbody tr td.indent01 {
    padding: 8px 0 0 32px;
}
.landing tbody tr td.indent02, .faq tbody tr td.indent02, .book_landing tbody tr td.indent02 {
    padding: 8px 0 0 64px;
}
.landing tbody tr td.indent03, .faq tbody tr td.indent03, .book_landing tbody tr td.indent03 {
    padding: 8px 0 0 96px;
}
table.faq ul li, table.landing ul li, table.book_landing ul li {
    display: inline;
    float: left;
    list-style-type: none;
}
table.global_forms {
    background: none repeat scroll 0 0 #EAEAEA;
    border: 2px solid #000000;
    min-width: 850px;
    padding: 15px;
    width: 100%;
}
.input_checkbox {
    background: none repeat scroll 0 0 #F4F4F4;
    color: #000000;
    font: 100% Tahoma,Geneva,sans-serif;
    height: 25px;
    width: 25px;
}
.div_search_info {
    background: url("../../images/bg_info_divider.gif") repeat-y scroll 0 0 #FFFFFF;
    padding: 0 5px 40px 60px;
}
.div_search_info h3 a, .div_search_info h4 a {
    color: #004059;
    font-weight: bold;
    text-decoration: underline;
}
.div_search_info h3 a:hover, .div_search_info h4 a:hover {
    text-decoration: none;
}
.div_search_info h5 a {
    color: #004059;
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}
.div_search_info h5 a:hover {
    text-decoration: none;
}
.div_search_info ul li {
    display: inline;
    list-style-type: none;
}
.list01 {
    border-left: 1px solid #859298;
    border-right: 1px solid #859298;
    border-top: 1px solid #859298;
    width: 950px;
}
.list01 ul li {
    background: none repeat scroll 0 0 #E4E4E4;
    border-bottom: 1px dashed #859298;
    list-style-type: none;
    margin: 0;
    padding: 6px 10px;
}
.list01 ul li a {
    color: #000000;
    font: 100% Tahoma,Geneva,sans-serif;
    text-decoration: none;
}
.list01 ul li a:hover {
    text-decoration: underline;
}
div.treelist {
    margin: 0;
    padding: 15px;
}
div.treelist h2 {
    font: bold 100% Tahoma,Geneva,sans-serif;
}
div.treelist h3, div.treelist h4, div.treelist h5 {
    font: 100% Tahoma,Geneva,sans-serif;
}
div.treelist {
    margin: 20px 0 0;
    padding: 0;
}
div.treelist ul {
    padding: 0 0 0 25px;
}
div.treelist li {
    list-style-type: none;
    padding: 8px 0;
}
div.treelist ul li a {
    color: #000000;
    font: 100% Tahoma,Geneva,sans-serif;
    text-decoration: underline;
}
div.treelist ul li a:hover {
    text-decoration: none;
}
.content_container {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 15px;
}
.topmenu {
    background: none repeat scroll 0 0 #004059;
    height: 100%;
    padding: 0 1px;
}
.topmenu h3 {
    color: #000000;
}
.topmenu h4 {
    color: #000000;
    font-size: 125%;
}
.border_divider03 .bot_signup {
    background: none repeat scroll 0 0 #00AEE3;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    font: bold 75% Tahoma,Geneva,sans-serif;
    padding: 5px;
}
.breadcrumbs_search_container {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px 0 0;
}
.breadcrumbs_container {
    letter-spacing: 0;
    margin: 0;
    padding: 15px;
}
.breadcrumbs_container a {
    color: #004059;
    font-weight: normal;
    padding: 0 5px 0 0;
    text-decoration: underline;
}
.breadcrumbs_container a:hover {
    text-decoration: none;
}
.breadcrumbs_container ul li {
    background: none repeat scroll 0 0 transparent;
    color: #004059;
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0 5px 0 0;
}
.breadcrumbs_container li {
    float: left;
}
.search_container {
    clear: both;
    float: right;
    padding: 10px 0 0 10px;
    width: 400px;
}
.search_container .text_search {
    background: none repeat scroll 0 0 #E9EAEB;
    color: #000000;
    float: left;
    font: 100% Tahoma,Geneva,sans-serif;
    margin-right: 2px;
    padding: 3px;
    width: 385px;
}
.border-landing {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #000000;
    height: 100%;
}
.border-div {
    background: none repeat scroll 0 0 #EAEAEA;
    border: 2px solid #000000;
    height: 100%;
}
.border_divider01 {
    float: left;
    padding: 6px 12px;
    vertical-align: top;
    width: 40%;
}
.border_divider01 ol {
    padding: 10px 40px;
}
.border_divider02 {
    float: left;
    padding: 6px 12px;
    vertical-align: top;
    width: 25%;
}
.border_divider02 ul {
    list-style-type: none;
    padding: 10px 25px;
}
.border_divider02 p {
    margin: 0 15px;
    padding: 0;
}
.border_divider03 {
    float: left;
    padding: 6px 12px;
    vertical-align: top;
    width: 25%;
}
.border_divider03 ul {
    list-style-type: none;
    padding: 10px 25px;
}
.link_01 a {
    color: #004059;
    text-decoration: none;
}
.link_01 a:hover {
    text-decoration: underline;
}
.link_02 a {
    color: #004059;
    text-decoration: underline;
}
.link_02 a:hover {
    text-decoration: none;
}
.icon_enlarge ul {
    list-style-type: none;
}
.icon_enlarge ul li.thumbs a, .icon_enlarge ul li.thumbs img {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
.icon_enlarge li a {
    background: url("../../images/icon_enlarge.gif") no-repeat scroll 0 1px transparent;
    color: #004059;
    list-style-type: none;
    padding: 0 0 0 15px;
    text-decoration: underline;
}
.icon_enlarge ul li a:hover {
    text-decoration: none;
}
.faceted_search_container .search_filter_container {
    border: 1px solid #000000;
    float: left;
    width: 30% !important;
}
.faceted_search_container .search_filter_container h3 {
    color: #990000;
    font-size: 100%;
    font-weight: bold;
}
.faceted_search_container .search_filter_container a {
    color: #004059;
    text-decoration: underline;
}
.faceted_search_container .search_filter_container a:hover {
    text-decoration: none;
}
.faceted_search_container .search_filter_container .search_filter_selection_container .search_filter_level_container span.input_button input {
    background: none repeat scroll 0 0 #004059;
    border: 1px solid #0B6E95;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
}
.faceted_search_container .search_filter_container .search_filter_control {
    background: none repeat scroll 0 0 #EAEAEA;
    border-bottom: 1px dashed #859298;
    margin: 0;
    padding: 5px 0;
}
.faceted_search_container .search_filter_container .search_filter_control ul {
    margin: 0;
    padding: 0;
}
.faceted_search_container .search_filter_container .search_filter_control ul li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 5px 2px;
    padding: 2px 0;
}
.faceted_search_container .search_filter_container .search_filter_control ul li a {
    background: none repeat scroll 0 0 #004059;
    border: 1px solid #0B6E95;
    color: #FFFFFF;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
}
.faceted_search_container .search_filter_container .search_filter_control span.button input {
    background: none repeat scroll 0 0 #004059;
    border: 1px solid #0B6E95;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}
.faceted_search_container .search_results_container {
    border: 1px solid #000000;
    float: left;
    margin: 0 10px;
    width: 65% !important;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #E6E4E4;
    padding: 0 10px 5px;
    position: relative;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list a {
    color: #004059;
    text-decoration: underline;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list a:hover {
    text-decoration: none;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list h4 {
    margin-right: 30px;
}
.faceted_search_container .search_results_container .search_results_content_container .journal_list {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #E6E4E4;
    padding: 0 10px 5px;
}
.faceted_search_container .search_results_container .search_results_content_container .journal_list a {
    color: #004059;
    text-decoration: underline;
}
.faceted_search_container .search_results_container .search_results_content_container .journal_list a:hover {
    text-decoration: none;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf {
    background: url("../../images/icons_img.png") no-repeat scroll -985px -26px transparent;
    float: left;
    height: 16px;
    width: 250px;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf a {
    padding: 0 0 0 18px;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf_disabled {
    background: url("../../images/icons_img.png") no-repeat scroll -985px -45px transparent;
    float: left;
    height: 16px;
    width: 250px;
}
.faceted_search_container .search_results_container .search_results_content_container .ebook_list .download_container span.icon_search_result_pdf_disabled a {
    color: #87888A;
    padding: 0 0 0 18px;
    text-decoration: none;
}
.faceted_search_container .search_results_container .search_results_content_container .other_journal_links ul {
    margin: 10px 0;
    padding: 0;
}
.faceted_search_container .search_results_container .search_results_content_container .other_journal_links ul li {
    display: inline;
    float: left;
    margin: 10px 0;
    padding: 0 2px;
}
.faceted_search_container .search_results_container .search_results_content_container .other_journal_links ul li a {
    background: none repeat scroll 0 0 #004059;
    border: 1px solid #0B6E95;
    color: #FFFFFF;
    float: left;
    padding: 2px 5px;
    text-decoration: none;
}
.faceted_search_container .search_results_container .search_results_control {
    background: none repeat scroll 0 0 #EAEAEA;
    border-bottom: 1px dashed #859298;
    height: 100%;
    margin: 0;
    padding: 5px 0;
}
.faceted_search_container .search_results_container .search_results_control ul {
    float: left;
    margin: 0;
    padding: 0;
}
.faceted_search_container .search_results_container .search_results_control ul li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 10px 0;
}
.footer {
    color: #000000;
    font: 90% Tahoma,Geneva,sans-serif;
    margin: 12px 0;
    padding: 0;
}
.footer a {
    color: #434F57;
    text-decoration: underline;
}
.footer a:hover {
    text-decoration: none;
}
.arrow_05 dl ul {
    margin: 0;
    padding: 0;
}
.arrow_05 dl ul li {
    display: inline;
}
.arrow_05 dl ul li a, .arrow_05 dl ul li a:hover {
    background: url("../../images/icons_img.png") no-repeat scroll -558px 2px transparent;
    color: #004059;
    float: left;
    padding: 0 12px;
    text-decoration: underline;
}
