/* 
----------------------------------------
Cambridge Books Online
Custom CSS document
Modified Date: 12 Aug 2009
Modified By: Cito Galang, Karlson Mulingtapang
----------------------------------------
*/
.answer {
	padding-left: 5px;
}
.onlineHidden {
	display: none;
}

.fifteen {
	width: 15%;
	text-align: center;
}
.twenty {		
	width: 20%;
	text-align: center;
}

.ten {
	width: 10%;
	text-align: center;
}

.alertMeHeader {	
	text-align: center !important;
	vertical-align: middle !important;
}

.clear_02 {
	clear:both; padding-bottom: 35px;
}

/*.searchWord { 
	background-color: #99CCFF;
	padding: 1px;
}*/

.link03_disable:link, a.link03_disable:active, a.link03_disable:visited, a.link03_disable:hover {
	font: normal 1.0em Tahoma, Geneva, sans-serif;		
	color: #C3C8CB;
	text-decoration: none;
	cursor: text;
}

/*.arrow05 ul li {
	background:url(../images/arrow05.gif) 2px no-repeat;		
	padding: 0 0 0 15px;
}*/

.extractImage {
	padding-left: 45px !important;
	margin: 0;
	text-align: center;
}

.extractImage a img {
	width: 90%;
}

input.button_disabled {		
	background: #CCCCCC;
	font-size: 1.0em;
	padding: 2px;
	color: #999999;
	cursor: text;		
}

.linkBookTitle:link, a.linkBookTitle:active, a.linkBookTitle:visited{
	color: #02668e;
	text-decoration: none;
}
a.linkBookTitle:hover{	
	text-decoration:underline;
}

#indent {
	width: 60%;
	margin: 0px auto; 	
	text-align: justify;
}

#indent p {
	width: 541px;
}

p.refTitle {
	font-weight: bold;
}

.boxBody div .title_container{
	background:#fafafa;
	padding: 20px 6px;
}