/* 
-----------------------------------------
	Template CSS IE6 Hack
	by: John Ryan Acoba
    User Interface Designer
-----------------------------------------
*/

.scroll_container{
	background: transparent url(../images/icons_img.png) 0 -160px no-repeat;
	padding: 18px 0 0 0;
	width: 901px;
	height: 175px;
	}

.searchWord { 
	background: #99ccff;	
	padding: 0 3px;	
	border-radius: 5px;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	behavior: url(border-radius.htc);
	}
	
#main_container #banner_container .signup_button span a {
	background: transparent url(../images/bot_signup_rightbg.png) right top no-repeat; 
	height: 28px; 
	display: block; 
	text-decoration: none; 
	font-size: 130%; 
	color: #fff; 
	padding: 4px 20px 0 0;
	width: 0; 
	white-space: nowrap;
	}
	
	
/* 
------------------------------
Tabmenu for page landing
------------------------------
*/
	
.boxBody_faceted .left_content ul.leftmenu_form li a    {float: none; width: auto;}
	
.boxBody div p.title_container    {background:#fafafa; position: relative; margin: 0 20px; padding: 20px 10px;}
	
.boxBody div p.title_container span.chapter_nav a    {margin: 0 2px; padding: 6px 12px; float: left; font-size: 200%; color: #fff; text-decoration: none; background: #016690; border: 1px solid #000;}


/* 
------------------------------
Topmenu
------------------------------
*/

.nav ul li.topmenu_home_active a {background: url(../images/topmenu_rightbg_home.png) 100% -32px no-repeat; text-decoration: none; color: #fff; padding: 7px 15px 7px 10px; margin: 0 0 0 5px; float: left; display: block;}
	

/* 
------------------------------
Faceted Search
------------------------------
*/	

.boxBody_faceted {
		font-size: 90%;
		min-height:350px; !important
		}
		
.boxBody_faceted .left_content ul             {margin: 10px 5px;}

.boxBody_faceted .right_content .journal_list .journal_preview ul li         {list-style-type: none; display: inline; background: #bfcfd6; color: #000; border: 1px solid #87949a; margin: 0 1px; padding: 2px 4px;}


/* 
------------------------------
CSS Sprite Links and Icons
------------------------------
*/

.icons_img.breadcrumbs_divider        {background-position: 0 -425px; width: 901px; height: 5px; float:left;}


/* 
------------------------------
Global Button
------------------------------
*/

div.form_button span a {
	background: transparent url(../images/bot_rightbg.png) right top no-repeat; height: 16px; display: block; text-decoration: none; font-size: 100%; color: #fff; padding: 0 9px 0 0; width: 0; white-space: nowrap;}
div.form_button span a:hover    {text-decoration: none; color: #fff;}
	
div.form_button span input {
	background: transparent url(../images/bot_rightbg.png) right top no-repeat; 
	display: block; 
	font-size: 100%; 
	color: #fff;
	margin: 0;
	padding: 2px 9px 2px 0;
	cursor: pointer; 
	border: none;
	}

