/* 
-----------------------------------------
	Mobile CSS
	by: John Ryan Acoba
    User Interface Designer
-----------------------------------------
*/


/* 
------------------------------
Reset
------------------------------
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, dl, dt, dd, ol, ul, li, iframe, form, label, caption, table, th, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
/* 
------------------------------
Global
------------------------------
*/	

body    {margin: 0; overflow: hidden;}
iframe  {width: 100%; height: 100%;}
	
