#page_container {
	position: relative;
	margin:0 auto;
	width: 901px;
	top:-1px;
	}

.panel_button {
	float:right;
	width: 67px;
	height: 32px;
	z-index: 20;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
	cursor: pointer;
	}

.panel_button a {
	font: bold 1.0em Tahoma, Geneva, sans-serif;
	color: #000;
	text-decoration: none;
	}

.panel_button a:hover {
	text-decoration:underline;
	}

#toppanel {
	position: absolute;
	width: 901px;
	left: 0px;
	z-index: 25;
	text-align: center;
	}

#panel {
	width: 901px;
	position: relative;
	top: 1px;
	height: 0px;
	margin:0 auto;
	z-index: 10;
	overflow: hidden;
	text-align: left;
	}

#panel_contents {
	background: #000;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
	height: 100%;
	width: 901px;
	position: absolute;
	z-index: -1;
	}

#panel h1 {	
	font: bold 1.0em Tahoma, Geneva, sans-serif;
	text-align: center;
	color: #fff;
	line-height: 25px;
	left: 350px;
	}
	
#panel p {
	font: normal 1.0em Tahoma, Geneva, sans-serif;
	text-align: center;
	color: #fff;	
	line-height: 25px;
	}
	
#panel img {
	border:none;
	margin:0 auto;
	top:5px;
	left: 425px;
	}