/* 
-----------------------------------------
	Popup CSS
	Modified by: John Ryan Acoba
    User Interface Designer
-----------------------------------------
*/


body {
	background: #fff;
	color: #000;
	font: normal 70% Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.ul_all {
	list-style-type:circle;
	margin: 0;
	padding: 0 25px;
	}

li {
	margin: 0;
	padding: 0;
	}

form {
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	margin: 0;
	padding: 0;
	}
	
.fr {float:right;}

/* 
------------------------------
standard link styles
------------------------------
*/

a {
	color: #02668e;
	text-decoration: none;
	font-weight: bold;
	}

a:hover {
	text-decoration: underline;
	}

a:active {
	color: #000;
	text-decoration: none;
	}

	.bot_login:link, a.bot_login:active, a.bot_login:visited, a.bot_login:hover {
		float:left;
		width: 60px;
		height:16px;
		margin: 0 1px;
		background: transparent url(../images/icons_img.png) -182px -68px no-repeat;
		}
	.bot_login_disabled{
		float:left;
		width: 60px;
		height:16px;
		margin: 0 1px;
		background: transparent url(../images/icons_img.png) -182px -84px no-repeat;
		}


/** optional **/
/*
a.button:visited{
	color:#aaa;
}
*/


/*Hover Style*/

a.button:hover, 
span.button:hover,
a.button:focus, 

a.dom-button-focus, 
span.button-behavior-hover{
	background-position:0 0;
	color:#fff;
	text-decoration:none;
	}

a.button:hover span, 
span.button:hover button, 
a.button:focus span, 

span.button-behavior-hover button, 
span.button-behavior-hover input{
	background-position:100% 0;
	}

a.button:active, a.button:focus span{
	color:#fff;
	}


/* 
------------------------------
tools
------------------------------
*/

input, textarea, select {
font: normal 1em Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	}
	.clear_bottom {
	clear: both;
	margin: 0 0 25px 0;
	}

table {
	padding: 0;
	margin: 0;
	}

span.note {
	color: #F00;
	}

/*
------------------------------
content styles 
------------------------------
*/

.content {
	border: 1px solid #000;
	margin: 10px;
	padding: 10px;
	}

.content ul {
	padding: 0;
	margin: 0;
	}

.content ul li {
	margin: 0 3px;
	padding: 5px 0;
	}

.content ul li.header {
	padding: 0 0 8px 0;
	margin: 0 3px;
	font-weight: bold;
	border-bottom: 1px dotted #000;
	}

.content ul li.header div.headerTools, .content div.closeTool {
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
	font-size: 90%;
	font-weight: normal;
	}

.content ul li.header div.headerTools a, .content div.closeTool a {
	text-decoration: underline;
	color: #000;
	}

.content ul li.header div.headerTools a:hover, .content div.closeTool a:hover {
	text-decoration: none;
	}

.content ul li.bookLink {
	padding: 5px;
	margin: 0 3px;
	font-weight: bold;
	background:#ccc;
	}


.content table {
	text-align: left;
	width: 100%;
	margin: 20px 0 0 0;
	}

.content table td, .content table th {
	margin: 0;
	padding: 5px;
	vertical-align: top;
	}

.content table td.fields {
width: 78%;
}

.content table td textarea {
	margin: 0 0 10px 0;
	padding: 0;
	display: block;
	width: 400px;
	height: 100px;
	overflow: scroll;
	}

.content table tr.shaded td, .content table tr.shaded th {
	margin: 0;
	padding: 5px;
	background: #f4f4f4;
	}

.content table tr td.checkBox, .content table tr.shaded th.checkBox {
	margin: 0;
	padding: 5px;
	text-align: center;
	width: 10%;
	}

.content table tr.border td, .content table tr.border th {
	border-top: 1px dotted #666;
	padding: 5px;
	}


.content td .bookResultItem {
	margin: 5px 0 10px 0;
	padding: 0;
	}

.content td .bookResultItem a {
	text-decoration: underline;
	}

.content td .bookResultItem a:hover {
	text-decoration: none;
	}

.content td h3 {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	}

.content td h3 span.bookTitle a {
	font-weight: bold;
	font-size: 110%;
	color:#02668e;
	}

.content td h3 span.author, 
.content td ul li span.author {
	font-weight: bold;
	color: #000;
	}

.content td .subtitle {
	padding: 2px 0;
	}

.content td ul li {
	padding: 0;
	margin: 0 0 2px 0;
	}

.content td ul li.publication {
	font-size: 90%;
	padding: 8px 0;
	}

.content td ul li span.chapterTitle {
	color: #666;
	}

.content td ul li.page {
	font-size: 90%;
	padding: 0;
	margin: 3px 0;
	font-weight: bold;
	}

.content td ul li.doi {
	padding: 0;
	margin: 15px 0 5px 0;
	font-size: 90%;
	}

.content td ul li.doi span.title {
	font-weight: bold;
	color:#000;
	}


/* bottom buttons */

.content ul.logIn {
	margin: 0;
	padding: 0;
	}

.content ul.logIn li {
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px dotted #CCC;
	}

.content ul.logIn li.error {
	color: #F00;
	padding: 5px 0;
	margin: 0;
	}

.content ul.logIn table {
	padding: 0;
	margin: 0;
	}

.content ul.logIn table td {
	padding: 3px;
	margin: 0;
	font-size: .93em;
	}

/*.content input.button {
	color: #fff;
	cursor: pointer;
	background: #026e97;
	font-size: 0.93em;
	}*/


/*
------------------------------
content with tabs styles 
------------------------------
*/

.contentWithTabs {
	margin: 10px;
	padding: 0;
	}

#contentContainer {
	margin: 0;
	padding: 0 10px;
	border: 1px solid #000;
	}


/* tabs */

#tabsContainer {
	margin: 0 5px 0 5px;
	}

ul#tabs {
	padding: 3px 0;
	font-size: 0.92em;
	margin: 0 5px 0px 0; 
	}

ul#tabs li {
	list-style: none;
	margin: 0;
	display: inline;
	}

ul#tabs li a {
	padding: 3px 5px;
	margin-right: 3px;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #000;
	background-color: #02668e;
	color: #fff;
	text-decoration: none;
	\float: left; /* fed only to IE5.* */
	}

ul#tabs li a:hover {
	padding: 3px 5px 4px 5px;
	background-color: #fff;
	color: #333;
	}

ul#tabs li a.current {
	padding: 3px 5px 4px 5px;
	background: #fff;
	color: #000;
	}


/* top buttons */

#topButtons {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px dotted #000;
	position: relative;
	}

/*#topButtons input {
	color: #fff;
	cursor: pointer;
	background: #02668e;
	font-size: 0.93em;
	}*/



/* bottom buttons */

#bottomButtons {
	margin: 0;
	padding: 10px 0 0 0;
	border-top: 1px dotted #000;
	position: relative;
	}

/*#bottomButtons input {
	color: #fff;
	cursor: pointer;
	background: #02668e;
	font-size: 0.93em;
	}*/


/*
------------------------------
image container
------------------------------
*/

.imageContainer {
	padding: 0;
	margin: 0 0 10px 0;
	text-align: center;
	}

.imageContainer img {
	border: 1px solid #333;
	margin: 0 0 5px 0;
	}



/*
---------------------------------------------
faq/help/view access details styles 
---------------------------------------------
*/

.camLogo {
	margin: 5px 0 0 10px;
	padding: 0;
	width: 130px;
	}

.noBordercontent {
	margin: 10px;
	padding: 0;
	}

.noBordercontent h1 {
	margin: 0 0 10px 0;
	padding: 5px;
	background: #f4f4f4;
	font-size: 1.1em;
	}

.noBordercontent h2 {
	color: #000000;
	border-bottom: 1px dotted #666;
	font-size: 1em;
	padding: 0 0 5px 0;
	}

.noBordercontent p {
	margin: 5px 0px 5px 5px;
	padding: 0;
	}

.noBordercontent p.answer {
	margin: 0px 5px 5px 0px;
	padding: 0 0 0 16px;
	}

.noBordercontent ul.index {
	margin: 0;
	padding: 0;
	}

.noBordercontent ul.index li {
	padding: 0 0 5px 18px;
	margin: 0 0 5px 5px;
	font-weight: bold;
	color: #000;
	}
	
.noBordercontent .normal_list ul       {margin: 0; padding: 10px 25px;}
.noBordercontent .normal_list ul li    {list-style-type: disc;}

/* navigation */
#navigation ul { margin: 6px 6px;}
#navigation ul li {font-size: 100%; list-style:none; display:inline; margin:0 0.7em;}
#navigation ul li a {color: #02668e; font-weight: bold;}
#navigation ul li a:hover {text-decoration:underline;}
#navigation ul li a.current_nav {color: #999;}
	
	/*-- Leftmenu Start --*/
	.leftmenu {
		background: #fafafa;
		padding: 10px;
		border: solid 1px #87949a;
		width: 180px;
		float: right;
		}
	.leftmenu h1{
		text-align:center;
		}
	.leftmenu ul {
		margin: 0px 0px 10px 0px;
		}
	.leftmenu ul li {		
		padding: 3px 16px;
		margin: 0;
		list-style:none;
		}
	
	/*-- Leftmenu End --*/

/* table */

.noBordercontent table {
	text-align: left;
	width: 100%;
	}

.noBordercontent table tr.shaded th {
	margin: 0;
	padding: 5px;
	background: #f4f4f4;
	font-weight: bold;
	}

.noBordercontent table tr th, .noBordercontent table tr td {
	border-top: 1px dotted #000000;
	padding: 8px 5px;
	font-weight: normal;
	}
	
	
/*--- CSS Sprite Links and Icons Start ---*/
	.icons_img {
		background: transparent url(../images/icons_img.png) 0 0 no-repeat;
		}
	
	.icons_img.arrow01              {background-position: -279px -68px; width: 11px; height: 11px; float:left;}
	.icons_img.button01             {background-position: -778px -70px; width: 11px; height: 11px; float:left;}		
	
	.icons_img.flag_portuguese      {background-position: -461px -139px; width: 25px; height: 16px; float:left; margin: 0 5px 0 0;}
	.icons_img.flag_spanish         {background-position: -491px -139px; width: 25px; height: 16px; float:left; margin: 0 5px 0 0;}
	.icons_img.flag_japanese        {background-position: -521px -139px; width: 25px; height: 16px; float:left; margin: 0 5px 0 0;}
	.icons_img.flag_chinese         {background-position: -551px -139px; width: 25px; height: 16px; float:left; margin: 0 5px 0 0;}
	.icons_img.flag_arabic          {background-position: -581px -139px; width: 25px; height: 16px; float:left; margin: 0 5px 0 0;}
/*--- CSS Sprite Links and Icons Start ---*/
	

/*
-------------------
footer
-------------------
*/

#footer {
	font-size: 90%;
	margin: 20px 0 0 0;
	}

#footer a {
	color: #000;
	font-weight: normal;
	}

#footer .copyright {
	padding: 10px 10px 10px 10px;
	margin: 0;
	background: #BBCCCC;
	position: relative;
	}

#footer .copyright ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#footer .copyright ul li {
	border-right: 1px solid #333;
	padding: 0 5px 0 0;
	margin: 0 0 0 5px; 
	display: inline;	
	}
	

/* 
------------------------------
Global Button
------------------------------
*/

div.form_button, 
div.form_button ul    {display: block; clear: both; overflow: hidden;}

div.form_button ul li {display: inline; list-style-type: none; float: left; margin: 0; padding: 0 2px;}
div.form_button ul li.button_disabled span a  {color: #003c54;}

div.form_button span {
	background: transparent url(../images/bot_leftbg.png) left top no-repeat; height: 16px; float: left; padding: 0 0 0 9px;}	
div.form_button span a {
	background: transparent url(../images/bot_rightbg.png) right top no-repeat; height: 16px; display: block; text-decoration: none; font-size: 100%; color: #fff; padding: 0 9px 0 0;}	

div.form_button span input {
	background: transparent url(../images/bot_rightbg.png) right top no-repeat; 
	display: block; 
	font-size: 100%; 
	color: #fff;
	margin: 0;
	padding: 1px 9px 2px 0; 
	cursor: pointer; 
	border: none;
	}
	
	
/* 
------------------------------
CSS Sprite Links and Icons
------------------------------
*/

.icons_img    {background: transparent url(../images/icons_img.png) 0 0 no-repeat;}	

.icons_img.icon_adobereader    {background-position: -598px -131px; width: 16px; height: 16px; float: left; padding: 0 0 0 5px;}
.icons_img.icon_goodreader     {background-position: -620px -131px; width: 16px; height: 16px; float: left; padding: 0 0 0 5px;}