/* 
-----------------------------------------
	Print CSS
	by: John Ryan Acoba
    User Interface Designer
-----------------------------------------
*/


/* 
------------------------------
Reset
------------------------------
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, dl, dt, dd, ol, ul, li, form, label, caption, table, th, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
/* 
------------------------------
Global
------------------------------
*/	

@charset "utf-8";

* {margin: 0; padding: 0;}

body   {background: #859298; font: normal 0.7em Tahoma, Geneva, sans-serif, Arial, Helvetica; color: #000; margin: 0; padding: 0; line-height: 1.5em;}

img              {border: 0;}
p                {padding: 10px 0;}
a, a:active      {color: #000; text-decoration: none;}
a:hover          {text-decoration: underline;}
table, tr, td    {vertical-align: top;}
ul               {list-style-type: none; margin: 0; padding: 0;}	
ol               {margin: 0; padding: 0 0 0 20px;}
ul li, ol li     {margin: 0; padding: 0;}

.clear    {clear:both;}
.fl       {float:left;}
.fr       {float:right;}

.class_inline ul li    {display: inline;}
.img_loader            {width: 208px; height: 13px;}
	
#top_container                                {background: #fff url(../images/bg_repeat_x.png) 0 -215px repeat-x; height: 100%;}	
#top_container #page-wrapper                  {padding: 0; margin: 0 auto; width: 901px;}
#top_container #page-wrapper #print_header    {display: block; font-size: 325%; font-weight: bold; color: #004059; margin: 40px 0; padding: 0;}

	
/* 
------------------------------
Header Content
------------------------------
*/	

#page-wrapper #page_container              {display: block; clear: both;}
#page-wrapper #page_container #toppanel    {display: block; float: none;}
	
#page-wrapper #page_container #toppanel #org_container     {display: none;}
#page-wrapper #page_container #toppanel #org_container #org_content            {margin: 8px 8px 0 8px; padding: 0;}	
#page-wrapper #page_container #toppanel #org_container #org_content p          {margin: 0; padding: 0; font-size: 100%; color: #fff;}		
#page-wrapper #page_container #toppanel #org_container #org_content img        {border: none; margin: 0 auto;}
#page-wrapper #page_container #toppanel #org_container #org_content a          {font-size: 100%; font-weight: bold; color: #fff; text-decoration: underline;}	
#page-wrapper #page_container #toppanel #org_container #org_content a:hover    {text-decoration: none;}

#page-wrapper #page_container #toppanel .login_container            {display: none;}
#page-wrapper #page_container #toppanel .login_container ul         {margin: 0; padding: 0;}
#page-wrapper #page_container #toppanel .login_container ul li      {display: inline; list-style-type: none;}
#page-wrapper #page_container #toppanel .login_container a          {font-size: 100%; color: #fff; text-decoration: none;}
#page-wrapper #page_container #toppanel .login_container a:hover    {text-decoration:underline;}

#page-wrapper #page_container #toppanel #cup_logo       {width: 130px; height: 37px; display: block; clear: both; position: absolute; top: 0; left: 0;}
#page-wrapper #page_container #toppanel #cbo_logo       {width: 390px; height: 40px; display: block; clear: both; position: absolute; top: 55px; left: 0;}
#page-wrapper #page_container #toppanel #cup_logo img,   
#page-wrapper #page_container #toppanel #cbo_logo img   {display: block;}

#page-wrapper #header_container    {display: none;}
#page-wrapper #header_container #search_container                            {position: relative; top: 137px; right: 10px; float: right;}
#page-wrapper #header_container #search_container div.form_button            {margin: 2px;}
#page-wrapper #header_container #search_container div.form_button span       {background: transparent url(../images/botsearch_leftbg.png) left top no-repeat;}
#page-wrapper #header_container #search_container div.form_button span a     {background: transparent url(../images/botsearch_rightbg.png) right top no-repeat;}
#page-wrapper #header_container #search_container ul                         {clear: both; margin: 0; padding: 6px 0 0 0;}
#page-wrapper #header_container #search_container ul li                      {display: inline; list-style-type: none;}
#page-wrapper #header_container #search_container span.input_checkbox input  {margin: 0 4px; padding: 0; width: auto; background: none; border: none;}		

#page-wrapper #header_container #search_container input {
	background: #fff url(../images/icons_img.png) right -128px no-repeat;
	font: normal 100% Tahoma, Geneva, sans-serif;
	color:#014e6c;
	width: 200px;
	padding: 3px;
	border: 1px solid #02668e;
	}
	
	
/* 
------------------------------
Topmenu
------------------------------
*/

.nav                  {font-size: 115%; margin: 128px 0 0 0; padding: 0; float: left;}	
.nav ul               {margin: 0; padding: 0; list-style: none;}
.nav ul li            {background: transparent; display: inline; float: left;}
.nav ul li a          {background: url(../images/topmenu_rightbg.png) right top no-repeat; text-decoration: none; color: #fff; padding: 7px 15px; margin: 0; float: left; display: block;}	
.nav ul li a:hover               {background-position: 100% -32px; text-decoration: none !important;}
.nav ul li.topmenu_active a      {background: url(../images/topmenu_rightbg.png) right top no-repeat; background-position: 100% -32px;}	

.nav ul li.topmenu_home          {background: url(../images/topmenu_leftbg.png) left top no-repeat; display: inline; float: left;}
.nav ul li.topmenu_home:hover    {background-position: 0 -32px;}
.nav ul li.topmenu_home a        {background: url(../images/topmenu_rightbg_home.png) right top no-repeat; text-decoration: none; color: #fff; padding: 7px 15px 7px 10px; margin: 0 0 0 10px; float: left; display: block;}
.nav ul li.topmenu_home a:hover  {background-position: 100% -32px;}

.nav ul li.topmenu_home_active   {background: url(../images/topmenu_leftbg.png) 0 -32px no-repeat; display: inline; float: left;}
.nav ul li.topmenu_home_active a {background: url(../images/topmenu_rightbg_home.png) 100% -32px no-repeat; text-decoration: none; color: #fff; padding: 7px 15px 7px 10px; margin: 0 0 0 10px; float: left; display: block;}



/* 
------------------------------
Main Content
------------------------------
*/
	
#main_container                  {margin: 125px 0 0 0; padding:16px 0; display: block; clear: both; float: left; min-height: 280px !important;}	
#main_container .downtime_alert  {background: #fd9b96; border: 1px solid #000; padding: 10px 15px;}
#main_container textarea         {resize: none;}
#main_container span.link_underlined a        {text-decoration: underline;}
#main_container span.link_underlined a:hover  {text-decoration: none;}
#main_container h1                            {font-size: 115%; font-weight: bold; color: #004059;}
#main_container h2                            {font-size: 125%; font-weight: bold; color: #004059;}
#main_container span.titlepage_heading h1     {font-size: 200%; font-weight: normal; color: #004059; margin: 0; padding: 10px 0 0 0;}

#main_container .access_information           {margin: 0; padding: 10px 0; float: left; width: 45%;} 
#main_container .access_information ul        {margin: 0; padding: 0;}
#main_container .access_information ul li     {display: inline; list-style-type: none; float: left; font-weight: bold; color: #999;}
#main_container .access_information strong    {font-size: 115%; margin: 0 0 5px 0; display: block;}
#main_container .access_information img       {display: none;}

#main_container #banner_series_container                    {background:url(../images/bg_banner02.jpg) repeat-y !important; float:left; margin:15px 0 0 0; width:901px;}
#main_container #banner_series_container .banner_wrapper04  {float:left; padding:10px 30px 0 30px; width:45%;}
#main_container #banner_series_container .banner_wrapper05  {float:left; padding:10px 30px 0 30px; width:40%;}

#main_container #banner_container                      {background: url(../images/bg_banner01.jpg) repeat-y !important; float:left; margin:15px 0 0 0; width: 901px;}
#main_container #banner_container .banner_wrapper01    {float:left; padding:10px 10px 0 50px; width:240px;}

#main_container #banner_container .signup_button      {margin: 10px 0; padding: 0;}
#main_container #banner_container .signup_button span {
	background: transparent url(../images/bot_signup_leftbg.png) left top no-repeat; 
	height: 28px; 
	float: left; 
	padding: 0 0 0 27px;
	}
#main_container #banner_container .signup_button span a {
	background: transparent url(../images/bot_signup_rightbg.png) right top no-repeat; 
	height: 28px; 
	display: block; 
	text-decoration: none; 
	font-size: 130%; 
	color: #fff; 
	padding: 4px 20px 0 0;
	}	
	
#banner_container .titlebanner_homepage,        
#banner_series_container .titlebanner_series          {background: #fff url(../images/icons_img.png) 0 -378px no-repeat; width: 901px; height: 42px; float: left;}	

#banner_container .titlebanner_homepage ul,
#banner_series_container .titlebanner_series ul       {margin: 0; padding: 0; font-size: 190%;}
	
#banner_container .titlebanner_homepage ul li         {display: inline; list-style-type: none; margin: 0; padding: 10px 0 10px 30px; width: 30%; float: left;}	
#banner_series_container .titlebanner_series ul li    {display: inline; list-style-type: none; margin: 0; padding: 10px 0 10px 30px; width: 45%; float: left;}	

#banner_container .titlebanner_topsearch              {font-size: 150%; background: #fff url(../images/icons_img.png) -640px -98px no-repeat; width: 251px; height: 24px; float: left;}

#main_container .thumb_landing          {padding: 0 12px 0 0;}
#main_container .thumb_landing ul li    {display: none;}	
#main_container .validate {
	background:#02729a;	
	border-bottom: 2px dotted #2a97b8;
	border-left: 2px solid #2a97b8;
	border-right: 2px solid #2a97b8;
	border-top: 2px solid #2a97b8;
	padding: 8px;
	color:#fff;
	}
	
/* --- Treelist Start ---*/	
div.subjectTree                         {margin: 10px 0 0 0; padding: 0;}
div.subjectTree ul                      {margin: 0 15px;} 
div.subjectTree ul li a.treeloader     {background:url(../images/circle_loading.gif) no-repeat; padding: 0 0 0 3px; float:left;  width: 16px; height: 16px;}
/* --- Treelist End ---*/	

/* --- Sitemap Start ---*/	
div.sitemap                         {margin: 0; padding: 0; color: #797979;}
div.sitemap .sitemap_rightcolumn,
div.sitemap .sitemap_leftcolumn     {float: left; width: 30%; margin: 0 15px;}
div.sitemap ul                      {margin: 10px 15px;} 
div.sitemap ul li ul                {margin: 0 15px;}
div.sitemap ul li a.treeloader      {background:url(../images/circle_loading.gif) no-repeat; padding: 0 0 0 3px; float:left; width: 16px; height: 16px;}
div.sitemap ul li strong            {font-size: 115%; color: #000;}           
/* --- Sitemap End ---*/
	
#content_wrapper01  {background:#f4f4f4; display: block; clear: both;}
#content_wrapper02  {background:#fff; margin:18px 0 0 0; padding:25px 0 0 10px;}
	
#content_wrapper03         {margin:0 8px 0 0; float: right;}
#content_wrapper03 strong  {color: #02668e;}
#content_wrapper03 label   {font-weight: bold;}
	
.content_wrapper04    {background:#fafafa; border-bottom: #f4f4f4 solid 2px; margin: 22px 0 0 0; padding: 12px 12px;}	
.content_wrapper05    {background:#fafafa; border-bottom:#f4f4f4 solid 2px; margin: 0; padding: 12px 12px;}
	
#content_wrapper07    {background:#fafafa; margin: 2px 0 0 0; padding: 12px 12px;}	
#content_wrapper09    {margin:0 0 0 10px; clear: both; float:left;}	
#content_wrapper10          {background:#fafafa; border-bottom:#f4f4f4 solid 2px; margin: 0; padding:1px 10px;}
#content_wrapper10 a        {font-size: 100%; font-weight: bold; color: #02668e; text-decoration: none;}
#content_wrapper10 a:hover  {text-decoration: underline;}
	
#bordergrid_container    {background: transparent url(../images/bg_repeat_x.png) 0 0 repeat-x; display: block; clear: both; padding:8px 0 0 6px; height: 26px;}

.page_controller         {display: block; clear: both;}
.page_controller label   {font-size: 115%; font-weight: bold;}

#bordergrid_container .border_divider01,      
.page_controller .border_divider01                 {float:left; vertical-align:top; padding-left:4px;}
#bordergrid_container .border_divider02,
.page_controller .border_divider02                 {float:left; vertical-align:top; padding-left:8px;}
#bordergrid_container .border_divider03,  
.page_controller .border_divider03                 {float:right; padding:0 6px 0 0;}		
#bordergrid_container .border_divider03 a,
.page_controller .border_divider03 a               {font-size: 115%; color: #02668e; text-decoration: none;}
#bordergrid_container .border_divider03 a:hover,
.page_controller .border_divider03 a:hover         {background:#01b3e9; color:#fff;}

#bordergrid_container #go_button_container,
.page_controller #go_button_container              {float:left; vertical-align:top; padding:3px;}	

#bordergrid_container #alphalist_horizontal              {margin: 0; padding: 0; display: block; clear: both;}
#bordergrid_container #alphalist_horizontal ul           {width: 100%; float:left; overflow:hidden; padding: 0; margin: 2px;}
#bordergrid_container #alphalist_horizontal li           {float:left; font-size: 115%; font-weight: normal; text-align:center; text-decoration:none; color:#999; display:inline; padding: 0 11px;}
#bordergrid_container #alphalist_horizontal li a         {font-weight: bold; color:#02668e;}
#bordergrid_container #alphalist_horizontal li a:hover   {text-decoration:none; background: #01b3e9;	color: #fff;}

.series_alphalist_container          {background: transparent url(../images/icons_img.png) 0 -105px no-repeat; width: 391px; height: 50px; float:left;}	
.series_alphalist_container ul       {width:400px; float:left; overflow:hidden; margin: 0; padding: 6px 0 0 8px;}
.series_alphalist_container ul li    {float:left; font-size: 100%; font-weight: normal; text-align:center; text-decoration:none; color:#999; display:block; width:28px; height:22px; margin:0 1px 1px 0;}
.series_alphalist_container ul li a          {font-size: 100%; font-weight: bold; text-align:center; text-decoration:none; color:#fff; display:block; width:28px; height:22px; margin:0 1px 1px 0;}
.series_alphalist_container ul li a:hover    {color: #01b3e9;}
		
.div_search_info      {background:url(../images/bg_info_divider.jpg) repeat-y; padding-left: 40px;}
.div_search_info p    {margin: 0; padding: 5px 0;}
.div_search_info .search_info_item a          {font-size: 115%; font-weight: bold; text-decoration: underline;}
.div_search_info .search_info_item a:hover    {text-decoration: none;}

.div_book_info                         {vertical-align:top;}
.div_book_info ul li                   {margin: 0; padding: 2px 0;}	
.div_book_info ul li.disabled_link     {display: none;}
.div_book_info ul li.disabled_link a   {font-size: 100%;}
.div_book_info p                       {margin: 0; padding: 5px 0; clear: both;}
.div_book_info h3                      {font-size: 130%; font-weight: normal;}
.div_book_info h5                      {font-size: 115%; font-weight: bold; color:#4c5356; clear: both;}

	
/* 
------------------------------
Tabmenu for page landing
------------------------------
*/

	.tabMenu      {display: none;}
	.tabMenu li   {margin: 0; padding: 0; float: left;}
	.tabMenu li a {
		font-size: 125%; font-weight: bold; color: #000; text-decoration: none; text-align: center; float: left; width: 175px; height: 27px; cursor: pointer; cursor: hand; padding: 6px 0 0 0;}
	.tabMenu li a:hover    {text-decoration: none;}
	
	li.tab_rounded a    {background: url(../images/tab_rounded.png) no-repeat 0 -33px;}
	li.tab_divider a    {background: url(../images/tab_divider.png) no-repeat 0 -33px;}
	
	li.mouseover a  {background-position:0 0;}
	li.mouseout a   {background-position:0 -33px;}
	li.selected a   {background-position:0 0;}
	
	.border_container {width:901px;}
	.boxTop {background: #fff url(../images/icons_img.png) 0 -340px no-repeat; display: block; width: 901px; height: 33px;}
	*html .boxTop {margin-bottom:-2px;}
	.boxBody {
		background: #fff url(../images/bg_table.jpg) repeat-y;
		padding:0 0 10px 0;
		min-height:350px; !important
		}
		
	.boxBottom {background:#87949a; height:13px;}
	
	.boxBody div         {display:none;}	
	.boxBody div.show,
	.boxBody .tabbing a  {display:block;}
	
	.boxBody div ul {margin: 0 18px; padding:25px 0 0 0; width:850px; }	
	*html .boxBody div ul {margin-left:10px; padding-left:15px;}
	.boxBody div li {border-bottom:1px solid #b0c0c7; padding:4px 0;}
	.boxBody div ul li.last {border-bottom:none;}
	
	.boxBody div p {clear:both; margin: 0 18px; padding:20px 0 0 0; width:850px;}	
	
	.boxBody div span.double_quote         {display: none;}
	
	.boxBody div dl                        {clear:both; margin: 0 20px; padding: 10px 0;}
	
	.boxBody div dl.volume_list            {clear:both; margin: 0 20px; padding: 10px 0; width: 98% !important;}	
	.boxBody div dl.volume_list dl         {border-bottom: 1px solid #d0cfce; margin: 0; padding: 10px 0; float: left; width: 98% !important;}
	.boxBody div dl.volume_list dl p       {margin: 0; padding: 0;}
	.boxBody div dl.volume_list dl a       {font-weight: bold;}
	.boxBody div dl.volume_list dl dt      {width: 30%; float: left; margin: 10px 10px 0 0; padding: 0;}
	.boxBody div dl.volume_list dl dt p    {margin: 0; padding: 0; width: auto;}	
	.boxBody div dl.volume_list dl h3      {font-size: 130%; font-weight: normal;}
	
	.boxBody div p.blurb {
		background: transparent url(../images/bg_repeat_x.png) 0 -348px repeat-x;
		width: 810px;		
		height: 60px;
		margin: 18px 18px; 
		padding: 15px 20px 25px 20px;
		text-indent: 75px;
		font-size: 115%;
		font-weight: bold;
		line-height: 20px;
		}
	.boxBody div p.comments { 
		background: transparent url(../images/bg_repeat_x.png) 0 -348px repeat-x;
		margin: 18px 18px; 
		padding:15px 20px 20px 20px; 
		width:810px; 		
		}		
	.boxBody div p.comment_title { 
		background: transparent url(../images/bg_repeat_x.png) 0 -348px repeat-x;
		margin: 0 18px; 
		padding:15px 20px 10px 20px; 
		width:810px;
		font-size: 125%;
		}	
	.boxBody div dl.comment_list { 
		margin: 0 18px; 
		padding: 0 20px 15px 20px; 
		width:810px;
		}
	.boxBody div dl.comment_list dt {
		padding: 5px 0;
		width:810px;
		}
	
	.boxBody div.arrow_05 ul            {display: none;}
	.boxBody div.arrow_05 ul li         {display:inline;}	
	.boxBody div.arrow_05 a             {background: none; text-decoration:underline; margin: 0; border: 0;	padding: 0;}
	.boxBody div.arrow_05 a:hover       {text-decoration: none;}
	.boxBody div.arrow_05 li a          {background: transparent url(../images/icons_img.png) -501px -124px no-repeat; text-decoration: none; margin: 0; border: 0; padding: 0 12px; float: left;}
	.boxBody div.arrow_05 li a:hover    {text-decoration: underline;}
	
	.boxBody div .text_indent_lev01 { padding: 8px 0 8px 15px;}
	.boxBody div .text_indent_lev02 { padding: 8px 0 8px 30px;}
		
	.boxBody div table {margin: 0 25px; padding: 25px 0 0 0; width: 850px; }
	.boxBody div td {border-bottom:1px solid #b0c0c7; padding:8px 0; letter-spacing:0;}
	.boxBody div td.toc_number {font-weight:bold; border-bottom:1px solid #b0c0c7; padding:0 1px; vertical-align:middle;}
	.boxBody div table tr.hide td  {display: none;}
	.boxBody div td a              {font-size: 100%; font-weight: normal; text-decoration: none;}
	.boxBody div td a:hover        {background:none; text-decoration: underline;}
		
	.boxBody div td span.contributor     {margin:0; padding:0; border: 0; clear:both; display: block;}	
	.boxBody div td ul.pdf_container     {display: none;}
	.boxBody div td ul.pdf_container li  {list-style-type: none; display: inline; margin: 0; padding: 0 5px; border: 0; background: none; float: left;}
		
	.boxBody div .disabled_link, .disabled_link    {display: none;}		
	.boxBody div .disabled_link a, .boxBody div .disabled_link a:hover {font-size: 100%; font-weight: normal; color:#859298; text-decoration: none;}
	
	.boxBody div p.title_container                                      {display: none;}
	.boxBody div p.title_container span.chapter_nav                     {margin: 0; padding: 0; position: absolute; right: 15px;}
	.boxBody div p.title_container span.chapter_nav a                   {margin: 0; padding: 0 12px; font-size: 200%; color: #fff; text-decoration: none; background: #016690; border: 1px solid #000;}
	.boxBody div p.title_container span.chapter_nav a:hover             {background: #bdccd3; border: 1px solid #87949a;}
	.boxBody div p.title_container span.chapter_nav span.hide_text      {display: none;}
		
	.boxBody div .extractImage    {padding-left:100px;}		

	
/* 
------------------------------
Navigation
------------------------------
*/

.searchWord { 
	background: #99ccff;	
	padding: 0 3px;	
	border-radius: 5px;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	}
	
	/*-- Leftmenu Start --*/
	#main_container .menu         {margin: 10px 0; border: solid 1px #87949a; width: 180px;	float: right;}
	#main_container .menu h2      {background: #fafafa url(../images/bg_repeat_x.png) 0 -90px repeat-x; font-size: 90%; color:#000; padding: 6px 0 10px 5px;}
	#main_container .menu ul      {background: #fafafa; padding: 0 10px;}
	#main_container .menu ul li   {margin: 0; padding: 5px 0; list-style:none;}
	
	.text_01, .text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a, .text_01 a:link, .text_01 a:active, .text_01 a:visited {
		color: #02668e;
		text-decoration: none;
		}
	.text_01 a:hover {
		color: #000;
		}
	/*-- Leftmenu End --*/


/* 
------------------------------
CSS Right Menu
------------------------------
*/	

#rightmenu_wrapper    {display: none;}

#rightmenu_wrapper .rightmenu_recommend                 {display: block; clear: both;}
#rightmenu_wrapper .rightmenu_recommend ul              {margin: 10px 0; padding: 0; float: right;}
#rightmenu_wrapper .rightmenu_recommend ul li           {list-style-type: none; margin: 0; padding: 2px 0; font-weight: bold; color: #900;}
#rightmenu_wrapper .rightmenu_recommend ul li a         {font-weight: bold; color: #02668e; text-decoration: none;}
#rightmenu_wrapper .rightmenu_recommend ul li a:hover   {text-decoration: underline;}
	
.rightmenu            {float: right; margin: 0; padding: 0; width: 198px; border: solid 1px #000; position: relative !important;}
.rightmenu a.menuitem {	
	background: transparent url(../images/bg_repeat_x.png) 0 -127px repeat-x;
	height: 14px;
	border-bottom: 1px solid #000;
	font-size: 100%; 
	font-weight: normal;
	color: #fff;
	display: block;
	position: relative;	
	padding: 6px 0;
	padding-left: 10px;
	text-decoration: none;
	}
.rightmenu a.menuitem:visited      {color: #fff;}	
.rightmenu .menuitem:active        {color: #000;}
.rightmenu a.menuitem:hover        {background: transparent url(../images/bg_repeat_x.png) 0 -171px repeat-x; height: 14px; color: #000;}
.rightmenu a.menuitem .statusicon  {position: absolute; left: 4px; border: none;}

.rightmenu div.submenu           {background: #fff;}
.rightmenu div.submenu ul        {list-style-type: none; margin: 0; padding: 0;}
.rightmenu div.submenu ul li     {border:0;}
.rightmenu div.submenu ul li a   {display: block; background: #fff; font-size: 100%; font-weight: normal; border-bottom: #b0c0c7 1px dotted;	text-decoration: none; padding: 4px 0 4px 10px;}
.rightmenu div.submenu ul li a:hover, 
.rightmenu div.submenu ul li a:active   {text-decoration: none; color: #01b1eb;}


/* 
------------------------------
Footer Content
------------------------------
*/	

.footer_container                        {background: transparent url(../images/bg_repeat_x.png) 0 -39px repeat-x; height: 46px;}
.footer_container .footer_wrapper        {padding-top: 10px; width: 901px; margin: 0 auto;}
.footer_container .footer_wrapper img    {display: none;}

.footer_menuwrapper                {display: none;}
.footer_menuwrapper ul             {margin: 0; padding: 0 0 5px 0;}
.footer_menuwrapper ul li          {display: inline; list-style-type: none;}
.footer_menuwrapper ul li a        {font-size: 100%; color: #434f57; text-decoration: underline;}	
.footer_menuwrapper ul li a:hover  {text-decoration: none;}	


/* 
------------------------------
Faceted Search
------------------------------
*/	

.boxBody_faceted {
		background: #fff;
		margin: 0;
		padding: 0;
		font-size: 90%;
		min-height:350px; !important
		}
.boxBody_faceted .left_control ul             {background: #bfcfd6; border-top: 1px solid #87949a; border-bottom: 1px solid #87949a; padding: 4px 0; width: 100%; height: 15px;}
.boxBody_faceted .left_control ul li          {list-style-type: none; display: inline;}
.boxBody_faceted .left_content_container      {background: #fafafa; border-left: 1px solid #87949a; border-right: 1px solid #87949a; width: 235px; float: left;}
.boxBody_faceted .left_content ul             {margin: 10px 10px;}
.boxBody_faceted .left_content ul li          {display: block; clear: both;}   
.boxBody_faceted .left_content ul li input    {margin: 0 5px 0 0; float: left;}

.boxBody_faceted div.alert_msg {width: 655px; margin: 0 0 0 5px; float: left; font-weight: bold; color: #900;}

.boxBody_faceted .left_content ul.leftmenu_form li a    {float: left; width: 90%;}

.boxBody_faceted .left_content ul li.arrow_view_more a      {background: transparent url(../images/icons_img.png) -525px -108px no-repeat; width: 70px; height: 12px; float: left;}
.boxBody_faceted .left_content ul .hide_list                {display: none;}
.boxBody_faceted .left_content ul.remove_bot                {margin: 15px 10px 0 10px;}
.boxBody_faceted .left_content ul.remove_bot li             {list-style-type: none; display: block; margin: 6px 0;}
.boxBody_faceted .left_content ul.remove_bot li a           {text-decoration: none; background: #bfcfd6; color: #000; border: 1px solid #87949a; padding: 2px 5px;}
.boxBody_faceted .left_content ul.remove_bot li a:hover     {background: #016690; border: 1px solid #000; color: #fff;}

.boxBody_faceted .left_content .did_you_mean_container       {margin: 0; padding: 10px;}
.boxBody_faceted .left_content .did_you_mean_container h1    {font-size: 100%; font-weight: bold; color: #900;}
.boxBody_faceted .left_content .search_related_container h2            {font-size: 100%; font-weight: bold; color: #900;}
.boxBody_faceted .left_content .search_related_container               {margin: 0; padding: 0 10px;}
.boxBody_faceted .left_content .search_related_container ul            {margin: 0; padding: 0;}
.boxBody_faceted .left_content .search_related_container ul li span    {font-weight: bold;}

.boxBody_faceted .right_control ul             {background: #bfcfd6; border-top: 1px solid #87949a; border-bottom: 1px solid #87949a; padding: 4px 0; width: 100%; height: 15px;}
.boxBody_faceted .right_control ul li          {list-style-type: none; display: inline;}
.boxBody_faceted .right_control ul li.control_divider01   {padding: 0 4px; float: left;}
.boxBody_faceted .right_control ul li.control_divider02   {float: left;}
.boxBody_faceted .right_control ul li.control_divider03   {padding: 0 10px; float: right;}
.boxBody_faceted .right_control ul li select   {font-size: 90%; padding: 1px}
.boxBody_faceted .right_control ul li input    {font-size: 90%; padding: 1px}
.boxBody_faceted .right_content_container      {background: #fafafa; border-left: 1px solid #87949a; border-right: 1px solid #87949a; width: 655px; margin: 0 0 0 5px; float: left;}

.boxBody_faceted .right_content                        {margin: 5px 5px;}
.boxBody_faceted .right_content span.searchWord {
	background: #3397fa; color: #fff; padding: 0 3px; border-radius: 0; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important;}
	
.boxBody_faceted .right_content .ebook_list            {background: #fafafa; border: 1px solid #e6e4e4; padding: 10px;}
.boxBody_faceted .right_content .ebook_list ul li      {list-style-type: none;}
.boxBody_faceted .right_content .ebook_list ul li.list_type a           {font-weight: bold; text-decoration: underline;}
.boxBody_faceted .right_content .ebook_list ul li.list_type a:hover     {text-decoration: none;}

.boxBody_faceted .right_content .ebook_list .show_all_container p                {float: left; padding: 2px 0;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul               {width: 30%; float: right;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul li            {list-style-type: none; width: 100%; padding: 4px 0; float: left;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul li a          {font-weight: bold; text-decoration: none; float: right;}
.boxBody_faceted .right_content .ebook_list .show_all_container ul li a:hover    {text-decoration: none; color: #000;}

.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist     {margin-left: 25px;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist li  {padding: 5px 0;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist li.chapter_name a           {font-weight: normal; text-decoration: underline;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist li.chapter_name a:hover     {text-decoration: none;}
.boxBody_faceted .right_content .ebook_list ul.ebook_chapterlist .hide_chapterlist           {display: none;}

.boxBody_faceted .right_content .ebook_list .ebook_info ul         {margin: 0; padding: 0; float: left; width: 45%;}
.boxBody_faceted .right_content .ebook_list .ebook_info ul li      {list-style-type: none;}

.boxBody_faceted .right_content .journal_list            {background: #fafafa; border: 1px solid #e6e4e4; padding: 10px;}
.boxBody_faceted .right_content .journal_list ul li      {list-style-type: none;}
.boxBody_faceted .right_content .journal_list ul li.list_type a           {font-weight: bold; text-decoration: underline;}
.boxBody_faceted .right_content .journal_list ul li.list_type a:hover     {text-decoration: none;}

.boxBody_faceted .right_content .journal_list .journal_preview ul            {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview ul li         {list-style-type: none; display: inline; background: #bfcfd6; color: #000; border: 1px solid #87949a; padding: 2px 4px;}
.boxBody_faceted .right_content .journal_list .journal_preview ul li:hover   {background: #67b5f9; border: 1px solid #000;}
.boxBody_faceted .right_content .journal_list .journal_preview ul li a       {font-weight: normal; text-decoration: none; color: #000;}
.boxBody_faceted .right_content .journal_list .journal_preview p             {border: 1px solid #87949a; margin: 0; padding: 4px 8px;}
.boxBody_faceted .right_content .journal_list .journal_preview p.hide_preview   {display: none;}

.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract         {border: 1px solid #87949a; padding: 5px 10px;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract ul      {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract ul li   {list-style-type: none; display: block; background: none; border: none; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract p       {margin: 0; padding: 0; border: none;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery       {background: #bfcfd6; border: 1px solid #87949a; width: 45%; margin: 5px; padding: 10px; float: right;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery ul       {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery ul li a        {list-style-type: none; display: inline; padding: 0; color: #394159;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .authorQuery ul li a:hover  {text-decoration: underline;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract h3                       {font-size: 100%; font-weight: bold;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract h3.bold,
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract p.section-title          {font-size: 100%; font-weight: bold; display: block; padding: 10px 0 0 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .description-box ul      {margin: 0; padding: 0;}
.boxBody_faceted .right_content .journal_list .journal_preview .preview_abstract .description-box ul li   {list-style-type: none; display: inline; background: none; border: none; padding: 0;}

.boxBody_faceted .right_control div.form_button span,
.boxBody_faceted .left_control div.form_button span      {background: transparent url(../images/botfaceted_leftbg.png) left top no-repeat;}
.boxBody_faceted .right_control div.form_button span a,
.boxBody_faceted .left_control div.form_button span a    {background: transparent url(../images/botfaceted_rightbg.png) right top no-repeat;}


	

/* 
------------------------------
CSS Sprite Links and Icons
------------------------------
*/

.icons_img    {background: transparent url(../images/icons_img.png) 0 0 no-repeat;}	

.icons_img.crossref                {background-position: 0 -32px; width: 85px; height: 31px; float:left;}
.icons_img.acap                    {background-position: -90px -32px; width: 35px; height: 31px; float:left; margin: 0 2px;}
.icons_img.cup_logo                {background-position: -130px -32px; width: 141px; height: 31px; float: right;}
.icons_img.bot_signup              {background-position: -278px -32px; width: 136px; height: 26px; float:left; margin: 12px 0;}
.icons_img.banner_bottom           {background-position: 0 0; width: 901px; height: 22px; float:left;}

.icons_img.icon_alert              {background-position: -600px -94px; width: 30px; height: 32px; float: left; margin: 0 5px 0 0;}

.breadcrumbs_container                {display: none;}
.breadcrumbs_container ul             {margin: 0; padding: 0 0 10px 0;}
.breadcrumbs_container li             {float:left; display: inline;}
.icons_img.breadcrumbs                {background-position: -316px -67px; width: 12px; height: 12px; float:left; margin: 0 0 0 8px;}
.icons_img.breadcrumbs_divider        {background-position: 0 -425px; width: 901px; height: 5px; display: block; clear: both;}

.icons_img.bullet01             {background-position: -247px -67px; width: 11px; height: 11px; float:left;}
.icons_img.bullet02             {background-position: -778px -68px; width: 11px; height: 11px; float:left;}
.icons_img.arrow01              {background-position: -279px -67px; width: 11px; height: 11px; float:left;}
.icons_img.arrow02              {background-position: -262px -67px; width: 11px; height: 11px; float:left;}
.icons_img.arrow03              {background-position: -297px -67px; width: 14px; height: 14px; float:left;}
.icons_img.arrow04              {background-position: -760px -70px; width: 14px; height: 14px; float:left;}

.icons_img.enlarge                   {background-position: -333px -67px; width: 15px; height: 15px; float:left;}
.icons_img.recommend                 {background-position: -354px -69px; width: 16px; height: 16px; float:left; padding: 0 0 0 5px;}
.icons_img.add_notes                 {background-position: -466px -105px; width: 14px; height: 15px; float:left; padding: 0 0 0 5px;}
.icons_img.highlight_text            {background-position: -416px -125px; width: 16px; height: 16px; float:left; padding: 0 0 0 2px;}
.icons_img.pdf_highlight             {background-position: -437px -124px; width: 23px; height: 14px; float:left;  padding: 0 0 0 5px;}
.icons_img.pdf_highlight_disabled    {background-position: -437px -105px; width: 23px; height: 14px; float:left;  padding: 0 0 0 5px;}
.icons_img.no_recommend              {background-position: -396px -125px; width: 16px; height: 16px; float:left; padding: 0 0 0 5px;}
.icons_img.print                     {background-position: -375px -69px; width: 16px; height: 16px; float:left; padding: 0 0 0 5px;}
.icons_img.pdf_on                    {background-position: -572px -74px; width: 20px; height: 20px; float:left;}
.icons_img.pdf_off                   {background-position: -597px -74px; width: 20px; height: 20px; float:left;}
.icons_img.download_excel                {background-position: -849px -72px; width: 17px; height: 15px; float:left; padding: 0 0 0 5px;}
.icons_img.download_csv                  {background-position: -871px -72px; width: 17px; height: 15px; float:left; padding: 0 0 0 5px;}
.icons_img.download_excel_disabled       {background-position: -395px -105px; width: 17px; height: 15px; float:left; padding: 0 0 0 4px;}
.icons_img.download_csv_disabled         {background-position: -416px -105px; width: 17px; height: 15px; float:left; padding: 0 0 0 4px;}
.disabled_link a    {font-size: 115%; text-decoration: none; color: #859298;}
.pdf_link a         {display: none;}

.icons_img.access               {background-position: -621px -74px; width: 20px; height: 20px; float:left; margin: 0 6px;}
.icons_img.purchase             {background-position: -648px -74px; width: 20px; height: 20px; float:left; margin: 0 6px;}
.access img, .purchase img      {display: none;}

.icons_img.rss_on               {background-position: -678px -72px; width: 18px; height: 16px; float:left;}
.icons_img.rss_off              {background-position: -700px -72px; width: 18px; height: 18px; float:left;}
.icons_img.comment              {background-position: -793px -73px; width: 22px; height: 20px; float:left;}
.icons_img.winner               {background-position: -820px -74px; width: 22px; height: 20px; float:left;}

.icons_img.access_faceted       {background-position: -621px -74px; width: 20px; height: 20px; float: right;}
.icons_img.purchase_faceted     {background-position: -648px -74px; width: 20px; height: 20px; float: right;}
.access_faceted img,
.purchase_faceted img           {display: none;}

.icons_img.tree_plus            {background-position: -722px -70px; width: 14px; height: 14px; float:left;}
.icons_img.tree_minus           {background-position: -741px -70px; width: 14px; height: 14px; float:left;}

.icons_img.delicious            {background-position: -401px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.connotea             {background-position: -425px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.bibsonomy            {background-position: -449px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.digg                 {background-position: -474px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.reddit               {background-position: -499px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.facebook             {background-position: -524px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}
.icons_img.addthis              {background-position: -548px -74px; width: 16px; height: 16px; float:left; margin: 0 6px 0 0;}


/* 
------------------------------
Form style
------------------------------
*/	

	.form_admin table tr td {padding: 0 5px;}
	.form_admin table tr td input,
	.register_field, .title_field   {background:#f4f4f4; margin: 0 0 10px 10px; font-size: 1.1em; color:#000; width: 250px; padding: 3px;}
	
	.input_01{
		background:#f4f4f4;
		margin-bottom:10px;
		font: normal 1.1em Tahoma, Geneva, sans-serif;
		color:#000;
		width: 150px;
		padding:3px;
		}
	.select_01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		background:#fff;
		padding: 1px;	
		margin: 0;
		}
	.select_02, .options{
		background:#f4f4f4;
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		padding:1px;	
		margin:0 0 10px 0;
		}
		select#countries, select#state, select#country, select#type, select#county{
			background:#f4f4f4;
			font: normal 1.2em Tahoma, Geneva, sans-serif;
			padding:1px;	
			margin:0 0 10px 10px;
			}
	.checkbox01{
		font: normal 1.2em Tahoma, Geneva, sans-serif;
		background:#fff;	
		margin:0;
		}
	.border { border-top: #000 1px dotted; padding-bottom:20px; }
	input.button {		
		background: #026e97;
		font-size: 1.0em;
		padding:2px;
		color: #fff;
		cursor: pointer;		
		}
	input.button_disabled {		
		background:#999;
		font-size: 1.0em;
		padding:2px;
		color:#666;
		cursor: pointer;
		}
	.advanced_search_checkbox ul     {margin: 5px 0; padding: 0;}
	.advanced_search_checkbox ul li  {display: inline; list-style-type: none; padding: 0 5px 0 0;}
	


/* 
------------------------------
Global Button
------------------------------
*/

div.form_button ul li {display: inline; list-style-type: none; float: left; margin: 0; padding: 0 2px;}

div.form_button span {
	background: transparent url(../images/bot_leftbg.png) left top no-repeat; height: 16px; float: left; padding: 0 0 0 9px;}	
div.form_button span a {
	background: transparent url(../images/bot_rightbg.png) right top no-repeat; height: 16px; display: block; text-decoration: none; font-size: 100%; color: #fff; padding: 0 9px 0 0;}	

div.form_button span input {
	background: transparent url(../images/bot_rightbg.png) right top no-repeat; 
	display: block; 
	font-size: 100%; 
	color: #fff;
	margin: 0;
	padding: 1px 9px 1px 0; 
	cursor: pointer; 
	border: none;
	}