/* 
-----------------------------------------
	Template CSS
	by: John Ryan Acoba
    User Interface Designer
-----------------------------------------
*/


/* 
------------------------------
Reset
------------------------------
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, dl, dt, dd, ol, ul, li, form, label, caption, table, th, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
/* 
------------------------------
Global
------------------------------
*/	

@charset "utf-8";

* {margin: 0; padding: 0;}

body   {background: #04587a; font: normal 0.7em Tahoma, Geneva, sans-serif, Arial, Helvetica; color: #000; margin: 0; padding: 0; line-height: 1.5em;}

img              {border: 0;}
p                {padding: 10px 0;}
a                {color: #004059; text-decoration: none;}
a:hover          {text-decoration: underline;}
table, tr, td    {vertical-align: top;}
ul               {list-style-type: none; margin: 0; padding: 0;}	
ol               {margin: 0; padding: 0 0 0 20px;}
ul li, ol li     {margin: 0; padding: 0;}

.clear    {clear:both;}
.fl       {float:left;}
.fr       {float:right;}

.class_inline ul li    {display: inline;}
.img_loader            {width: 208px; height: 13px;}
	
#top_container                                {background: #fff url(../images/bg_repeat_x.png) 0 -215px repeat-x; height: 100%;}	
#top_container #page-wrapper                  {padding: 0; margin: 0 auto; width: 901px;}
#top_container #page-wrapper #print_header    {display: none;}




#org_container     {background: #04587a; margin: 0; float: none; width: 480px; height: 75px;}
#org_container #org_content            {margin: 0; padding: 8px 0 0 8px; overflow: hidden;}	
#org_container #org_content p          {margin: 0 0 5px 90px; padding: 0; font-size: 100%; color: #fff;}		
#org_container #org_content p.orgname_container {padding: 0 0 10px 0; border-bottom: 1px dashed #999;}
#org_container #org_content img        {border: none; margin: 0 auto; padding: 5px 0 0 0; float: left;}
#org_container #org_content a          {font-size: 100%; font-weight: bold; color: #fff; text-decoration: underline;}	
#org_container #org_content a:hover    {text-decoration: none;}