/* 
----------------------------------------
Cambridge Books Online
CSS document
Modified Date: 11 May 2009
Modified By: Anne Madridejo
----------------------------------------
*/



/* 
------------------------------
html styles
------------------------------
*/

body {
background: #FFFFFF;
color: #000000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 70%;
margin: 0;
padding: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
margin: 0;
padding: 0;
}

form {
margin: 0;
padding: 0;
}

img {
border: none;
margin: 0;
padding: 0;
}

/* 
------------------------------
standard link styles
------------------------------
*/

a {
color: #333333;
text-decoration: none;
font-weight: bold;
}

a:hover {
text-decoration: underline;
}

a:active {
color: #333333;
text-decoration: none;
}


/* 
------------------------------
tools
------------------------------
*/

input, textarea, select {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
margin: 0;
padding: 0;
}

/* input classes */

input.button {
color: #000000;
cursor: pointer;
background: #FFFFFF;
font-size: 0.93em;
}

input.inputField  {
margin: 0;
padding: 0;
width: 120px;
}

select.options {
padding: 0;
margin: 0;
font-weight: bold;
font-size: 90%;
}

select.sort {
padding: 0;
margin: 0;
font-size: 90%;
}

.clear {
clear: both;
margin: 0;
padding: 0;
}


/* 
------------------------------
header
------------------------------
*/

#header {
margin: 1px 0 0 0;
padding: 0;
width: 100%;
background: #E2F3F0 url(../images/title_bg.jpg) 0 37px no-repeat;
height: 113px;
}

/*#header {
margin: 1px 0 0 0;
padding: 0;
width: 100%;
background: #D7E6E6 url(../images/temp_header.jpg) 0 0 no-repeat;
height: 101px;
}*/

/*  top navigation  */

#topNav {
float: right;
margin: 0;
padding: 55px 0 10px 0;
text-align: right;
background: transparent url(../images/title_bg_right.jpg) right 0 no-repeat;
}

#topNav ul {
margin: 0;
padding: 0;
}

#topNav ul li {
display: inline;
margin: 0 15px 0 0;
padding: 0px 0 0 12px;
background: transparent url(../images/topnav_bg.gif) 3px 5px no-repeat;
}

/*  strip  */

#utilities {
background: #8F9999;
padding: 0;
margin: 0;
font-size: 90%;
text-align: right;
}

#utilities a {
color: #FFF;
}

#utilities ul {
margin: 0 10px 0 0;
padding: 20px 0 0 0;
height: 17px;
}

#utilities ul li {
padding: 0 10px 0 0;
margin: 0 3px 0 0;
display: inline;
background: transparent url(../images/strip_colon.jpg) right 4px no-repeat;
}

#utilities ul li.last {
background: none;
padding: 0 5px 0 0;
margin: 0;
}


/* title */

#title {
padding: 0;
margin: 0;
}

.camLogo {
margin: 0;
padding: 0;
width: 130px;
float: left;
}

.cboTitle {
margin: 0;
padding: 15px 0 0 0;
width: 10px;
position: absolute;
left: 26%;
}


/* 
------------------------------
crumbtrail
------------------------------
*/

#crumbtrail {
margin: 0;
padding: 8px 0;
border-bottom: 1px solid #CCC;
font-size: 90%;
}

#crumbtrail a {
font-weight: normal;
text-decoration: underline;
color: #666;
}

#crumbtrail a:hover {
text-decoration: none;
}

#crumbtrail ul {
margin: 0 0 0 15px;
padding: 0;
}

#crumbtrail ul li {
margin: 0 5px 0 0;
padding: 0 13px 0 0;
background: #FFF url(../images/crumbtrail_arrow.jpg) right 3px no-repeat;
display: inline;
color: #666;
}

#crumbtrail ul li.last {
background: none;
}


/* 
------------------------------
content styles
------------------------------
*/

#content {
padding: 0 255px 0 0;
margin: 0 0 0 15px;
}


/* 
------------------------------
index styles
------------------------------
*/

#welcome {
padding: 20px 285px 50px 40px;
margin: 0;
background: transparent url(../images/welcome_bg.jpg) left 20px no-repeat;
}

#welcome h1 {
color: #333;
margin: 0 0 10px 0;
padding: 0;
font-size: 1.3em;
}

#welcome p {
color: #333;
padding: 0;
margin: 2px 0 10px 0;
}

/* quickSearch */

#qSearch {
float: right;
margin: 20px 0 0 0;
padding: 0 0 10px 0;
width: 275px;
background: transparent url(../images/qSearch_index_bg.jpg) right 20px no-repeat;
position: relative;
}

#qSearch h2 {
margin: 0 0 0 15px;
padding: 0;
font-size: 1.1em;
color: #666;
}

#qSearch h2 div.advSearch {
float: right;
text-align: right;
width: auto;
margin: 0 10px 0 0;
padding: 0;
font-size: 80%;
}

#qSearch h2 div.advSearch a {
font-weight: normal;
text-decoration: none;
color: #F00;
}

#qSearch h2 div.advSearch a:hover {
text-decoration: underline;
}

#qSearch a {
text-decoration: underline;
}

#qSearch a:hover {
text-decoration: none;
}

#qSearch p {
padding: 0;
margin: 6px 0 3px 30px;
}

#qSearch p.search {
margin: 20px 28px 0 30px;
padding: 15px;
border: 1px solid #CCC;
text-align: center;
background-color: #FFF;
}

#qSearch input {
font-size: 1.2em;
padding: 2px;
margin: 0;
text-align: left;
}


/* Homepage Browse */

#homepageBrowse {
margin: 0; 
padding: 0 10px 0 15px;
display: table;
width: 98%;
position: relative;
}

#homepageBrowse h4 {
font-size: 1.1em;
border-top: 2px solid #F7ECF0;
padding: 10px 0 0 0;
}

.left {
float:left;
width:32%;
margin: 0 15px 0 0; 
padding:0;
}

.left h3.instructions {
font-weight: normal;
color: #333;
font-size: 100%;
background-color: #E7DFC9;
border: 1px dotted #A6904C;
margin: 15px 0 10px 0;
padding: 5px 10px;
}

.left #atoz {
margin: 5px 0 15px 0;
padding: 0;
}

.left #atoz ul {
margin: 0;
padding: 5px 5px 5px 10px;
background: #E7DFC9;
text-align: left;
}

.left #atoz ul li {
display: inline;
list-style-type: none;
margin: 0 5px 0 0;
padding: 0 5px 0 0;
background: none;
font-size: 110%;
}

.left #atoz ul li.allSeries {
font-size: 90%;
}

.left #atoz ul li a:link, .left #atoz ul li a, .left #atoz ul li a:active {
color: #333;
margin: 0;
padding: 0;
text-decoration: none;
}

.left #atoz ul li a:visited {
color: #666;
margin: 0;
padding: 0;
text-decoration: none;
}

.left #atoz ul li a:hover {
text-decoration: underline;
}

.left #atoz ul li a.current {
color: #000;
font-weight: bold;
}

.middle {
float:left;
width:32%;
margin: 0; 
padding:0;
}

.right {
float:left;
width:32%;
margin: 0 0 0 15px; 
padding:0;
}

.right #information {
padding: 0;
margin: 20px 0 10px 0;
text-align: center;
}

.cleaner {
margin:0; 
padding:0;
clear: left;
height:1px;
}

/* subject */

#subjects {
padding: 10px 0 5px 0;
margin: 0;
border-bottom: 1px dotted #999;
border-top: 1px dotted #999;
}

#subjects ul {
margin: 0;
padding: 0;
}

#subjects ul li {
padding: 0 0 0 15px;
margin: 0 0 5px 0;
background: #FFF url(../images/index_icon.jpg) 2px 4px no-repeat;
}

#subjects ul li a {
font-weight: normal;
}

#subjects ul li a:hover {
text-decoration: underline;
}

/* 
------------------------------
static pages
------------------------------
*/

/* contact us page */

ul.contacts {
padding: 0;
margin: 0 0 20px ;
}

ul.contacts li {
padding: 0;
margin: 0 0 2px 0;
}

/* accessibility page */

ul li.title {
font-weight: bold;
margin: 10px 0 0 0;
}

/* terms of use */

ul.terms {
list-style: circle;
margin: 0 0 0 25px;
padding: 0;
}

ul.terms li {
margin: 0 0 5px 0;
padding: 0;
}


/* 
------------------------------
browse pages
------------------------------
*/

/* a to z */

#atoz {
margin: 5px 0 15px 0;
padding: 0;
}

#atoz ul {
margin: 0;
padding: 5px 5px 5px 0;
background: #E7DFC9;
text-align: center;
}

#atoz ul li {
display: inline;
list-style-type: none;
margin: 0 5px 0 0;
padding: 0 5px 0 0;
background: none;
font-size: 110%;
}

#atoz ul li.allSeries {
font-size: 90%;
}

#atoz ul li a:link, #atoz ul li a, #atoz ul li a:active {
color: #333;
margin: 0;
padding: 0;
text-decoration: none;
}

#atoz ul li a:visited {
color: #666;
margin: 0;
padding: 0;
text-decoration: none;
}

#atoz ul li a:hover {
text-decoration: underline;
}

#atoz ul li a.current {
color: #000;
font-weight: bold;
}

/* sorting */

#sort {
margin: 5px 0;
padding: 0;
}

#sort ul {
margin: 0;
padding: 7px 5px 7px 5px;
background: #E7DFC9;
text-align: left;
}

#sort ul li {
display: inline;
list-style-type: none;
margin: 0 5px 0 0;
padding: 0 5px 0 0;
background: none;
font-size: 90%;
border-right: 1px solid #333;
font-weight: bold;
color: #333;
}

#sort ul li a:link, #sort ul li a, #sort ul li a:active {
color: #333;
margin: 0;
padding: 0;
text-decoration: none;
font-weight: normal;
}

#sort ul li a:visited {
color: #666;
margin: 0;
padding: 0;
text-decoration: none;
}

#sort ul li a:hover {
text-decoration: underline;
}

#sort ul li a.current {
color: #333;
}


/* content */

#content .blurb {
border-bottom: 1px dotted #666;
min-height: 82px;
padding: 0 0 10px 0;
margin: 0;
}

/* subject tree */

div.subjectTree {
margin: 20px 0 0 0;
padding: 0;
}

div.subjectTree a {
font-weight: normal;
}

div.subjectTree img {
padding: 0;
margin: 0 7px 0 0;
line-height: 12px;
}

div.subjectTree ul.level1 {
margin: 0;
padding: 0;
}

div.subjectTree ul.level1 li {
margin: 0 0 5px 0;
padding: 0;
}

div.subjectTree ul.level1 li a {
font-weight: bold;
color: #666;
}

div.subjectTree ul.level2 {
margin: 5px 20px;
padding: 0;
}

div.subjectTree ul.level2 li {
margin: 0 0 5px 0;
padding: 0;
}

div.subjectTree ul.level2 li a {
font-weight: normal;
color: #333;
}

div.subjectTree ul.level3 {
margin: 5px 20px;
padding: 0;
}

div.subjectTree ul.level3 li {
margin: 0 0 5px 0;
padding: 0;
background: none;
}

div.subjectTree ul.level3 li.book {
margin: 0 0 5px 0;
padding: 0 0 0 10px;
background: #FFF url(../images/green_circle_icon.jpg) 0px 4px no-repeat;
}

div.subjectTree ul.level4 {
margin: 5px 20px;
padding: 0;
}

div.subjectTree ul.level4 li {
margin: 0 0 5px 0;
padding: 0 0 0 10px;
background: #FFF url(../images/green_circle_icon.jpg) 0px 4px no-repeat;
}


/* results */

#results {
padding: 10px 0;
margin: 0;
}

#results ul {
border-bottom: 1px dotted #666;
margin: 0 0 8px 0;
}

#results li.bookTitle {
margin: 0 0 2px 0;
}

#results li.bookTitle a {
font-weight: bold;
font-size: 110%;
color: #9B4664;
}

#results li.bookVolume {
padding: 0;
margin: 0 0 8px 0;
}

#results li.subTitle {
padding: 0;
margin: 0 0 8px 0;
font-weight: bold;
font-size: 90%;
color: #666;
}

#results li.bookAuthor {
padding: 0;
margin: 0 0 8px 0;
}

#results li.pubDate {
margin: 0 0 10px 0;
padding: 0;
font-size: 90%;
font-weight: bold;
color: #444;
}

#results li.ISBN {
padding: 0;
margin: 0 0 8px 0;
}

#results li.description {
padding: 0 0 8px 0;
margin: 0;
}

#results li.description a {
font-weight: normal;
text-decoration: underline;
font-size: 90%;
}

#results li.description a:hover {
text-decoration:  none;
}

/* indeces */

#index {
padding: 0;
margin: 0;
}

#index a {
font-weight: normal;
}

#index a:hover {
text-decoration: underline;
}

#index ul {
padding: 0;
margin: 0;
}

#index ul li {
padding: 8px 0;
margin: 0;
border-bottom: 1px solid #CCC;
}


/* 
------------------------------
pagination styles
------------------------------
*/

table.pagination {
padding: 0;
margin: 5px 0;
width: 100%;
border-bottom: 1px dotted #CCC;
}

table.pagination td {
margin: 0;
padding: 5px 0;
}

/* 
------------------------------
search_content styles
------------------------------
*/

#searchContent {
padding: 0 15px 0 0;
/*padding: 0;*/
margin: 0 0 0 15px;
}


/* query builder */

#searchContent .queryBuilder {
padding: 0;
margin: 20px 0 10px 0;
}

#searchContent select, #searchContent input {
margin: 0 10px 0 0;
padding: 0;
}

/* search results */

#searchContent .searchResults {
width: 100%;
padding: 0;
margin: 0 0 10px 0;
}

#searchContent .searchResults td {
margin: 0;
padding: 5px 15px 5px 0;
border-bottom: 1px dotted #666;
}

#searchContent .searchResults td.icon {
width: 50px;
padding: 15px 5px 5px 5px;
text-align: center;
vertical-align: top;
}

#searchContent .searchResults td ul {
margin: 10px 0;
padding: 0;
}

#searchContent .searchResults td .bookResultItem {
margin: 10px 0;
padding: 0;
}

#searchContent .searchResults td .bookResultItem a {
text-decoration: underline;
}

#searchContent .searchResults td .bookResultItem a:hover {
text-decoration: none;
}

#searchContent .searchResults td h3 {
padding: 0;
margin: 0;
font-size: 1em;
font-weight: normal;
}

#searchContent .searchResults td h3 span.bookTitle a {
font-weight: bold;
font-size: 110%;
color: #A6904C;
}

#searchContent .searchResults td h3 span.author, 
#searchContent .searchResults td ul li span.author {
font-weight: bold;
color: #666;
}

#searchContent .searchResults td .subtitle {
padding: 2px 0;
}

#searchContent .searchResults td ul li {
padding: 0;
margin: 0 0 2px 0;
line-height: 1.5em;
}

#searchContent .searchResults td ul li.publication {
font-size: 90%;
padding: 8px 0;
}

#searchContent .searchResults td ul li span.chapterTitle {
color: #666;
}

#searchContent .searchResults td ul li.snippet {
margin: 8px 0;
padding: 0;
}

#searchContent .searchResults td span.searchWord {
background-color: #E7DFC9; 
padding: 2px;
}

#searchContent .searchResults td ul li.page {
color: #666;
font-size: 90%;
padding: 0;
margin: 3px 0;
font-weight: bold;
}

#searchContent .searchResults td .buttons {
margin: 15px 0 10px 0;
padding: 0;
}

#searchContent .searchResults td .buttons input {
width: 135px;
text-align: left;
padding: 4px 0 4px 17px;
margin: 0 10px 0 0;
background: #FFF url(../images/pdf_icon.jpg) 1px 2px no-repeat;
}

#searchContent .searchResults td .buttons input.nopdf {
width: 135px;
text-align: left;
padding: 4px 0 4px 17px;
margin: 0 10px 0 0;
background: #FFF;
}

#searchContent .searchResults td .buttons input.disabled  {
cursor: inherit;
width: 135px;
text-align: left;
padding: 4px 0 4px 17px;
margin: 0 10px 0 0;
background: url(../images/pdf_icon_disabled.jpg) 1px 2px no-repeat;
color:#666;
}

#searchContent .searchResults td .rss input {
background:#FFFFFF url(../images/rss_icon.jpg) no-repeat scroll 1px 2px;
margin:0 10px 0 0;
padding:4px 0 4px 20px;
text-align:left;
width:170px;
}

#searchContent .searchResults td .rss_disabled input {
cursor: inherit;
background:#FFFFFF url(../images/rss_disabled.jpg) no-repeat scroll 1px 2px;
color:#666666;
margin:0 10px 0 0;
padding:4px 0 4px 20px;
text-align:left;
width:170px;
}


#searchContent .searchResults td.details {
width: 200px;
padding: 3px 0 0 0;
margin: 0;
font-size: 90%;
vertical-align: top;
}

#searchContent .searchResults td.details input.checkbox {
margin: 0;
padding: 0;
text-align: left;
}

#searchContent .searchResults td.details ul a {
font-weight: normal;
}

#content .searchResults td.details ul li.series {
padding: 0;
margin: 0 0 8px 0;
}

#searchContent .searchResults td.details ul li.series span.title {
font-weight: bold;
color: #A6904C;
}

#searchContent .searchResults td.details ul li.foreword {
padding: 0;
margin: 2px 0;
}

#searchContent .searchResults td.details ul li.contributions {
padding: 0;
margin: 0 0 8px 0;
}

#searchContent .searchResults td.details ul li.copyright {
padding: 0;
margin: 0 0 8px 0;
}

#searchContent .searchResults td.details ul li.isbn {
padding: 0;
margin: 2px 0;
}

#searchContent .searchResults td.details ul li.isbn span.title {
font-weight: bold;
color: #A6904C;
}

#searchContent .searchResults td.details ul li.doi {
padding: 0;
margin: 2px 0;
}

#searchContent .searchResults td.details ul li.doi span.title {
font-weight: bold;
color: #A6904C;
}

#searchContent .searchResults input {
margin: 0;
padding: 0;
}

#searchContent .searchResults input.button {
width: auto;
}

#searchContent .searchResults input disabled  {
color: red;
}

/* content tools */

#content p {
color: #333;
padding: 0;
margin: 2px 0 10px 0;
}

#content p img {
padding: 0;
margin: 0 10px 0 0;
}

#content p.note {
color: #A6904C;
padding: 0;
margin: 5px 0;
font-weight: bold;
font-size: 90%;
}

#content p.description {
padding: 0 0 10px 0;
margin: 0;
border-bottom: 1px dotted #666;
}

#content p.bookBlurb {
padding: 0 0 15px 0;
margin: 0;
border-bottom: 1px dotted #666;
}

#content p.builder {
margin: 0 0 10px 0;
padding: 0;
}

#content h1 {
color: #333;
margin: 15px 0 10px 0;
padding: 0;
font-size: 1.3em;
}

#content h2 {
font-size: 1.2em;
margin: 15px 0 10px 0;
padding: 0 0 5px 0;
border-bottom: 1px dotted #666;
color: #333;
}

#content h2 div.total {
float: right;
text-align: right;
width: auto;
margin: 0;
padding: 0;
font-weight: normal;
font-size: .8em;
}

#content h2 div.total span.totalNum {
font-weight: bold;
color: #9B4664;
}

#searchContent h2 {
font-size: 1.2em;
margin: 40px 0 0 0;
padding: 0 0 5px 0;
border-bottom: 1px dotted #666;
color: #333;
}

#searchContent h2 div.sortBy {
float: right;
text-align: right; 
width: auto;
margin: 0;
padding: 0;
font-size: 80%;
color: #666;
vertical-align: middle;
}

#content h3 {
color: #333;
font-size: 100%;
background-color: #E7DFC9;
border: 1px dotted #A6904C;
margin: 15px 0 10px 0;
padding: 5px 10px;
}

#content h3.instructions {
font-weight: normal;
color: #333;
font-size: 100%;
background-color: #E7DFC9;
border: 1px dotted #A6904C;
margin: 15px 0 10px 0;
padding: 5px 10px;
}

#content h3.SearchAgain img {
padding: 0;
margin: 0 5px 0 0;
}

#content h3.SearchAgain {
color: #333;
font-size: 100%;
background-color: #E7DFC9;
border: 1px dotted #A6904C;
margin: 15px 0 10px 0;
padding: 5px 10px;
}

#content h3 div.searchReturn {
float: right;
text-align: right;
width: auto;
margin: 0;
padding: 0;
}

#content h4 {
font-size: 1.1em;
margin: 15px 0 10px 0;
padding: 0 0 5px 0;
color: #A6904C;
}

#searchContent h4 {
font-weight: bold;
color: #333;
padding: 0;
margin: 15px 0 5px 0;
font-size: 1em;
}

#searchContent h4 img {
padding: 0;
margin: 0 5px 0 0;
}

#content h5 {
padding: 0 0 5px 0;
margin: 10px 0 10px 0;
color: #A6904C;
font-weight: bold;
font-size: 1.1em;
border-bottom: 1px dotted #666;
}

#content h6 {
padding: 0 0 5px 0;
margin: 10px 0 0 0;
color: #A6904C;
font-size: 1em;
font-weight: bold;
}

/* bottom buttons */

#bottomButtons {
margin: 0;
padding: 10px 0;
border-top: 1px dotted #666;
position: relative;
}

#bottomButtons div#rightButtons {
margin: 0;
padding: 0;
float: right;
}

#bottomButtons input.search {
color: #333;
cursor: pointer;
background: #FFFFFF;
font-size: 0.93em;
font-weight: bold;
}

#bottomButtons div.builderButtons {
position: relative;
}

#bottomButtons div.builderButtons input  {
float: right;
margin: 0px 10px 0 0;
padding: 0;
}

#bottomButtons div.builderButtons ul {
margin: 0px 0 0 0;
padding: 0;
}

#bottomButtons div.builderButtons ul li {
/* display: inline <--- does not work in ie 6 */ 
line-height: 0;
}
 

/* 
------------------------------
Book details styles
------------------------------
*/

#bookDetails {
margin: 15px 0 0 0;
padding: 10px 0 0 0;
border-color: #A6904C;
border-style: solid;
border-width: 1px 1px 1px 1px;
}

/* book jacket */

#bookjacket {
padding: 0;
margin: 5px 0 0 10px;
float: left;
}

#bookjacket p {
padding: 0;
margin: 0 0 20px 0;
}

#bookjacket p a {
padding: 0;
margin: 0;
color: #333;
font-weight: normal;
text-decoration: underline;
font-size: 90%;
}

#bookjacket p a:hover {
text-decoration: none;
}

#jacket {
padding: 0;
margin: 0 0 5px 0;
}

#jacket img {
border: 1px solid #A6904C;
}


/* details */

#details {
padding: 0;
margin: 0 0 30px 100px;
position: relative;
}

#bookDetails h4 {
padding: 0;
margin: 3px 0 3px 10px;
font-size: 1.3em;
color: #333;
}

#bookDetails h5 {
padding: 0;
margin: 3px 0 3px 10px;
font-size: 1.2em;
color: #666;
border: none;
}

#bookDetails ul {
padding: 0;
margin: 0 10px 0 10px;
}

#bookDetails ul li {
margin: 0;
padding: 0;
}

#bookDetails ul li.subtitle {
padding: 0;
margin: 0 0 15px 0;
font-size: 1.1em;
}

#bookDetails ul li.bookAuthor {
padding: 0;
margin: 0 0 3px 0;
}

#bookDetails ul li.affiliation {
padding: 0;
margin: 0 0 15px 0;
font-style: italic;
}

#bookDetails ul li.chapterPage {
padding: 0;
margin: 0 0 15px 0;
font-weight: bold;
color: #333;
}

#bookDetails ul li.chapterContributors {
padding: 0;
margin: 0 0 3px 0;
font-size: 90%;
}

#bookDetails ul li.chapterDOI {
padding: 0;
margin: 0 0 15px 0;
font-size: 90%;
}

#bookDetails ul li.chapterPDF {
padding: 5px 0 0 25px;
margin: 0 0 35px 0;
background: #FFF url(../images/pdf_icon.jpg) 0 0 no-repeat;
}

#bookDetails ul li.chapterPDF-disabled {
padding: 5px 0 0 25px;
margin: 0 0 35px 0;
background: #FFF url(../images/pdf_icon_disabled.jpg) 0 0 no-repeat;
}

#bookDetails ul li.chapterPDF a {
color: #A5904C;
text-decoration: underline;
}

#bookDetails ul li.chapterPDF a:hover {
color: #333;
text-decoration: none;
}

#bookDetails ul li.seriesName {
padding: 0;
margin: 0 0 3px 0;
font-weight: bold;
color: #A5904C;
}

#bookDetails ul li.editionNav {
padding: 0;
margin: 0 0 15px 0;
font-weight: bold;
color: #A5904C;
}

#bookDetails ul li.editionNav a {
color: #666;
font-weight: normal;
text-decoration: underline;
}

#bookDetails ul li.editionNav img {
text-decoration: none;
margin: 0 5px 0 0;
}

#bookDetails ul li.editionNav a:hover {
text-decoration: none;
color: #333;
}

#bookDetails ul li.forewordAuthor {
padding: 0;
margin: 0 0 3px 0;
}

#bookDetails ul li.contributionsAuthor {
padding: 0;
margin: 0 0 3px 0;
}

#bookDetails ul li.copyright {
padding: 0;
margin: 0 0 3px 0;
font-weight: bold;
color: #A5904C;
font-size: 90%;
}

#bookDetails ul li.printpubDate {
margin: 0 0 3px 0;
padding: 0;
font-size: 90%;
}

#bookDetails ul li.onlinepubDate{
margin: 0 0 15px 0;
padding: 0;
font-size: 90%;
}

#bookDetails ul li.ISBNs {
padding: 0;
margin: 0 0 3px 0;
font-size: 90%;
}

#bookDetails ul li.ISBNs span.title, #bookDetails ul li.subjects span.title,
#bookDetails ul li.chapterContributors span.title, #bookDetails ul li.chapterDOI span.title {
font-weight: bold;
color: #A5904C;
}

#bookDetails ul li.subjects {
padding: 0;
margin: 15px 0;
font-size: 90%;
}

#bookDetails ul li.subjects a {
font-weight: normal;
text-decoration: underline;
}

#bookDetails ul li.subjects a:hover {
text-decoration: none;
}

#bookDetails ul li.bookDOI {
font-size: 90%;
padding: 0;
margin: 0 0 15px 0;
}

/* tabs */

.tabsContainer {
margin: 0 5px 0 5px;
}

ul#tabs {
padding: 3px 0;
font-size: 0.92em;
margin: 0 5px 0px 5px; 
}

ul#tabs li {
list-style: none;
margin: 0;
display: inline;
}

ul#tabs li a {
padding: 3px 5px;
margin-right: 3px;
border-style: solid;
border-width: 1px 1px 0 1px;
border-color: #A5904C;
background-color: #A6904C;
color: #FFF;
text-decoration: none;
\float: left; /* fed only to IE5.* */
}

ul#tabs li a:hover {
padding: 3px 5px 4px 5px;
background-color: #FFFFFF;
color: #333;
}

ul#tabs li a.current {
padding: 3px 5px 4px 5px;
background: #FFFFFF;
color: #333;
}


/* 
------------------------------
content loader
------------------------------
*/


#content .loader {
height: 500px;
text-align: center;
}

#content .loader img {
border: none;
margin: 0;
padding: 15% 0 0 0;
}


/* 
------------------------------
book content styles styles
------------------------------
*/

.contentWrapper {
padding: 0;
margin: 10px 0;
}

.contentWrapper a {
color: #A5904C;
font-weight: normal;
text-decoration: underline;
}

#content .contentWrapper p {
margin: 0 0 5px 0;
padding: 2px 0;
}

.contentWrapper p.author {
text-align: right;
}

.contentWrapper p .italic {
font-style: italic;
}

#content .contentWrapper .header {
font-weight: bold;
font-size: 1.1em;
padding: 5px;
margin: 5px 0 15px 0;
background-color: #E7DFC9;
}

.contentWrapper .header div.headerTools {
float: right;
text-align: right;
margin: 0;
padding: 0;
font-size: 90%;
font-weight: normal;
}

.contentWrapper .header div.headerTools a {
text-decoration: underline;
color: #000;
}

.contentWrapper .header div.headerTools a:hover {
text-decoration: none;
}

.contentWrapper table#toc {
padding: 0;
margin: 0;
width: 100%;
}

.contentWrapper table#toc td {
padding: 5px 0;
margin: 0;
border-bottom: 1px dotted #666;
}

.contentWrapper table#toc td.pageNum {
width: 10%;
}

.contentWrapper table#toc td ul {
padding: 0 0 0 10px;
margin: 0;
}

.contentWrapper table#toc td ul li {
padding: 0;
margin: 3px 0;
}

.contentWrapper table#toc td ul li.title {
font-weight: bold;
color: #666;
}

.contentWrapper table#toc td ul li.title a {
font-weight: bold;
color: #666;
text-decoration: none;
}

.contentWrapper table#toc td ul li.title a:hover {
text-decoration: underline;
}

.contentWrapper table#toc td ul li.contributor {
padding: 0 0 0 18px;
margin: 3px 0;
font-size: 90%;
color: #333;
}

.contentWrapper table#toc td ul li.read {
padding: 4px 0 4px 25px;
margin: 6px 0;
font-weight: normal;
color: #666;
font-size: 90%;
background: #FFF url(../images/pdf_icon.jpg) 0 0 no-repeat;
}

.contentWrapper table#toc td ul li.read-disabled {
padding: 4px 0 4px 25px;
margin: 6px 0;
font-weight: normal;
color: #666;
font-size: 90%;
background: #FFF url(../images/pdf_icon_disabled.jpg) 0 0 no-repeat;
}

.contentWrapper table#toc td ul li.read span.explore {
background: #FFF url(../images/subchapter_icon.jpg) 0 4px no-repeat;
padding: 4px 0 4px 18px;
margin: 6px 0;
}

.contentWrapper table#toc td ul li.read span a {
font-weight: bold;
color: #A5904C;
padding: 0;
}

.contentWrapper table#toc td ul li.read span a:hover {
text-decoration: none;
}


.contentWrapper .extractImage {
padding: 0;
margin: 0;
text-align: center;
}

.contentWrapper .extractImage img {
border: 1px solid #666;
width: 490px;
height: 740px;
}

/* references */

#content .contentWrapper p.refTitle {
font-weight: bold;
margin: 0;
padding: 0 0 10px 10px;
}

#content .contentWrapper p.refType {
font-weight: bold;
margin: 0;
padding: 0 0 15px 10px;
}

#content .contentWrapper p.refEntry {
padding: 0;
margin: 8px 10px 8px 20px;
}

#content .contentWrapper p.refEntry span.refIcon {
display: block;
padding: 0;
margin: 8px 0;
}

#content .contentWrapper p.refEntry span.refIcon span.icon {
padding: 0;
margin: 0 10px 0 0;
}

 /* 
------------------------------
right navigation styles
------------------------------
*/

#navigationColumn {
float: right;
margin: -10px 15px 0 0;
padding: 0 0 10px 0;
width: 220px;
position: relative;
}

/* 
------------------------------
right navigation menu styles
------------------------------
*/

/* IP logo */

.IPLogo {
margin: 0 0 20px 0;
padding: 13px 0 0 0;
text-align: center;
background: transparent url(../images/IP_logo_top.gif) top no-repeat;
}

.IPLogo ul {
margin: 0;
padding: 0;
}

.IPLogo ul li {
background: transparent url(../images/IP_logo_bg.gif) repeat-y;
margin: 0 0 0 0;
padding: 0 25px 10px 25px;
font-size: 90%;
color: #666;
}

.IPLogo ul li.ipName {
font-weight: bold;
padding: 0 35px 15px 30px;
}

.IPLogo ul li.heading {
color: #9B4664;
font-weight: bold;
text-align: left;
padding: 0 25px 5px 35px;
}

.IPLogo ul li img {
height: 35px;
width: 85px;
border: 1px solid #CCC;
}

.IPLogo ul li.bottom {
background: transparent url(../images/IP_logo_bottom.gif) bottom no-repeat;
margin: 0;
padding: 0 0 0 30px;
}

/* quick search */

.quickSearch {
margin: 0 0 20px 0;
padding: 13px 0 0 0;
text-align: center;
background: transparent url(../images/qsearch_top.gif) top no-repeat;
}

.quickSearch input {
width: 150px; 
}

.quickSearch a {
text-decoration: underline;
color: #666;
}

.quickSearch a:hover {
text-decoration: none;
}

.quickSearch ul li {
background: transparent url(../images/qsearch_bg.gif) repeat-y;
margin: 0 0 0 0;
padding: 0 25px 10px 25px;
font-size: 90%;
color: #666;
font-size: 1em;
}

.quickSearch ul li.searchLink {
background: transparent url(../images/qsearch_bg.gif) repeat-y;
margin: 0 0 0 0;
padding: 0 25px 0 35px;
font-size: 90%;
color: #999;
text-align: left;
}

.quickSearch ul li.searchLink .help {
width: 20px;
float: right;
padding: 0 15px 0 0;
position: relative;
}

.quickSearch ul li.searchLink .help a {
color: #9B4664;
font-size: 90%;
font-weight: normal;
}

.quickSearch ul li.heading {
color: #9B4664;
font-weight: bold;
text-align: left;
padding: 0 25px 5px 35px;
font-size: 1.2em;
}

.quickSearch ul li.bottom {
background: transparent url(../images/qsearch_bottom.gif) bottom no-repeat;
margin: 0;
padding: 0 0 0 30px;
}

/* recommend this to a librarian */

#recommend {
padding: 0;
margin: 0 0 15px 0;
background: #FFF url(../images/recommend.jpg) 0px 0px no-repeat;
position: relative;
}

#recommend a {
color: #A5904C;
text-decoration: none;
font-weight: normal;
}

#recommend a:hover {
color: #333;
}

#recommend ul {
padding: 0;
margin: 0;
}

#recommend ul li {
margin: 0 0 0 35px;
padding: 9px 0 9px 0;
border-bottom: 1px dotted #A6904C;
}

/* related links */

.relatedLinks {
border-top: 1px dotted #666;
border-bottom: 1px dotted #666;
background: #F7ECF0;
padding: 5px 0;
margin: 0 0 15px 0;
font-size: 90%;
position: relative;
}

.relatedLinks a {
font-weight: normal;
}

.relatedLinks ul {
margin: 0;
padding: 0;
}

.relatedLinks ul li {
margin: 5px;
padding: 0 0 0 18px;
background: transparent url(../images/circle_icon.jpg) 5px 5px no-repeat;
}

/* supplementary material */

.suppMatl {
border-top: 1px dotted #666;
border-bottom: 1px dotted #666;
background: #F7ECF0;
padding: 5px 0;
margin: 0 0 15px 0;
font-size: 90%;
position: relative;
}

.suppMatl a {
font-weight: normal;
}

.suppMatl ul {
margin: 0;
padding: 0;
}

.suppMatl ul li {
margin: 5px;
padding: 0 0 0 18px;
background: transparent url(../images/circle_icon.jpg) 5px 5px no-repeat;
}

/* book links */

.bookLinks {
border-top: 1px dotted #666;
border-bottom: 1px dotted #666;
background: #F7ECF0;
padding: 5px 0;
margin: 0 0 15px 0;
font-size: 90%;
position: relative;
}

.bookLinks a {
font-weight: normal;
}

.bookLinks ul {
margin: 0;
padding: 0;
}

.bookLinks ul li {
margin: 5px;
padding: 0 0 0 18px;
background: transparent url(../images/arrow_icon.jpg) 5px 5px no-repeat;
}

/* menu options */

div.menu {
margin: 0 0 10px 0;
padding: 0;
width: 220px;
position: relative;
}

div.menu h2 {
color: #9C4764;
font-size: 1em;
font-weight: 700;
margin: 0;
padding: 6px 5px 6px 22px;
background: #F7ECF0 url(../images/heading_bg.jpg) 3px 5px no-repeat;
}

div.menu h2.links {
color: #9C4764;
font-size: 1em;
font-weight: 700;
margin: 0;
padding: 6px 5px 6px 5px;
background: #F7ECF0;
}

#navigationColumn div.menu ul {
margin: 0;
padding: 0;
}

#navigationColumn div.menu ul.links {
font-size: 90%;
}

#navigationColumn div.menu ul li {
margin: 0;
}

#navigationColumn div.menu ul li a:link {
border-bottom: 1px dotted #666;
display: block;
padding: 5px 5px 5px 5px;
width: 210px;
\width: 220px;
w\idth: 210px;
color: #333;
text-decoration: none;
font-weight: normal;
}

#navigationColumn div.menu ul li a:hover {
background-color: #F7ECF0;
color: #666;
}

#navigationColumn div.menu ul li a:visited {
border-bottom: 1px dotted #666;
display: block;
padding: 5px 5px 5px 5px;
width: 210px;
\width: 220px;
w\idth: 210px;
color: #333;
text-decoration: none;
font-weight: normal;
}

#navigationColumn div.menu ul li img {
margin: 0;
padding: 0;
}

#navigationColumn div.menu ul li ul.level2 {
margin: 0;
padding: 0;
font-size: 90%;
}

#navigationColumn div.menu ul li ul.level2 li {
width: 202px;
\width: 212px;
w\idth: 202px;
display: block;
background: transparent url(../images/index_icon.jpg) 7px 9px no-repeat;
}

#navigationColumn div.menu ul li ul.level2 li a {
padding: 5px 0px 5px 18px;
width: 202px;
\width: 212px;
w\idth: 202px;
display: block;
font-weight: bold;
color: #9C4764;
background: #FFF url(../images/level_icon.gif) 7px 9px no-repeat;
}

#navigationColumn div.menu ul li ul.level2 li a:hover {
background: #F7ECF0 url(../images/level_icon.gif) 7px 9px no-repeat;
color: #666;
}


/* 
------------------------------
external banner
------------------------------
*/

.externalbanner {
margin: 0 0 10px 1px;
text-align: center;
}


/* 
------------------------------
footer styles
------------------------------
*/


#footer {
border-top: 3px solid #A6904C;
margin: 20px 0 0 0;
padding: 0;
font-size: 90%;
position: relative;
}

#footer a { 
font-weight: normal;
}

#footer ul li {
display: inline;
} 

#footer .thirdpartyBanners {
background: #BBCCCC url(../images/cam_shield.gif) 95% 10px no-repeat;
padding: 0 10px 10px 15px;
margin: 0;
}

#footer .thirdpartyBanners ul {
margin: 0;
padding: 10px 0 0 0;
}

#footer .thirdpartyBanners ul li {
margin: 0 5px 0 0;
padding: 0;
}

#footer .thirdpartyBanners img {
height: 32px;
}

#footer .camLinks {
margin: 0;
padding: 0 5px 0 10px;
position: relative;
}

#footer .camLinks ul {
padding: 0;
margin: 10px 0;
}

#footer .camLinks ul li {
border-right: 1px solid #333;
padding: 0 5px 0 0;
margin: 0 0 0 5px; 
}

#footer .camLinks ul li.last {
border: none;
}

#footer .copyright {
padding: 10px 10px 10px 10px;
margin: 0;
background: #BBCCCC;
}

#footer .copyright ul li {
border-right: 1px solid #333;
padding: 0 5px 0 0;
margin: 0 0 0 5px; 
}
