div.subjectTree {
	margin: 20px 0 0 0;
	padding: 0;
	}

div.subjectTree a {
	font-weight: normal;
	}

div.subjectTree img {
	padding: 0;
	margin: 0 7px 0 0;
	line-height: 12px;
	}

div.subjectTree ul.level1 {
	margin: 0;
	padding: 0;
	}

div.subjectTree ul.level1 li {
	margin: 0 0 5px 0;
	padding: 0;
	}

div.subjectTree ul.level1 li a {
	font-weight: bold;
	color: #000;
	}

div.subjectTree ul.level2 {
	margin: 5px 20px;
	padding: 0;
	}

div.subjectTree ul.level2 li {
	margin: 0 0 5px 0;
	padding: 0;
	}

div.subjectTree ul.level2 li a {
	font-weight: normal;
	color: #000;
	}

div.subjectTree ul.level3 {
	margin: 5px 20px;
	padding: 0;
	}

div.subjectTree ul.level3 li {
	margin: 0 0 5px 0;
	padding: 0;
	background: none;
	}

div.subjectTree ul.level3 li.book {
	margin: 0 0 5px 0;
	padding: 0 0 0 10px;
	background: #fff url(../images/green_circle_icon.gif) 0px 6px no-repeat;
	}

div.subjectTree ul.level4 {
	margin: 5px 20px;
	padding: 0;
	}

div.subjectTree ul.level4 li {
	margin: 0 0 5px 0;
	padding: 0 0 0 10px;
	background: #fff url(../images/green_circle_icon.gif) 0px 6px no-repeat;
	}
