/* 

----------------------------------------

CBO ADMIN

CSS document

Modified Date: 10-March-2010

----------------------------------------

*/



/* 

------------------------------

html styles

------------------------------

*/



body {

background: #FFFFFF;

color: #000000;

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size: 70%;

margin: 0;

padding: 0;

}



ul {

list-style-type: none;

margin: 0;

padding: 0;

}



li {

margin: 0;

padding: 0;

}



table {

font-size: 1em;

}



td {

vertical-align: top;

}



form {

margin: 0;

padding: 0;

}



img {

border: none;

}



/* 

------------------------------

standard link styles

------------------------------

*/



a {

color: #056690;

text-decoration: underline;

}



a:hover {

text-decoration: none;

}



/* 

------------------------------

tools

------------------------------

*/



input, textarea, select {

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size: 1em;

margin: 0;

padding: 0;

}


input.button {
	
color: #000000;

cursor: pointer;

background: #FFF;

font-size: 0.92em;

}

/*

------------------------------

strip & close divs

------------------------------

*/



#strip {

font-size: 0.93em;

margin: 20px 0 10px 0;

padding: 0 10px 50px 10px;

clear: both;

}



#strip.home {

margin: 20px 0 20px 0;

}



#strip img {

float: left;

}



#strip h1 {

display: none;

}







/* 

------------------------------

structural css

------------------------------

*/





#content {

vertical-align: top;

padding: 0 10px 0 0;

}






/* 

------------------------------

centre styles

------------------------------

*/



#content h1 {

background: #056690;

clear: right;

color: #FFFFFF;

font-size: 1.1em;

font-weight: 700;

margin: 0 0 5px 0;

padding: 4px 5px 4px 10px;

}




#content p {

margin: 0 0 10px 0;

padding: 0;

}






/*

------------------------------

iFrame

------------------------------

*/



#content #iFrame {

margin: 10px auto;

padding: 0;

width: 770px;

}


#content #iFrame iframe {
	
width: 770px;

height: 500px;

margin: 0 auto;

border: none;

}



/*

------------------------------

agreement

------------------------------

*/


#agreement {

background: #F2FBFF;

margin: 10px auto;

padding: 10px 20px;

width: 730px;

border: 1px solid #CCC;

}


#agreement table {

margin: 0;

padding: 0;

}


#agreement table td {
	
padding: 10px 0;

margin: 0;

vertical-align: middle;

}


#agreement table tr.borderTop td {

border-top: 1px solid #CCC;

padding: 10px 0;

}


#agreement table td.title {
	
font-weight: bold;

}


#agreement table td.fields input {

width: 200px;

}




/*

------------------------------

footer

------------------------------

*/



#footer {

color: #666666;

font-size: 0.93em;

border-top: solid 1px #CCCCCC;

margin: 10px 0 0 0;

padding: 10px 0 10px 10px;

white-space: nowrap;

}



#footer img {

padding: 0 10px 10px 10px;

margin: 0;

float: right;

}



#footer ul {

white-space: nowrap;

}



#footer ul li {

display: inline;

}



#footer ul li a {

color: #666666;

}



/* 

----------------------------------------

End of CSS document

----------------------------------------

*/