/*errors*/

label.error { 
color: #f00;
display: block;
font-weight: bold;
font-family: arial;
font-size: 12px;
font-style: italic;
margin: 0;
padding: 0;
}

div.errorContainer {
display: block;
}

div.errorContainer label.error {
display: inline;
width: 40%;
padding-left: 5px;
}	

input.error, select.error {
border: 1px dotted #f00;
background-color: #faa;

}

/* message */
div.message {
border: 1px dotted #f81;
background-color: #ffa;
vertical-align: middle;
padding-left: 5px;
}

div.message p {
vertical-align: middle; 
}

div.message p img{
margin: 10px 20px 0 10px;
}

div.message img {
vertical-align: middle;
padding-right: 3px;
}